{% extends "public/layout/layout.html" %}
{% block content %}
    <div class="wrapper">
        <div class="container padding mainContent">
            <div class="container">
                <div class="row gutters">
                    <div class="col span_12">
                        <h1>HOTEL INFO</h1>

                        <!--<p><strong>Please note that all Kingsters will check in at the hospitality desk in the lobby-->
                            <!--area of the hotel</strong>-->
                        <!--</p>-->
                        <h4 class="color3">PRINCESS HOTEL</h4>

                        <p><strong>Address:</strong> Diagonal, 1 - 08019 Barcelona (Barcelona)<br/>
                            <string>Click to see the map:</string>
                            <a href="https://goo.gl/wb0KWV" target="_blank">https://goo.gl/wb0KWV</a><br/>
                            <strong>Website:</strong> <a href="http://www.hotelbarcelonaprincess.com/" target="_blank">http://www.hotelbarcelonaprincess.com/</a><br/>
                            <strong>Information number:</strong> +34 93 356 10 00<br/>
                            <strong>Reservations number:</strong> +34 93 356 10 00<br/>
                            <strong>Breakfast:</strong> Num 1 Restaurant (1st floor) & Mediterraneo Foyer (2nd floor)
                            –Time: 07:00h-10:30h
                            Monday-Friday // 07:00h – 10:30h Saturday<br/>
                            <strong>Wifi code:</strong> Hall PRINCESSHALL 02468 / Rooms: will be informed at check
                            in<br/>
                            <strong>Gym & Sauna:</strong> (3rd floor) 07:00h – 22:00h<br/>
                            <strong>Bar: Corner Bar (lobby): 09:00h – 01:00h</strong><br/>
                            <strong>Restaurant:</strong> Estrella (1th floor): 20:00h – 23:00h
                            <strong>Closest public transportation:</strong> Metro L4 Maresme Forum and Bus H16<br/>
                            <strong>Check out Time:</strong> 12:00h
                        </p>
                        <h4 class="color3">HILTON DIAGONAL MAR</h4>

                        <p><strong>Address:</strong> Passeig del Taulat 262 - 08019 Barcelona<br/>
                            <strong>Click to see the map:</strong> <a href="https://goo.gl/XewxBs"
                                                                      target="_blank">https://goo.gl/XewxBs</a><br/>
                            <strong>Website:</strong> <a href="http://www.hiltondiagonalmarbarcelonahotel.com/"
                                                         target="_blank">http://www.hiltondiagonalmarbarcelonahotel.com/</a><br/>
                            <strong>Information number:</strong> +34 93 507 07 07 <br/>
                            <strong>Reservations number:</strong> +34 93 507 00 80<br/>
                            <strong>Breakfast:</strong> Indigo Restaurant (1th floor) - Time: 07:00h-10:30h
                            Monday-Friday // 08:00h – 11:00h
                            Saturday<br/>
                            <strong>Wi-Fi code:</strong> KING112015<br/>
                            <strong>Gym:</strong> (1th floor) – open 24h<br/>
                            <strong>Bar:</strong> Pistaccio (ground floor): 07:00h – 02:00h<br/>
                            <strong>Restaurant:</strong> Indigo (1th floor) – Lunch: 12:30 – 15:30h // Diner 19:00h –
                            23:00h<br/>
                            <strong>Closest public transportation:</strong> Metro L4 Maresme Forum and Bus H16 <br/>
                            <strong>Check out Time:</strong> 16:00h</p>
                        <h4 class="color3">AC MARRIOT</h4>

                        <p><strong>Address:</strong> Passeig del Taulat 278 - 08019 Barcelona<br/>
                            <strong>Click to see the map:</strong> <a href="https://goo.gl/UlLjzT"
                                                                      target="_blank">https://goo.gl/UlLjzT</a><br/>
                            <strong>Website:</strong> <a
                                    href="http://www.marriott.com/hotels/travel/bcnfo-ac-hotel-barcelona-forum/"
                                    target="_blank">http://www.marriott.com/hotels/travel/bcnfo-ac-hotel-barcelona-forum/</a><br/>
                            <strong>Information number:</strong> +34 93 489 82 00<br/>
                            <strong>Reservations number:</strong> +900 99 44 22<br/>
                            <strong>Breakfast:</strong> Restaurant Dia & Nit (4th floor) - Time: 07:00- 10:00h
                            Monday-Friday // 08:00h-11:00h
                            Saturday <br/>
                            <strong>Wi-Fi code:</strong> will be informed at check in<br/>
                            <strong>Fitness:</strong> (13th Floor): 07:00h -23:00h<br/>
                            <strong>Sauna & Jacuzzi:</strong> (13th Floor): 09:00h-21:00h<br/>
                            <strong>Bar (1th floor):</strong> 10:00h – 00:00h<br/>
                            <strong>Restaurant:</strong> Dia & Nit(4th floor) – Time: Lunch: 13:00h a 15:30h // Dinner
                            19:00h-23:00h <br/>
                            <strong>Closest public transportation:</strong> Metro L4 Maresme Forum and Bus H16 <br/>
                            <strong>Check out Time:</strong> 12:00h</p>
                        <h4 class="color3">SB DIAGONAL ZERO</h4>

                        <p><strong>Address:</strong> Plaça de Llevant, s/n - 08019 Barcelona<br/>
                            <strong>Click to see the map:</strong> <a href="https://goo.gl/y1nyBq"
                                                                      target="_blank">https://goo.gl/y1nyBq</a><br/>
                            <strong>Website:</strong> <a href="http://www.hoteldiagonalzero.com/en/" target="_blank">http://www.hoteldiagonalzero.com/en/</a><br/>
                            <strong>Information number:</strong> +34 93 507 80 00<br/>
                            <strong>Breakfast:</strong> Restaurant (main floor) - Time: 07:00h-10:30h Monday-Friday //
                            07:00h – 11:00h
                            Saturday<br/>
                            <strong>Wi-Fi code:</strong> open, no code needed<br/>
                            <strong>Gym:</strong> (-1 floor) – 07:00h – 23:00h<br/>
                            <strong>Spa:</strong> (-1 floor) – 10:00h – 21:00h<br/>
                            <strong>Bar:</strong> (main floor): 10:00h – 02:00h<br/>
                            <strong>Restaurant:</strong> Eco (main floor) – Lunch: 13:00 – 16:00h // Diner 20:00h –
                            23:00h<br/>
                            <strong>Closest public transportation:</strong> Metro L4 Maresme Forum and Bus H16 <br/>
                            <strong>Check out Time:</strong> 16:00h</p>
                        <h4 class="color3">VINCCI MARITIMO</h4>

                        <p><strong>Address:</strong> C/ Llull, 340 - 08019 Barcelona<br/>
                            <strong>Click to see the map:</strong> <a href="https://goo.gl/lGjRjR"
                                                                      target="_blank">https://goo.gl/lGjRjR</a><br/>
                            <strong>Website:</strong> <a
                                    href="http://www.vinccihoteles.com/eng/Hotels/Spain/Barcelona/Vincci-Maritimo"
                                    target="_blank">http://www.vinccihoteles.com/eng/Hotels/Spain/Barcelona/Vincci-Maritimo</a><br/>
                            <strong>Information number:</strong> +34 93 356 26 00<br/>
                            <strong>Reservations number:</strong> +34 902 454 585<br/>
                            <strong>Breakfast:</strong> Room Mar (-1th floor) – Time: 07:00h-10:30h Monday-Friday //
                            07:30h – 11:00h
                            Saturday<br/>
                            <strong>Wi-Fi code:</strong> will be informed at check in<br/>
                            <strong>Spa-Fitness:</strong> has not got this facilities<br/>
                            <strong>Bar:</strong> Ikebana (main floor): 10:30h – 00:00h<br/>
                            <strong>Restaurant:</strong> Jardí del Mar (main floor): Lunch 13:30h – 15:30h // Dinner
                            20:30h – 23:00h<br/>
                            <strong>Closest public transportation:</strong> Metro L4 Selva de Mar <br/>
                            <strong>Check out Time:</strong> 12:00h</p>
                        <h4 class="color3">VINCCI BIT</h4>

                        <p><strong>Address:</strong> C/ Josep Plà, 69 - 08019 Barcelona<br/>
                            <strong>Click to see the map:</strong> <a href="https://goo.gl/sxDbnU"
                                                                      target="_blank">https://goo.gl/sxDbnU</a><br/>
                            <strong>Website:</strong> <a
                                    href="http://www.vinccihoteles.com/eng/Hotels/Spain/Barcelona/Vincci-Bit"
                                    target="_blank">http://www.vinccihoteles.com/eng/Hotels/Spain/Barcelona/Vincci-Bit</a><br/>
                            <strong>Information number:</strong> +34 93 165 74 20<br/>
                            <strong>Reservations number:</strong> +34 902 454 585<br/>
                            <strong>Breakfast:</strong> Sala Wupu (-1th floor) & Public Restaurant: 07:00h-10:00h
                            Monday-Saturday<br/>
                            <strong>Wifi code:</strong> will be informed at check in<br/>
                            <strong>Spa:</strong> no spa facilities<br/>
                            <strong>Fitness:</strong> (8th Floor): 10:00h-21:00h<br/>
                            <strong>Bar:</strong> Snash Bit Bar (main floor): 10:30h – 00:00h<br/>
                            <strong>Restaurant:</strong> Hopen (main floor): 13:30-15:30 // 20:30-23:00<br/>
                            <strong>Closest public transportation:</strong> Metro L4 Maresme Forum and Bus H16 <br/>
                            <strong>Check out Time:</strong> 12:00h</p>
                        <h4 class="color3">TRYP CONDAL MAR</h4>

                        <p><strong>Address:</strong> Cristobal de Moura, 138 – 08019 Barcelona <br/>
                            <strong>Click to see the map:</strong> <a href="https://goo.gl/h2bbHh"
                                                                      target="_blank">https://goo.gl/h2bbHh</a><br/>
                            <strong>Website:</strong> <a
                                    href="http://www.melia.com/en/hotels/spain/barcelona/tryp-barcelona-condal-mar-hotel/index.html"
                                    target="_blank">http://www.melia.com/en/hotels/spain/barcelona/tryp-barcelona-condal-mar-hotel/index.html</a><br/>
                            <strong>Information number:</strong> +34 93 307 77 27<br/>
                            <strong>Reservations number:</strong> +34 912 76 47 47 / 902 14 44 40<br/>
                            <strong>Breakfast:</strong> Restaurant (main floor) – Time: 07:30h – 10:30h Monday-Friday //
                            07:00h – 11:00h
                            Saturday <br/>
                            <strong>Wifi code:</strong> Free <br/>
                            <strong>Gym & Sauna:</strong> (-1 floor) - open 24h<br/>
                            <strong>Bar:</strong> (main floor): 12.00h - 00.00h<br/>
                            <strong>Restaurant:</strong> (main floor): Open 13.00h – 15.00h<br/>
                            <strong>Closest public transportation:</strong> Metro L4 Selva de Mar or Maresme Forum<br/>
                            <strong>Check out Time:</strong> 12:00h</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}