{% extends "public/layout/layout.html" %}
{% block content %}
    <div class="wrapper">
        <div class="container padding mainContent">
            <div class="container">
                <div class="row gutters">
                    <div class="col span_12">
                        <h1>NIGHTLIFE</h1>

                        <p>There’s a lot of places to go out at night but remember that a tradition in Barcelona is to
                            bar hop before going to a nightclub!</p>

                        <p>Here you will find some of the trendiest clubs:</p>

                        <p><strong>PORT OLÍMPIC - CDLC</strong>, <strong>Shoko</strong> and <strong>Opium Mar:</strong>
                            exclusive and very famous clubs on the sea front with well recognized international djs and
                            commercial music</p>

                        <p><strong>POBLENOU – Sala Razzmataz:</strong> Very recommended under the culture and leisure
                            referrals in Barcelona, this space is well known for its variety of music groups and djs.
                            Different spaces with different styles.</p>

                        <p><strong>PLAZA REAL – Sidecar Factory Club:</strong> famous for alternative types of music
                            such as rock, punk, indie and experimental, it’s an alternative to conventional clubs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}