{% extends "public/layout/layout.html" %}
{% block content %}
    <div class="wrapper">
        <div class="container padding mainContent">
            <div class="container">
                <div class="row gutters">
                    <div class="col span_12">
                        <h1>RESTAURANT GUIDE</h1>

                        <h3 class="color3">Something close by</h3>

                        <p>Next to the hotels you will find Diagonal Mar Commercial Gallery. There are various dining
                            options inside the shopping center, see below some recommendations:</p>

                        <p><strong>Filburg:</strong> best quality burgers available at great prices!</p>

                        <p><strong>La tagliatella:</strong> Italian cuisine restaurant.</p>

                        <p><strong>La casa del pescado:</strong> specialized in seafood, purchased directly from the
                            fish market.</p>

                        <p><strong>Sagardi:</strong> basque cuisine with more than 80 varieties of pinchos (tapas)</p>

                        <p>Find more information here: <a href="http://www.diagonalmarcentre.es/en" target="_blank">http://www.diagonalmarcentre.es/en</a>
                        </p>

                        <h3 class="color3">Where to eat in Poblenou (near the event venue)</h3>

                        <p>Poblenou Neighborhood is a box of surprises only 10 minutes’ walk away! It’s one of the most
                            overlooked areas in Barcelona as it going through an intense transformation in the past
                            decade, with the development of new areas and the replacement and renovation of the old
                            factories and warehouses into new office buildings, cool lofts, art galleries and
                            restaurants. Discover the new Bohemian Barcelona!</p>

                        <p><strong>Can Recasens:</strong> traditional local dishes<br/>
                            <a href="http://www.canrecasens.com/" taget="_blank">http://www.canrecasens.com/</a><br/>
                            Rambla del Poblenou, 102</p>

                        <p><strong>La Forquilla:</strong> high level market cuisine based on seasonal products<br/>
                            <a href="http://www.laforquilla.es/en/"
                               target="_blank">http://www.laforquilla.es/en/</a><br/>
                            Pere IV, 210</p>

                        <p><strong>Aguaribay:</strong> vegetarian restaurant. Biological, fresh and seasonal food<br/>
                            <a href="http://www.aguaribay-bcn.com/"
                               target="_blank">http://www.aguaribay-bcn.com/</a><<br/>
                            Carrer de Ramon Turró, 181</p>

                        <p><strong>El Xiringuito de l’Escribà:</strong> paella and seafood specialists in front of the
                            sea<br/>
                            <a href="http://xiringuitoescriba.com/"
                               target="_blank">http://xiringuitoescriba.com/</a><br/>
                            Avinguda Litoral, 42</p>

                        <p><strong>La Biennal:</strong> tapas and traditional dishes<br/>
                            <a href="http://www.labiennal.es/" target="_blank">http://www.labiennal.es/</a><br/>
                            Rambla del Poblenou, 76</p>

                        <p><strong>Racó de la Vila:</strong> traditional Catalan and Spanish cuisine.<br/>
                            <a href="http://www.racodelavila.com/en/"
                               target="_blank">http://www.racodelavila.com/en/</a><br/>
                            Ciudad de Granada, 33</p>

                        <p><strong>Sa Tramuntana:</strong> Mediterranean cuisine with specialties from the Balearic
                            Islands. <br/>
                            <a href="http://www.satramuntana.com/" target="_blank">http://www.satramuntana.com/</a><br/>
                            C/ Doctor Trueta 225, local 2</p>

                        <p><strong>Isami:</strong> Japanese cuisine<br/>
                            <a href="https://www.facebook.com/pages/Isami/1581280252085171" target="_blank">https://www.facebook.com/pages/Isami/1581280252085171</a><br/>
                            Rambla del Poblenou, 88</p>

                        <p><strong>Caliu:</strong> tapas, fresh seafood and a mixture of classic and inspired
                            dishes<br/>
                            <a href="http://caliu-poblenou.com/">http://caliu-poblenou.com/</a><br/>
                            Rambla del Poblenou, 78</p>

                        <h3 class="color3">Restaurants around the city by neighborhood</h3>

                        <h4>CIUTAT VELLA</h4>
                        <h5>EL GÒTIC</h5>

                        <p><strong>Ocaña:</strong> fashion restaurant where dishes are inspired by Catalan cookery<br/>
                            <a href="http://www.ocana.cat" target="_blank">http://www.ocana.cat</a><br/>
                            Plaça Reial, 13-15</p>

                        <p><strong>Matís Bar:</strong> urban food and high quality tapas <br/>
                            <a href="http://matisbar.com/" target="_blank">http://matisbar.com/</a><br/>
                            Plaça Nova, 5 </p>

                        <h4>BORN – BARCELONETA</h4>

                        <p><strong>Mercat Princesa (Tapa Market):</strong> 17 gastronomic stands to choose from (similar
                            to a market) <br/>
                            <a href="http://www.mercatprincesa.com/en"
                               target="_blank">http://www.mercatprincesa.com/en</a><br/>
                            Carrer dels Flassaders, 21</p>

                        <p><strong>Bar del Pla:</strong> elaborated traditional tapas made with seasonal products<br/>
                            <a href="http://www.bardelpla.cat/" target="_blank">http://www.bardelpla.cat/</a><br/>
                            Carrer Montcada, 2</p>


                        <h4>EIXAMPLE – PSG DE GRÀCIA</h4>

                        <p><strong>El Nacional:</strong> 4 different culinary areas and 4 specialized bars under same
                            roof<br/>
                            <a href="http://www.elnacionalbcn.com" target="_blank">http://www.elnacionalbcn.com</a><br/>
                            Passeig de Gràcia, 24</p>

                        <p><strong>Toto:</strong> Mediterranean inspired restaurant with Catalan products from close
                            proximity.<br/>
                            <a href="http://ilovetoto.es/en/" target="_blank">http://ilovetoto.es/en/</a><br/>
                            Carrer València, 246</p>

                        <h4>SANT ANTONI</h4>

                        <p><strong>Lolita Taperia:</strong> one of the most famous Tapas restaurant<br/>
                            <a href="http://www.lolitataperia.com" target="_blank">http://www.lolitataperia.com</a><br/>
                            Carrer Tamarit, 104</p>

                        <p><strong>Manso’s Café:</strong> café specialized in Nordic bakery and homemade dishes<br/>
                            933 48 63 46<br/>
                            Carrer de Manso, 1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}