{% csrf_token %}
<div id="search-add-attende" class="modal fade" role="dialog" style="display: none;">
<div class="modal-dialog modal-lg">
<div class="modal-content" style="margin-bottom: 70px">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Add Attendee</h4>
</div>
<div class="modal-body">
<div class="panel colourable">
<div class="panel-heading">
    <span class="panel-title attendee-panel-title"><i
            class="fa fa-user fa-lg"></i>&nbsp;&nbsp;&nbsp;<strong></strong></span>

</div>
<div class="panel-body tab-content">
<ul class="nav nav-tabs nav-tabs">
    <li class="active">
        <a href="#add-attendee-questions" data-toggle="tab"><span class="fa fa-user fa-lg"></span>&nbsp;&nbsp;Questions</a>
    </li>
    {% if request.session.admin_permission.content_permission.assign_session_permission or request.session.event_auth_user.type == 'super_admin' %}
        <li class="">
            <a href="#add-attendee-sessions" data-toggle="tab"><span class="fa fa-calendar fa-lg"></span>&nbsp;&nbsp;Sessions</a>
        </li>
    {% endif %}
    {% if request.session.admin_permission.content_permission.assign_travel_permission or request.session.event_auth_user.type == 'super_admin' %}
        <li class="">
            <a href="#add-attendee-travels" data-toggle="tab"><span class="fa fa-plane fa-lg"></span>&nbsp;&nbsp;Travels</a>
        </li>
    {% endif %}
    {% if request.session.admin_permission.content_permission.assign_hotel_permission or request.session.event_auth_user.type == 'super_admin' %}
        <li class="">
            <a href="#add-attendee-hotels" data-toggle="tab"><span class="fa fa-bed fa-lg"></span>&nbsp;&nbsp;Hotels</a>
        </li>
    {% endif %}
</ul>
<div class="tab-pane fade in active" id="add-attendee-questions">
    <div class="table-info">
        <table id="question-category-default" class="table table-bordered table-striped attende-edit"
               style="clear: both">
            <tbody>
            <thead>
            <tr>
                <td colspan="2">General</td>
            </tr>
            </thead>
            <tr>
                <td>Attendee Groups</td>
                <td class="add-attendee-group-id"><a href="#" id="add-attendee-question-attendee-groups"
                                                     data-type="checklist" data-value=""
                                                     data-title="Select Attendee Groups"></a></td>
            </tr>
            <tr>
                <td>Attendee Tags</td>
                <td><a href="#" class="attendee-question-attendee-tags" data-type="select2" data-pk="1"
                       data-title="Enter tags"></a></td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <a href="#" id="add-attendee-question-password" data-type="text" data-pk="1"
                       data-title="Password"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    {% for group in questionGroup %}
        <div class="table-info">
            <table id="question-category-information" class="table table-bordered table-striped attende-edit"
                   style="clear: both">
                <thead>
                <tr>
                    <td colspan="2">{{ group.name|safe }}</td>
                </tr>
                </thead>
                <tbody class="attendee-group-{{ group.id }}-allQuestions">
                </tbody>
            </table>
        </div>
    {% endfor %}
</div>
<div class="tab-pane fade set-attendee-sessions" id="add-attendee-sessions">
    {% if request.session.admin_permission.content_permission.assign_session_permission and request.session.admin_permission.content_permission.assign_session_permission.access_level == 'write' or request.session.event_auth_user.type == 'super_admin' %}
        <div class="form-group">
            <label>Sessions </label>
            <select class="form-control filter-question-selector add-attendee-sessions" data-live-search="true"
                    data-live-search-placeholder="Search">
            <option value="">None</option>
                {% for group in session_groups %}
                    <optgroup label="{{ group.name|safe }}">
                        {% for session in group.sessions %}
                            <option value="{{ session.id }}" data-start="{{ session.start|date:'Y-m-d H:i:s' }}"
                                    data-end="{{ session.end|date:'Y-m-d H:i:s' }}" data-name="{{ session.name }}">{{ session.name|safe }} {{ session.start|date:'Y-m-d H:i' }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </div>
    {% endif %}
    <div class="table-info">
        <table class="table table-bordered table-striped attendee-edit-sessions" style="clear: both">
            <thead>
            <tr>
                <td></td>
                <td>Session</td>
                <td>Start</td>
                <td>End</td>
                <td>Status</td>
                <td>Added</td>
            </tr>
            </thead>
            <tbody class="attendee-sessions">
            </tbody>
        </table>
    </div>
</div>
<div class="tab-pane fade set-attendee-travels" id="add-attendee-travels">
    {% if request.session.admin_permission.content_permission.assign_travel_permission and request.session.admin_permission.content_permission.assign_travel_permission.access_level == 'write' or request.session.event_auth_user.type == 'super_admin' %}
        <div class="form-group">
            <label>Travels </label>
            <select class="form-control filter-question-selector add-attendee-travels" data-live-search="true"
                    data-live-search-placeholder="Search">
            <option value="">None</option>
                {% for group in travel_groups %}
                    <optgroup label="{{ group.name|safe }}">
                        {% for travel in group.travels %}
                            <option value="{{ travel.id }}" data-departure="{{ travel.departure|date:'Y-m-d H:i:s' }}"
                                    data-arrival="{{ travel.arrival|date:'Y-m-d H:i:s' }}">{{ travel.name|safe }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </div>
    {% endif %}
    <div class="table-info">
        <table class="table table-bordered table-striped attendee-edit-travels" style="clear: both">
            <thead>
            <tr>
                <td></td>
                <td>Session</td>
                <td>Departure</td>
                <td>Arrival</td>
                <td>Status</td>
                <td>Added</td>
            </tr>
            </thead>
            <tbody class="attendee-travels">
            </tbody>
        </table>
    </div>
</div>
<div class="tab-pane fade" id="add-attendee-hotels">
    <div class="table-info">
        <script>
            init.push(function () {

            });
        </script>

        <div class="row">
            <div class="form-group">
                <div class="col-xs-4" id="hotel-selector">
                    <select class="form-control add-attendee-hotel-selector selected-room"
                            {% if request.session.admin_permission.content_permission.hotel_permission and request.session.admin_permission.content_permission.assign_hotel_permission.access_level == 'read' %}
                            disabled {% endif %}>
                        {% for hotel_group in hotel_groups %}
                            <optgroup label="{{ hotel_group.name|safe }}">
                                {% for room in hotel_group.rooms %}
                                    <option value="{{ room.id }}"
                                            data-cost="{{ room.cost }}" data-allotments="{{ room.allotment }}" data-beds="{{ room.beds }}">{{ room.hotel.name|safe }}
                                        - {{ room.description|safe }}</option>
                                {% endfor %}
                            </optgroup>
                        {% endfor %}
                    </select>
                </div>
                <button type="button" class="btn btn-add-hotel-to-attendee"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add
                    Hotel
                </button>
            </div>
        </div>

        <table id="attendee-add-hotels" class="attendee-add-hotels table table-bordered table-striped"
               style="clear: both">
            <thead>
            <tr>
                <td></td>
                <td>Hotel</td>
                <td>Check in / Check out</td>
                <td>Requested Room Buddy</td>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
<div class="form-group">
    <div class="btn-group float-right">
        <button type="button" class="btn btn-lg" data-dismiss="modal" aria-hidden="true"><i class="fa fa-ban"></i>&nbsp;&nbsp;Cancel
        </button>
        <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle btn-lg" data-toggle="dropdown"><i
                    class="fa fa-check-circle"></i>&nbsp;&nbsp;Save&nbsp;<i class="fa fa-caret-down"></i></button>
            <ul class="dropdown-menu pull-right">
                <li><a href="#" class="createAttendee btn-save"><i class="fa fa-check-circle"></i>&nbsp;&nbsp;Save</a>
                </li>
                <li><a href="#" class="createAttendee btn-save" data-name="send_mail"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Save
                    and Send
                    Confirmation</a></li>
                <li><a href="#" class="create-attendee-send-custom-message btn-save">
                    <i class="fa fa-envelope"></i>&nbsp;&nbsp;Save and Send Custom Confirmation</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
</div>
<!-- / .modal-content -->
</div>
<!-- / .modal-dialog -->
</div>

