{% extends "layout/main.html" %}
{% block content %}
    {% load i18n %}
    {% load staticfiles %}
    {% block extra_head %}
        <script src="{% static 'assets/javascripts/datatable.js' %}"></script>
        <script type="text/javascript">
            var ATTENDEE_LIST_JSON_URL = '{% url "attendeeList2" %}';
            // translations for datatables

            var dt_language = {
                "emptyTable": "{% trans "No data available in table" %}",
                "info": "{% trans "Showing _START_ to _END_ of _TOTAL_ entries" %}",
                "infoEmpty": "{% trans "Showing 0 to 0 of 0 entries" %}",
                "infoFiltered": "{% trans "(filtered from _MAX_ total entries)" %}",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "{% trans "Show _MENU_ entries" %}",
                "loadingRecords": "{% trans "Loading..." %}",
                "processing": "{% trans "Processing..." %}",
                "search": "{% trans "Search:" %}",
                "zeroRecords": "{% trans "No matching records found" %}",
                "paginate": {
                    "first": "{% trans "First" %}",
                    "last": "{% trans "Last" %}",
                    "next": "{% trans "Next" %}",
                    "previous": "{% trans "Previous" %}"
                },
                "aria": {
                    "sortAscending": "{% trans ": activate to sort column ascending" %}",
                    "sortDescending": "{% trans ": activate to sort column descending" %}"
                }
            }
        </script>
    {% endblock %}
    <div id="content-wrapper">
        <!-- Edit Attendee Modal -->
        {% include "attendee/edit.html" %}
        {% include "attendee/add.html" %}
        <!-- / .modal -->
        <!-- / Large modal -->
{#        <input type="text" id="extra"/>#}
        <div class="panel colourable">
            <div class="panel-heading">
        <span class="panel-title"><i class="fa fa-user fa-lg"></i>&nbsp;&nbsp;&nbsp;<strong>Attendee
            Search</strong></span>
                <ul class="nav nav-tabs nav-tabs" id="myTab">
                    <li class="active">
                        <a href="#attendee-search" data-toggle="tab"><span class="fa fa-search fa-lg"></span>&nbsp;&nbsp;Search</a>
                    </li>
                    <li class="">
                        <a href="#attendee-rules" data-toggle="tab"><span
                                class="fa fa-filter fa-lg"></span>&nbsp;&nbsp;Rules</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="fa fa-cog fa-lg">&nbsp;&nbsp;<i class="fa fa-caret-down"></i></span>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="#" class="open-preset">Open Filter Preset...</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#save-as-modal" class="set-preset">Save
                                Preset</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#save-as-modal" class="set-preset-as">Save
                                Preset As...</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Recently Used Presets</li>
                            {% for rule in last_used_rules %}
                                <li><a href="javascript:void(0);" class="open_rules"
                                       data-id="{{ rule.rule.id }}">{{ rule.rule.name }}</a></li>
                            {% endfor %}
                        </ul>
                        <!-- / .dropdown-menu -->
                    </li>
                    <!--<li class="">
                        <a href="#filter-visible-columns" data-toggle="tab"><span class="fa fa-eye fa-lg"></span> Visible Columns</a>
                    </li>-->
                </ul>
                <!-- / .nav -->
            </div>
            <!-- / .panel-heading -->
            <div class="panel-body tab-content">
                <div class="tab-pane fade in active" id="attendee-search">
                    <div class="dt_left">
                        <div class="form-group">
                            <button class="btn showAddAttendee" data-toggle="modal" data-target=""><span
                                    class="fa fa-plus"></span>&nbsp;&nbsp;Add
                                Attendee
                            </button>
                            <button class="btn edit-multiple-attendees" data-toggle="modal"
                                    data-target="#search-edit-attendees"><span
                                    class="fa fa-edit"></span>&nbsp;&nbsp;Edit Multiple Attendees
                            </button>
                        </div>

                        <label>Visible Columns:</label>

                        <div class="form-group show-columns">
                            <select name="columns" class="selectpicker datatable-column-control" multiple
                                    data-live-search="true"
                                    data-live-search-placeholder="Search"
                                    data-actions-box="false">
                                {% for q_group in question_groups %}
                                    <optgroup label="{{ q_group.name }}">
                                    {% for q in  q_group.questions %}
                                        <option class="selected_column" value="{{ forloop.counter }}">{{ q.title }}</option>
                                    {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="dt_top">
                        <div class="dt_right">
                            <div class="form-group">
                                <label>Activate Rules </label>
                                <input type="checkbox" id="filter-rules-switcher" checked>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <table cellpadding="0" cellspacing="0" border="0"
                           class="datatable table table-striped table-bordered links"
                           id="filter-search-table">
                        <thead>
                        <tr>
                            <th><input type="checkbox" class="flowcheckall" name="flowcheckall"></th>
                            {% for q_group in question_groups %}
                                {% for q in  q_group.questions %}
                                    <th>{{ q.title }}</th>
                                {% endfor %}
                            {% endfor %}

                        </tr>
                        </thead>
                        <tbody>
                        {#    {% if users %}#}
                        {#        <ul>#}
                        {#            {% for user in users %}#}
                        {#                <tr class="userInfo" data-id="{{ user.id }}">#}
                        {#                    <td><input type="checkbox"></td>#}
                        {#                    <td>{{ user.created|date:"m/d/Y" }}</td>#}
                        {#                    <td>{{ user.firstname }}</td>#}
                        {#                    <td>{{ user.lastname }}</td>#}
                        {#                    <td>{{ user.company }}</td>#}
                        {#                    <td>{{ user.email }}</td>#}
                        {#                    <td>{{ user.phone }}</td>#}
                        {#                </tr>#}
                        {#            {% endfor %}#}
                        {#        </ul>#}
                        {#    {% else %}#}
                        {#        <p>No Users are available.</p>#}
                        {#    {% endif %}#}

                        </tbody>
                    </table>
                </div>
                {% include 'attendee/filters.html' %}
                <div class="tab-pane fade" id="filter-visible-columns">
                    Visible Columns
                </div>
            </div>

        </div>
    </div> <!-- / #content-wrapper -->
    <input type='hidden' id="attendee_session_list" name='' value='[]'/>

    <div class="modal fade" id="save-as-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Save Preset Name</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group no-margin-hr">
                                <label class="control-label">Filter Group</label>
                                <select class="form-control" id="preset_filter_group" name="group">
                                    {% for group in filter_group %}
                                        <option value="{{ group.id }}">{{ group.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group no-margin-hr">
                                <label class="control-label">Preset Name</label>
                                <input type="text" id="preset_name" class="form-control" placeholder="Preset Name">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary save-preset-btn">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="users-preset" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    </div>
    <img src="{% static 'public/images/712.GIF' %}" class="loader" alt=""/>
    <script>
        $(function () {
            if (window.location.search.indexOf('page') > -1) {
                $('#myTab a[href="#attendee-rules"]').tab('show');
            }
        });
    </script>
{% endblock %}