{% extends "layout/main.html" %}
{% block content %}
{% load staticfiles %}
    <script src="{% static 'assets/javascripts/attendee_info.js' %}"></script>
     <div id="content-wrapper">

         <div class="body" id="search-edit-attende">
             <div class="panel colourable">
                 <div class="panel-heading">
                     <h4 class="modal-title">Attendee Info</h4>
            <span class="panel-title attendee-panel-title"><i class="fa fa-user fa-lg"></i>&nbsp;&nbsp;&nbsp;<strong>Carter
                Camacho</strong></span>

                 </div>
                 <div class="panel-body tab-content">
                     <ul class="nav nav-tabs nav-tabs">
                         <li class="active">
                             <a href="#edit-attendee-questions" data-toggle="tab"><span
                                     class="fa fa-user fa-lg"></span>&nbsp;&nbsp;Questions</a>
                         </li>
                         {% if request.session.admin_permission.content_permission.assign_session_permission or request.session.event_auth_user.type == 'super_admin' %}
                             <li class="">
                                 <a href="#edit-attendee-sessions" data-toggle="tab"><span
                                         class="fa fa-calendar fa-lg"></span>&nbsp;&nbsp;Sessions</a>
                             </li>
                         {% endif %}
                         {% if request.session.admin_permission.content_permission.assign_travel_permission or request.session.event_auth_user.type == 'super_admin' %}
                             <li class="">
                                 <a href="#edit-attendee-travels" data-toggle="tab"><span
                                         class="fa fa-plane fa-lg"></span>&nbsp;&nbsp;Travels</a>
                             </li>
                         {% endif %}
                         {% if request.session.admin_permission.content_permission.assign_hotel_permission or request.session.event_auth_user.type == 'super_admin' %}
                             <li class="">
                                 <a href="#edit-attendee-hotels" data-toggle="tab"><span
                                         class="fa fa-bed fa-lg"></span>&nbsp;&nbsp;Hotels</a>
                             </li>
                         {% endif %}
                         <li class="">
                             <a href="#edit-attendee-history" data-toggle="tab"><span
                                     class="fa fa-history fa-lg"></span>&nbsp;&nbsp;History</a>
                         </li>
                     </ul>
                     <div class="tab-pane fade in active" id="edit-attendee-questions">
                         <div class="table-info">
                             <table id="question-category-default"
                                    class="table table-bordered table-striped attende-edit"
                                    style="clear: both">
                                 <tbody>
                                 <thead>
                                 <tr>
                                     <td colspan="2">General</td>
                                 </tr>
                                 </thead>
                                 <tr>
                                     <td>Registration Date</td>
                                     <td id="edit-registration-date"></td>
                                 </tr>
                                 <tr>
                                     <td>Last Update Date</td>
                                     <td id="edit-update-date"></td>
                                 </tr>
                                 <tr>
                                     <td>User ID (internal)</td>
                                     <td id="edit-user-id"></td>
                                 </tr>
                                 <tr>
                                     <td>User ID (external)
                                         {% if request.session.event_auth_user.event_id == 11 %}
                                             <a target="_blank" data-href="{% url 'welcome' %}" href="" id="login-uid">Log in as User</a>
                                         {% endif %}
                                         {% if request.session.event_auth_user.event_id == 10 %}
                                             <a target="_blank" data-href="{% url 'gt-welcome' %}" href="" id="login-uid">Log in as User</a>
                                         {% endif %}
                                     </td>
                                     <td id="edit-external-user-id"></td>
                                 </tr>
                                 <tr>
                                     <td>Password</td>
                                     <td><a href="#" id="edit-attendee-question-password" data-type="text"
                                            data-pk="1"
                                            data-title="Password">changed password</a></td>
                                 <tr>
                                     <td>Attendee Groups</td>
                                     <td class="attendee-group-id"><a href="#"
                                                                      id="edit-attendee-question-attendee-groups"
                                                                      data-type="checklist" data-value=""
                                                                      data-title="Select Attendee Groups"></a></td>
                                 </tr>
                                 <tr>
                                     <td>Attendee Tags</td>
                                     <td><a href="#" class="attendee-question-attendee-tags" data-type="select2"
                                            data-pk="1"
                                            data-title="Enter tags">Registered Late, Received Invitation</a></td>
                                 </tr>
                                 </tbody>
                             </table>
                         </div>

                         {% for group in questionGroup %}
                             <div class="table-info">
                                 <table id="question-category-information"
                                        class="table table-bordered table-striped attende-edit"
                                        style="clear: both">
                                     <thead>
                                     <tr>
                                         <td colspan="2">{{ group.name|safe }}</td>
                                     </tr>
                                     </thead>
                                     <tbody class="attendee-group-{{ group.id }}-allQuestions">
                                     </tbody>
                                 </table>
                             </div>
                         {% endfor %}
                     </div>
                     <div class="tab-pane fade set-attendee-sessions" id="edit-attendee-sessions">
                         <div class="table-info">
                             <table class="table table-bordered table-striped attendee-edit-sessions"
                                    style="clear: both">
                                 <thead>
                                 <tr>
                                     <td></td>
                                     <td>Session</td>
                                     <td>Start</td>
                                     <td>End</td>
                                     <td>Status</td>
                                     <td>Added</td>
                                 </tr>
                                 </thead>
                                 <tbody class="attendee-sessions">

                                 </tbody>
                             </table>
                         </div>
                     </div>
                     <div class="tab-pane fade set-attendee-travels" id="edit-attendee-travels">
                         <div class="table-info">
                             <table class="table table-bordered table-striped attendee-edit-travels"
                                    style="clear: both">
                                 <thead>
                                 <tr>
                                     <td></td>
                                     <td>Travel</td>
                                     <td>Departure</td>
                                     <td>Arrival</td>
                                     <td>Status</td>
                                     <td>Added</td>
                                 </tr>
                                 </thead>
                                 <tbody class="attendee-travels">

                                 </tbody>
                             </table>
                         </div>
                     </div>
                     <div class="tab-pane fade" id="edit-attendee-hotels">
                         <div class="table-info">
                             <script>
                                 init.push(function () {
                                     $('#edit-attendee-hotel-select-room-buddies').editable({
                                         select2: {
                                             tags: ['Sam Neill', 'Laura Dern', 'Jeff Goldblum', 'Richard Attenborough', 'Bob Peck', 'Martin Ferrero', 'Joseph Mazzello'],
                                             tokenSeparators: [","],
                                             maximumSelectionSize: 1
                                         }
                                     });
                                 });
                             </script>



                             <table id="attendee-edit-hotels"
                                    class="attendee-add-hotels table table-bordered table-striped"
                                    style="clear: both">
                                 <thead>
                                 <tr>
                                     <td></td>
                                     <td>Hotel</td>
                                     <td>Check in / Check out</td>
                                     <td>Room Buddy</td>
                                 </tr>
                                 </thead>
                                 <tbody>
                                 </tbody>
                             </table>
                         </div>
                     </div>
                     <div class="tab-pane fade" id="edit-attendee-history">

                     </div>
                 </div>
             </div>
         </div>
     </div>

{% endblock %}