{% extends "layout/main.html" %}
{% block content %}
    {% load i18n %}
    {% load staticfiles %}
    {% block extra_head %}
        <script type="text/javascript">
            var ATTENDEE_LIST_JSON_URL = '{% url "attendeeList" %}';
            // translations for datatables

            var dt_language = {
                "emptyTable": "{% trans "No data available in table" %}",
                "info": "{% trans "Showing _START_ to _END_ of _TOTAL_ entries" %}",
                "infoEmpty": "{% trans "Showing 0 to 0 of 0 entries" %}",
                "infoFiltered": "{% trans "(filtered from _MAX_ total entries)" %}",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "{% trans "Show _MENU_ entries" %}",
                "loadingRecords": "{% trans "Loading..." %}",
                "processing": "{% trans "Processing..." %}",
                "search": "{% trans "Search:" %}",
                "zeroRecords": "{% trans "No matching records found" %}",
                "paginate": {
                    "first": "{% trans "First" %}",
                    "last": "{% trans "Last" %}",
                    "next": "{% trans "Next" %}",
                    "previous": "{% trans "Previous" %}"
                },
                "aria": {
                    "sortAscending": "{% trans ": activate to sort column ascending" %}",
                    "sortDescending": "{% trans ": activate to sort column descending" %}"
                }
            }
        </script>
        <script src="{% static 'assets/javascripts/datatable.js' %}"></script>
        <style>
            .input-sm {
                margin-left: 10px;
            }
        </style>
    {% endblock %}
    <div id="content-wrapper">
        <input type="hidden" id="search_key" value="{{ search_key }}"/>
        <!-- Edit Attendee Modal -->
        {#        {% include "attendee/edit.html" %}#}
        {#        {% include "attendee/add.html" %}#}
        <!-- / .modal -->
        <!-- / Large modal -->

        <div class="panel colourable">
            <div class="panel-heading">
        <span class="panel-title"><i class="fa fa-user fa-lg"></i>&nbsp;&nbsp;&nbsp;<strong>Attendee
            Search</strong></span>
                {#                <ul class="nav nav-tabs nav-tabs" id="myTab">#}
                {#                    <li class="active">#}
                {#                        <a href="#attendee-search" data-toggle="tab"><span class="fa fa-search fa-lg"></span>&nbsp;&nbsp;Search</a>#}
                {#                    </li>#}
                {#                    <li class="">#}
                {#                        <a href="#attendee-rules" data-toggle="tab"><span#}
                {#                                class="fa fa-filter fa-lg"></span>&nbsp;&nbsp;Rules</a>#}
                {#                    </li>#}
                {#                    <li class="dropdown">#}
                {#                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">#}
                {#                            <span class="fa fa-cog fa-lg">&nbsp;&nbsp;<i class="fa fa-caret-down"></i></span>#}
                {#                        </a>#}
                {#                        <ul class="dropdown-menu pull-right">#}
                {#                            <li><a href="#" class="open-preset">Open Filter Preset...</a></li>#}
                {#                            <li><a href="#" data-toggle="modal" data-target="#save-as-modal" class="set-preset">Save#}
                {#                                Preset</a></li>#}
                {#                            <li><a href="#" data-toggle="modal" data-target="#save-as-modal" class="set-preset-as">Save#}
                {#                                Preset As...</a></li>#}
                {#                            <li class="divider"></li>#}
                {#                            <li class="dropdown-header">Recently Used Presets</li>#}
                {#                            {% for rule in last_used_rules %}#}
                {#                                <li><a href="javascript:void(0);" class="open_rules"#}
                {#                                       data-id="{{ rule.rule.id }}">{{ rule.rule.name }}</a></li>#}
                {#                            {% endfor %}#}
                {#                        </ul>#}
                {#                        <!-- / .dropdown-menu -->#}
                {#                    </li>#}
                {#                    <!--<li class="">#}
                {#                        <a href="#filter-visible-columns" data-toggle="tab"><span class="fa fa-eye fa-lg"></span> Visible Columns</a>#}
                {#                    </li>-->#}
                {#                </ul>#}
                <!-- / .nav -->
            </div>
            <!-- / .panel-heading -->
            <div class="panel-body tab-content">
                <div class="tab-pane fade in active" id="attendee-search">
                    <div class="dt_left">
                        {% if request.session.admin_permission.content_permission.attendee_permission and request.session.admin_permission.content_permission.attendee_permission.access_level == 'write' or request.session.event_auth_user.type == 'super_admin' %}
                            <div class="form-group">
                                <button class="btn showAddAttendee" data-toggle="modal" data-target=""><span
                                        class="fa fa-plus"></span>&nbsp;&nbsp;Add
                                    Attendee
                                </button>
                                <button class="btn edit-multiple-attendees" data-toggle="modal"
                                        data-target="#search-edit-attendees"><span
                                        class="fa fa-edit"></span>&nbsp;&nbsp;Edit Multiple Attendees
                                </button>
                            </div>
                        {% endif %}
                        <input type="hidden" value="{{ visible_columns }}" id="visible_columns">
                        <input type="hidden" value="{{ show_entries }}" id="show_entries">
                        <input type="hidden" value="{{ sorted_column }}" id="sorted_column_attendee">
                        <input type="hidden" value="{{ sorting_order }}" id="sorting_order_attendee">
                        <input type="hidden" value="{{ last_active_filter }}" id="last_active_filter">
                        <label>Visible Columns:</label>

                        <div class="form-group show-columns">
                            <select name="columns" id="question_length" class="selectpicker datatable-column-control"
                                    multiple
                                    data-live-search="true"
                                    data-live-search-placeholder="Search"
                                    data-actions-box="false">
                                <optgroup label="PRIMARY">
                                    <option class="selected_column" value="-101">Registration Date</option>
                                    <option class="selected_column" value="-102">Updated Date</option>
                                    <option class="selected_column" value="-103">UID(External)</option>
                                    <option class="selected_column" value="-103">BID(Badge)</option>
                                    <option class="selected_column" value="-103">Group</option>
                                    <option class="selected_column" value="-103">Tag</option>
                                </optgroup>
                                <optgroup label="ECONOMY">
                                    <option class="selected_column" value="-101">Order Number</option>
                                    <option class="selected_column" value="-102">Invoice-Id</option>
                                    <option class="selected_column" value="-103">Transaction-Id</option>
                                </optgroup>
                                {% for q_group in question_groups %}
                                    <optgroup label="{{ q_group.name|safe }}">
                                        {% for q in  q_group.questions %}
                                            <option class="selected_column"
                                                    value="{{ forloop.counter | add:1 }}">{{ q.title|slice:":100" }}</option>
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="dt_top">
                        <div class="dt_right">
                            <div class="form-group">
                                <label style="margin-top: 5px;margin-right: 5px;">Filters</label>
                                <select name="rule" id="rule" class="selectpicker pull-right">
                                    <option value="{{ quick_filter_id }}" class="quick-filter">Quick Filter</option>
                                    {% for rule_group in rule_groups %}
                                        <optgroup label="{{ rule_group.name|safe }}">
                                            {% for rule in  rule_group.filters %}
                                                <option value="{{ rule.id }}">{{ rule.name }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Activate Filters </label>
                                <input type="checkbox" id="filter-rules-switcher">
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <table cellpadding="0" cellspacing="0" border="0"
                           class="datatable table table-striped table-bordered links"
                           id="filter-search-table" style="display: none;">
                        <thead>
                        <tr>
                            <th><input type="checkbox" class="flowcheckall" name="flowcheckall"></th>
                            <th>ID</th>
                            <th data-id="r_date">Registration Date</th>
                            <th data-id="u_date">Updated Date</th>
                            <th data-id="uid_external">UID(External)</th>
                            <th data-id="bid_badge">BID(Badge)</th>
                            <th data-id="group">Group</th>
                            <th data-id="tag">Tag</th>
                            <th data-id="order_number">Order Number</th>
                            <th data-id="invoice_id">Invoice-Id</th>
                            <th data-id="transaction_id">Transaction-Id</th>
                            {% for q_group in question_groups %}
                                {% for q in  q_group.questions %}
                                    <th data-id="{{ q.id }}">{{ q.title }}</th>
                                {% endfor %}
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                {#                {% include 'attendee/filters.html' %}#}
                <div class="tab-pane fade" id="filter-visible-columns">
                    Visible Columns
                </div>
            </div>

        </div>
    </div> <!-- / #content-wrapper -->


    {#    <div class="modal fade" id="save-as-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">#}
    {#        <div class="modal-dialog" role="document">#}
    {#            <div class="modal-content">#}
    {#                <div class="modal-header">#}
    {#                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span#}
    {#                            aria-hidden="true">&times;</span></button>#}
    {#                    <h4 class="modal-title">Save Preset Name</h4>#}
    {#                </div>#}
    {#                <div class="modal-body">#}
    {#                    <div class="row">#}
    {#                        <div class="col-sm-6">#}
    {#                            <div class="form-group no-margin-hr">#}
    {#                                <label class="control-label">Filter Group</label>#}
    {#                                <select class="form-control" id="preset_filter_group" name="group">#}
    {#                                    {% for group in filter_group %}#}
    {#                                        <option value="{{ group.id }}">{{ group.name }}</option>#}
    {#                                    {% endfor %}#}
    {#                                </select>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="col-sm-6">#}
    {#                            <div class="form-group no-margin-hr">#}
    {#                                <label class="control-label">Preset Name</label>#}
    {#                                <input type="text" id="preset_name" class="form-control" placeholder="Preset Name">#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="modal-footer">#}
    {#                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
    {#                        <button type="button" class="btn btn-primary save-preset-btn">Save changes</button>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    <div class="modal fade" id="users-preset" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    </div>
    {#    <script src="{% static 'assets/javascripts/bootstrap-datepicker.min.js' %}"></script>#}
    {#<link href="{% static 'assets/stylesheets/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css">#}

    <script>
        $(function () {
            if (window.location.search.indexOf('page') > -1) {
                $('#myTab a[href="#attendee-rules"]').tab('show');
            }


        });
    </script>
{% endblock %}