{% extends "layout/main.html" %}
{% block content %}
    {% load staticfiles %}
    <div id="content-wrapper">

    <div class="panel colourable">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-lg fa-question"></i></i>
                &nbsp;&nbsp;&nbsp;<strong>Questions</strong></span>
            <span style="float:right"><img style="display:none" height="25px"
                                           src="{% static 'public/images/712.GIF' %}" id="loader" alt=""/><input
                    type="text" name="search_key_question" id="search_key_question"/></span>
        </div>
        <!-- / .panel-heading -->
        <div class="panel-body tab-content">
            <div class="row">
                <div class="col-sm-6">
                    {% if request.session.admin_permission.content_permission.question_permission and request.session.admin_permission.content_permission.question_permission.access_level == 'write' or request.session.event_auth_user.type == 'super_admin' %}
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                                data-target="#questions-add-type">
                            <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Add a Question
                        </button>
                    {% endif %}
                </div>
            </div>
            <br>

            <div class="tab-pane fade in active" id="hotels">
                <div id="questions">
                    <div class="table-light">
                        {% for group in questionGroup %}
                            <div class="table-header" id="questions_group_{{ group.id }}">
                                <div class="table-caption">
                                    {{ group.name|safe }}
                                </div>
                            </div>
                            <table class="table table-bordered sortable showQuestions" id="showQuestions">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Type</th>
                                    <th>Required</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for question in group.questions %}
                                    <tr>
                                        <td data-id="{{ question.id }}">{{ question.id }}</td>
                                        <td>{{ question.title|safe }}</td>
                                        <td>{{ question.type }}</td>
                                        <td>{% if question.required == 1 %} Yes {% else %} No {% endif %}</td>
                                        {% if request.session.admin_permission.content_permission.question_permission and request.session.admin_permission.content_permission.question_permission.access_level == 'write' or request.session.event_auth_user.type == 'super_admin' %}
                                            <td>
                                                <button class="btn btn-xs questionInfo" data-id='{{ question.id }}'
                                                        data-toggle="tooltip"
                                                        data-placement="top" title="" data-original-title="Edit"><i
                                                        class="dropdown-icon fa fa-cog"></i></button>
                                                <button class="btn btn-xs btn-duplicate-question" data-id="{{ question.id }}" data-toggle="tooltip" data-placement="top"
                                                        title=""
                                                        data-original-title="Duplicate"><i
                                                        class="dropdown-icon fa fa-files-o"></i>
                                                </button>
                                                <button class="btn btn-xs btn-danger deleteQuestion"
                                                        data-id='{{ question.id }}'
                                                        data-toggle="tooltip" data-placement="top" title=""
                                                        data-original-title="Delete"><i
                                                        class="dropdown-icon fa fa-times-circle"></i></button>
                                            </td>
                                        {% else %}
                                            <td style="text-align: center;">
                                                <button class="btn btn-xs btn-view-questionInfo"
                                                        data-id='{{ question.id }}'
                                                        data-toggle="tooltip"
                                                        data-placement="top" title="" data-original-title="View"><i
                                                        class="dropdown-icon fa fa-search-plus"></i></button>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if request.session.admin_permission.content_permission.question_permission and request.session.admin_permission.content_permission.question_permission.access_level == 'write' or request.session.event_auth_user.type == 'super_admin' %}
        {% include "question/add.html" %}
        {% include "question/edit.html" %}
    {% else %}
        {% include "question/view.html" %}
    {% endif %}
    <div id="questions-add-type" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h4 class="modal-title">Add Question</h4>
                </div>
                <div class="modal-body">
                    <p>Choose what type of question you want to add:</p>

                    <div class="panel colourable">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group no-margin-hr">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="questionType" id="add_text" value="text"
                                                       checked="" class="px">
                                                <span class="lbl">Text</span>
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="questionType" id="add_select"
                                                       value="select"
                                                       class="px">
                                                <span class="lbl">Select</span>
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="questionType" id="add_radio_button"
                                                       value="radio_button" class="px">
                                                <span class="lbl">Radio Button</span>
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="questionType" id="add_checkbox"
                                                       value="checkbox" class="px">
                                                <span class="lbl">Checkbox</span>
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="questionType" id="add_date" value="date"
                                                       class="px">
                                                <span class="lbl">Date</span>
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="questionType" id="add_date_range" value="date_range"
                                                       class="px">
                                                <span class="lbl">Date Range</span>
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="questionType" id="add_time" value="time"
                                                       class="px">
                                                <span class="lbl">Time</span>
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="questionType" id="add_time_range" value="time_range"
                                                       class="px">
                                                <span class="lbl">Time Range</span>
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="questionType" id="add_textarea"
                                                       value="textarea" class="px">
                                                <span class="lbl">Textarea</span>
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="questionType" id="add_image_upload"
                                                       value="image_upload" class="px">
                                                <span class="lbl">Image Upload</span>
                                            </label>
                                        </div>

                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="questionType" id="add_country"
                                                       value="country" class="px">
                                                <span class="lbl">Country</span>
                                            </label>
                                        </div>
                                    </div>
                                    <!--form-group-->
                                </div>
                                <!--col-->
                            </div>
                            <!-- row -->
                        </div>
                        <!-- panel body -->
                    </div>
                    <!-- panel -->
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-lg" data-original-title="" title=""data-dismiss="modal"
                                    aria-hidden="true"><i
                                        class="fa fa-ban"></i>&nbsp;&nbsp;Cancel
                                </button>
                                <button type="button" class="btn btn-success btn-lg addQuestionType"><i
                                        class="fa fa-plus-circle"></i>&nbsp;&nbsp;Add
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--row-->
                </div>
            </div>
            <!-- / .modal-content -->
        </div>
        <!-- / .modal-dialog -->
    </div>
    <!-- / .modal -->

    </div> <!-- / #content-wrapper -->
    <script>
        $(document).ready(function () {
        });
        $(".flowcheckall").click(function () {
            var table = $('.showQuestions').DataTable();
            $(':checkbox', table.rows().nodes()).prop('checked', this.checked);
        });
    </script>
{% endblock %}