{% extends "layout/main.html" %}
{% block content %}
    {% load staticfiles %}
    {% include 'layout/editor_header.html' %}
    <div id="content-wrapper">
        {% csrf_token %}
        <div class="panel colourable">
            <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-lg fa-map-marker"></i></i>
                &nbsp;&nbsp;&nbsp;<strong>Locations</strong></span>
                <span style="float:right"><img style="display:none" height="25px"
                                               src="{% static 'public/images/712.GIF' %}" id="loader" alt=""/>
                    <input type="text" name="search_key_location"
                           id="search_key_location"/></span>
            </div>
            <!-- / .panel-heading -->
            <div class="panel-body tab-content">
                <div class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-sm-6">
                            {% if request.session.admin_permission.content_permission.location_permission and request.session.admin_permission.content_permission.location_permission.access_level == 'write' or request.session.event_auth_user.type == 'super_admin' %}
                                <button type="button" id="btn-add-location" class="btn btn-primary btn-lg"
                                        data-toggle="modal"
                                        data-target=""><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Add a Location
                                </button>
                            {% endif %}
                        </div>
                    </div>
                    <br>

                    <div id="locations">
                        <div class="table-light">
                            {% for group in locationGroup %}
                                <div class="table-header" id="location_group_{{ group.id }}">
                                    <div class="table-caption">
                                        {{ group.name|safe }}
                                    </div>
                                </div>
                                <table class="table table-bordered sortable data-table-location">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Edit</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for location in group.locations %}
                                        <tr>
                                            <td>{{ location.id }}</td>
                                            <td>{{ location.name|safe }}</td>
                                            {% if request.session.admin_permission.content_permission.location_permission and request.session.admin_permission.content_permission.location_permission.access_level == 'write' or request.session.event_auth_user.type == 'super_admin' %}
                                                <td>
                                                    <button class="btn btn-xs btn-edit-location"
                                                            data-id="{{ location.id }}"
                                                            data-toggle="tooltip"
                                                            data-placement="top" title=""
                                                            data-original-title="Edit"><i
                                                            class="dropdown-icon fa fa-cog"></i></button>
                                                    <button class="btn btn-xs btn-duplicate-location"
                                                            data-id="{{ location.id }}"
                                                            data-toggle="tooltip" data-placement="top" title=""
                                                            data-original-title="Duplicate"><i
                                                            class="dropdown-icon fa fa-files-o"></i>
                                                    </button>
                                                    <button class="btn btn-xs btn-danger btn-delete-location"
                                                            data-id="{{ location.id }}" data-toggle="tooltip"
                                                            data-placement="top"
                                                            title="" data-original-title="Delete"><i
                                                            class="dropdown-icon fa fa-times-circle"></i></button>
                                                </td>
                                            {% else %}
                                                <td style="text-align: center;">
                                                    <button class="btn btn-xs btn-view-location"
                                                            data-id="{{ location.id }}"
                                                            data-toggle="tooltip"
                                                            data-placement="top" title=""
                                                            data-original-title="View"><i
                                                            class="dropdown-icon fa fa-search-plus"></i></button>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>

        {% if request.session.admin_permission.content_permission.location_permission and request.session.admin_permission.content_permission.location_permission.access_level == 'write' or request.session.event_auth_user.type == 'super_admin' %}
            <!-- MODAL - TEXT -->
            <div id="locations-edit-location" class="modal fade" role="dialog" style="display: none;">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h4 class="modal-title">Add Location</h4>
                                </div>
                                <div class="language-preset-selector col-sm-3">
                                    <label class="language-preset-selector-label">Language:</label>
                                    <select class="form-control pull-right location-language-presets-selector" style="width: 70%;">
                                        {% for preset in all_presets %}
                                            <option value="{{ preset.id }}"
                                                    {% if preset.id == presetsEvent.preset_id %}
                                                    selected="selected"{% endif %}>{{ preset.preset_name }}({{ preset.id }})
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group no-margin-hr">
                                        <input type="hidden" id="edit-location-id">
                                        <label class="control-label">Name</label>
                                        <input type="text" name="name" id="location_name" class="form-control"
                                               placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group no-margin-hr">
                                        <label class="control-label">Location Group</label>
                                        <select id="location_group" class="form-control filter-question-selector"
                                                data-id="">
                                            {% for group in locationGroup %}
                                                <option value="{{ group.id }}">{{ group.name|safe }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- row -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="control-label">Description</label>
                                    <div class="froala-editor-div">
                                        <textarea id="froala_content_editor" name="froala_content_editor"></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <button type="button" class="btn btn-lg" id="btn-description-preview"
                                                    style="float: left;margin-top: 10px;"><i
                                                    class="fa fa-eye"></i>&nbsp;&nbsp;Preview
                                            </button>
                                        </div>
                                        <div class="col-sm-6">
                                            <button type="button" class="btn btn-lg" id="btn-reset-editor-content"
                                                    style="float: left;margin-top: 10px;"><i
                                                    class="fa fa-ban"></i>&nbsp;&nbsp;Reset
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group no-margin-hr">
                                        <label class="control-label">Google Maps Highlight</label>

                                        <div class="input-group">
										<span class="input-group-addon">
											<label class="px-single">
                                                <input type="checkbox" id="id_checkbox_location_maps_highlights" name=""
                                                       value=""
                                                       class="px">
                                                <span class="lbl"></span></label>
										</span>
                                            <input type="text" id="location_maps_highlights" class="form-control"
                                                   placeholder="City+Hall,New+York,NY">
                                        </div>
                                    </div>
                                    <label class="control-label">Address</label>
                                    <textarea id="location_address" rows="5" class="form-control"></textarea>
                                </div>
                                <div class="col-sm-6" id="location-map-container" style="height: 200px;">

                                </div>
                                <!-- col-sm-6 -->
                            </div>
                            <!-- row -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group no-margin-hr">
                                        <label class="control-label">Contact - Name</label>

                                        <div class="input-group">
										<span class="input-group-addon">
											<label class="px-single"><input type="checkbox"
                                                                            id="id_checkbox_location_name"
                                                                            name="" value="" class="px"><span
                                                    class="lbl"></span></label>
										</span>
                                            <input type="text" id="contact_name" class="form-control"
                                                   placeholder="Contact Name">
                                        </div>
                                    </div>
                                </div>
                                <!-- col-sm-6 -->
                                <div class="col-sm-6">
                                    <div class="form-group no-margin-hr">
                                        <label class="control-label">Contact - Web</label>

                                        <div class="input-group">
										<span class="input-group-addon">
											<label class="px-single"><input type="checkbox"
                                                                            id="id_checkbox_location_web" name=""
                                                                            value="" class="px"><span
                                                    class="lbl"></span></label>
										</span>
                                            <input type="text" id="contact_web" class="form-control"
                                                   placeholder="http://">
                                        </div>
                                    </div>
                                </div>
                                <!-- col-sm-6 -->
                            </div>
                            <!-- row -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group no-margin-hr">
                                        <label class="control-label">Contact - Phone Number</label>

                                        <div class="input-group">
										<span class="input-group-addon">
											<label class="px-single"><input type="checkbox"
                                                                            id="id_checkbox_location_phone"
                                                                            name="" value="" class="px"><span
                                                    class="lbl"></span></label>
										</span>
                                            <input type="text" id="contact_phone" class="form-control"
                                                   placeholder="Contact Phone Number">
                                        </div>
                                    </div>
                                </div>
                                <!-- col-sm-6 -->
                                <div class="col-sm-6">
                                    <div class="form-group no-margin-hr">
                                        <label class="control-label">Contact - Email Address</label>

                                        <div class="input-group">
										<span class="input-group-addon">
											<label class="px-single"><input type="checkbox"
                                                                            id="id_checkbox_location_email"
                                                                            name="" value="" class="px"><span
                                                    class="lbl"></span></label>
										</span>
                                            <input type="text" id="contact_email" class="form-control"
                                                   placeholder="name@domain.com">
                                        </div>
                                    </div>
                                </div>
                                <!-- col-sm-6 -->
                            </div>
                            <!-- row -->
                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-lg" data-original-title="" title=""
                                                data-dismiss="modal" aria-hidden="true"><i class="fa fa-ban"></i>&nbsp;&nbsp;Cancel
                                        </button>
                                        <button type="button" class="btn btn-success btn-lg btn-save"
                                                id="btn-save-location"><i
                                                class="fa fa-check-circle"></i>&nbsp;&nbsp;Save
                                        </button>
                                        <button type="button" class="btn btn-success btn-lg btn-save"
                                                id="btn-update-location"
                                                style="display: none;"><i
                                                class="fa fa-check-circle"></i>&nbsp;&nbsp;Update
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / .modal-content -->
                </div>
                <!-- / .modal-dialog -->
            </div>
        {% else %}
            {% include 'location/view_location.html' %}
        {% endif %}
        <!-- / .modal -->
        <!-- / Large modal -->

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVDx0vUZFVgvj9NHmCajosavO6ZZkpCS0"></script>

    </div> <!-- / #content-wrapper -->

    {% include 'layout/editor_footer.html' %}
{% endblock %}