{% extends "public/layout/layout.html" %}
{% block content %}
    <div class="wrapper">
    <div class="container padding mainContent">
    <div class="container">
    <!-- CONTENT GOES HERE -->
    <div class="row gutters">
        <div class="col span_12">
            <h1>My Travel & Hotel</h1>
        </div>
    </div>
    <div class="row gutters">
    {% if flights %}
        {% if flights.71 or flights.79 or flights.87 or flights.95 %}
            <div class="col span_6">
            <h3 class="color3">Flights</h3>
            {#            {% for session in sessions %}#}
            {% if flights.71 and flights.74 %}
                <div class="panel flight">
                    <h4>{{ flights.71.value }} - {{ flights.74.value }}</h4>

                    <div class="content">
                        <table class="tableNoLines">
                            <tr>
                                <td><i class="fa fa-lg fa-plane color1"></i>
                                </td>
                                <td><strong>Flight</strong>
                                </td>
                                <td>{% if flights.78 %}{{ flights.78.value }}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-lg fa-clock-o color1"></i>
                                </td>
                                <td><strong>Departure</strong>
                                </td>
                                <td>{% if flights.72 %}{{ flights.72.value }}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-lg fa-clock-o color1"></i>
                                </td>
                                <td><strong>Arrival</strong>
                                </td>
                                <td>{% if flights.75 %}{{ flights.75.value }}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-lg fa-ticket color1"></i>
                                </td>
                                <td><strong>Booking reference</strong>
                                </td>
                                <td>{% if flights.77 %}{{ flights.77.value }}{% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            {% endif %}
            {% if flights.79 and flights.82 %}
                <div class="panel flight">
                    <h4>{{ flights.79.value }} - {{ flights.82.value }}</h4>

                    <div class="content">
                        <table class="tableNoLines">
                            <tr>
                                <td><i class="fa fa-lg fa-plane color1"></i>
                                </td>
                                <td><strong>Flight</strong>
                                </td>
                                <td>{% if flights.86 %}{{ flights.86.value }}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-lg fa-clock-o color1"></i>
                                </td>
                                <td><strong>Departure</strong>
                                </td>
                                <td>{% if flights.80 %}{{ flights.80.value }}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-lg fa-clock-o color1"></i>
                                </td>
                                <td><strong>Arrival</strong>
                                </td>
                                <td>{% if flights.83 %}{{ flights.83.value }}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-lg fa-ticket color1"></i>
                                </td>
                                <td><strong>Booking reference</strong>
                                </td>
                                <td>{% if flights.85 %}{{ flights.85.value }}{% endif %}
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            {% endif %}
            {% if flights.87 and flights.90 %}
                <div class="panel flight">
                    <h4>{{ flights.87.value }} - {{ flights.90.value }}</h4>

                    <div class="content">
                        <table class="tableNoLines">
                            <tr>
                                <td><i class="fa fa-lg fa-plane color1"></i>
                                </td>
                                <td><strong>Flight</strong>
                                </td>
                                <td>{% if flights.94 %}{{ flights.94.value }}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-lg fa-clock-o color1"></i>
                                </td>
                                <td><strong>Departure</strong>
                                </td>
                                <td>{% if flights.88 %}{{ flights.88.value }}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-lg fa-clock-o color1"></i>
                                </td>
                                <td><strong>Arrival</strong>
                                </td>
                                <td>{% if flights.91 %}{{ flights.91.value }}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-lg fa-ticket color1"></i>
                                </td>
                                <td><strong>Booking reference</strong>
                                </td>
                                <td>{% if flights.93 %}{{ flights.93.value }}{% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            {% endif %}
            {% if flights.95 and flights.98 %}
                <div class="panel flight">
                    <h4>{{ flights.95.value }} - {{ flights.98.value }}</h4>

                    <div class="content">
                        <table class="tableNoLines">
                            <tr>
                                <td><i class="fa fa-lg fa-plane color1"></i>
                                </td>
                                <td><strong>Flight</strong>
                                </td>
                                <td>{% if flights.102 %}{{ flights.102.value }}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-lg fa-clock-o color1"></i>
                                </td>
                                <td><strong>Departure</strong>
                                </td>
                                <td>{% if flights.96 %}{{ flights.96.value }}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-lg fa-clock-o color1"></i>
                                </td>
                                <td><strong>Arrival</strong>
                                </td>
                                <td>{% if flights.99 %}{{ flights.99.value }}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-lg fa-ticket color1"></i>
                                </td>
                                <td><strong>Booking reference</strong>
                                </td>
                                <td>{% if flights.101 %}{{ flights.101.value }}{% endif %}
                                </td>
                            </tr>
                            {#                        <tr>#}
                            {#                            <td><i class="fa fa-lg fa-check-circle-o color1"></i>#}
                            {#                            </td>#}
                            {#                            <td><strong>Check in</strong>#}
                            {#                            </td>#}
                            {#                            <td><a href="">Click here</a>#}
                            {#                            </td>#}
                            {#                        </tr>#}
                        </table>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {#            {% endfor %}#}
    {#            <div class="panel flight">#}
    {#                <h4>Barcelona BCN - Stockholm ARN</h4>#}
    {##}
    {#                <div class="content">#}
    {#                    <table class="tableNoLines">#}
    {#                        <tr>#}
    {#                            <td><i class="fa fa-lg fa-plane color1"></i>#}
    {#                            </td>#}
    {#                            <td><strong>Flight</strong>#}
    {#                            </td>#}
    {#                            <td>XZ1254#}
    {#                            </td>#}
    {#                        </tr>#}
    {#                        <tr>#}
    {#                            <td><i class="fa fa-lg fa-clock-o color1"></i>#}
    {#                            </td>#}
    {#                            <td><strong>Departure</strong>#}
    {#                            </td>#}
    {#                            <td>2015-11-21 15:40#}
    {#                            </td>#}
    {#                        </tr>#}
    {#                        <tr>#}
    {#                            <td><i class="fa fa-lg fa-clock-o color1"></i>#}
    {#                            </td>#}
    {#                            <td><strong>Arrival</strong>#}
    {#                            </td>#}
    {#                            <td>2015-11-18 19:20#}
    {#                            </td>#}
    {#                        </tr>#}
    {#                        <tr>#}
    {#                            <td><i class="fa fa-lg fa-ticket color1"></i>#}
    {#                            </td>#}
    {#                            <td><strong>Booking reference</strong>#}
    {#                            </td>#}
    {#                            <td>8KE2LC#}
    {#                            </td>#}
    {#                        </tr>#}
    {#                        <tr>#}
    {#                            <td><i class="fa fa-lg fa-check-circle-o color1"></i>#}
    {#                            </td>#}
    {#                            <td><strong>Check in</strong>#}
    {#                            </td>#}
    {#                            <td><a href="">Click here</a>#}
    {#                            </td>#}
    {#                        </tr>#}
    {#                    </table>#}
    {#                </div>#}
    {#            </div>#}
    </div>
    {% endif %}
    {% if flights %}
        {% if flights.103 and flights.104 and flights.105 and flights.106 %}
            <div class="col span_6">
                <h3 class="color3">Hotel</h3>

                <div class="panel flight">
                    <h4>{{ flights.104.value|safe }}</h4>

                    <div class="content">
                        <table class="tableNoLines">
                            <tr>
                                <td><i class="fa fa-lg fa-bed color1"></i>
                                </td>
                                <td><strong>Room Type</strong>
                                </td>
                                <td>{{ flights.103.value }}
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-lg fa-clock-o color1"></i>
                                </td>
                                <td><strong>Check in</strong>
                                </td>
                                <td>{{ flights.105.value }}
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-lg fa-clock-o color1"></i>
                                </td>
                                <td><strong>Check out</strong>
                                </td>
                                <td>{{ flights.106.value }}
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-lg fa-user color1"></i>
                                </td>
                                <td><strong>Room buddy</strong>
                                </td>
                                <td>{% if actual_buddy %}
                                    {{ actual_buddy }}
                                    {% elif buddy %}<a href="{% url 'attendee-bio' event_url=request.session.event_url %}{{ buddy.booking.attendee.id }}">
                                    {{ buddy.booking.attendee.firstname }} {{ buddy.booking.attendee.lastname }}
                                    </a>
                                {% endif %}
                                    {#                                <td>{% if buddy %}<a href="">#}
                                    {#                                    {{ buddy.booking.attendee.firstname }} {{ buddy.booking.attendee.lastname }}#}
                                    {#                                    </a>{% endif %}#}
                                    {#                                </td>#}
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            {#            {% endif %}#}
        {% endif %}
    {% endif %}

    {#            {% if bookings.room.hotel.id != 7 %}#}
    {#            <h3 class="color3">Hotel</h3>#}
    {##}
    {#            <div class="panel flight">#}
    {#                <h4>{{ bookings.room.hotel.name }}</h4>#}
    {##}
    {#                <div class="content">#}
    {#                    <table class="tableNoLines">#}
    {#                        <tr>#}
    {#                            <td><i class="fa fa-lg fa-map-marker color1"></i>#}
    {#                            </td>#}
    {#                            <td><strong>Address</strong>#}
    {#                            </td>#}
    {#                            <td><a href="">{{ bookings.room.hotel.location.address }}<br/>#}
    {#                                {{ bookings.room.hotel.location.name }}</a>#}
    {#                            </td>#}
    {#                        </tr>#}
    {#                        <tr>#}
    {#                            <td><i class="fa fa-lg fa-clock-o color1"></i>#}
    {#                            </td>#}
    {#                            <td><strong>Check in</strong>#}
    {#                            </td>#}
    {#                            <td>{{ bookings.check_in|date:'Y-m-d' }}#}
    {#                            </td>#}
    {#                        </tr>#}
    {#                        <tr>#}
    {#                            <td><i class="fa fa-lg fa-clock-o color1"></i>#}
    {#                            </td>#}
    {#                            <td><strong>Check out</strong>#}
    {#                            </td>#}
    {#                            <td>{{ bookings.check_out|date:'Y-m-d' }}#}
    {#                            </td>#}
    {#                        </tr>#}
    {#                        <tr>#}
    {#                            <td><i class="fa fa-lg fa-ticket color1"></i>#}
    {#                            </td>#}
    {#                            <td><strong>Reservation no.</strong>#}
    {#                            </td>#}
    {#                            <td>8KE2LC#}
    {#                            </td>#}
    {#                        </tr>#}
    {#                        <tr>#}
    {#                            <td><i class="fa fa-lg fa-key color1"></i>#}
    {#                            </td>#}
    {#                            <td><strong>Room no.</strong>#}
    {#                            </td>#}
    {#                            <td>214#}
    {#                            </td>#}
    {#                        </tr>#}
    {#                        <tr>#}
    {#                            <td><i class="fa fa-lg fa-user color1"></i>#}
    {#                            </td>#}
    {#                            <td><strong>Room buddy</strong>#}
    {#                            </td>#}
    {#                            <td>{% if buddy %}<a href="{% url 'attendee-bio' %}{{ buddy.booking.attendee.id }}">{{ buddy.booking.attendee.firstname }} {{ buddy.booking.attendee.lastname }}</a>{% endif %}#}
    {#                            <td>{% if buddy %}<a href="">{{ buddy.booking.attendee.firstname }} {{ buddy.booking.attendee.lastname }}</a>{% endif %}#}
    {#                            </td>#}
    {#                        </tr>#}
    {#                    </table>#}
    {#                </div>#}
    {#            </div>#}
    {#            {% endif %}#}
    {#            <h3 class="color3">Taxi</h3>#}
    {##}
    {#            <div class="panel flight">#}
    {#                <h4>Event - Home</h4>#}
    {##}
    {#                <div class="content">#}
    {#                    <table class="tableNoLines">#}
    {#                        <tr>#}
    {#                            <td><i class="fa fa-lg fa-clock-o color1"></i>#}
    {#                            </td>#}
    {#                            <td><strong>Valid</strong>#}
    {#                            </td>#}
    {#                            <td>2015-11-20#}
    {#                            </td>#}
    {#                        </tr>#}
    {#                        <tr>#}
    {#                            <td><i class="fa fa-lg fa-ticket color1"></i>#}
    {#                            </td>#}
    {#                            <td><strong>Voucher code</strong>#}
    {#                            </td>#}
    {#                            <td>8KE2LC#}
    {#                            </td>#}
    {#                        </tr>#}
    {#                        <tr>#}
    {#                            <td><i class="fa fa-lg fa-taxi color1"></i>#}
    {#                            </td>#}
    {#                            <td><strong>Order taxi</strong>#}
    {#                            </td>#}
    {#                            <td><a href="">Click here</a>#}
    {#                            </td>#}
    {#                        </tr>#}
    {#                    </table>#}
    {#                </div>#}
    {#            </div>#}
    </div>
    {% if transfer %}
        <div class="row gutters">
            <div class="col span_6">
                <h3 class="color3">Barcelona Airport Transfer</h3>

                <div class="panel flight">
                    <h4>From Airport to Barcelona</h4>

                    <div class="content">
                        {% if transfer.0 %}{{ transfer.0.value }}{% endif %}
                    </div>
                </div>
                <div class="panel flight">
                    <h4>From Barcelona to Airport</h4>

                    <div class="content">
                        {% if transfer.1 %}{{ transfer.1.value }}{% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    </div>
    <div class="row gutters">
        <div class="col span_6">

        </div>
    </div>
    <!--row-->
    <!--row-->
    <!--row-->
    </div>
    </div>
    </div>
{% endblock %}