{% extends "public/layout/layout.html" %}
{% block content %}
    <div class="wrapper">
        <div class="container padding mainContent">
            <div class="container">

                <!-- CONTENT GOES HERE -->


                <div class="row gutters">
                    <div class="col span_6">
                        <h1>SESSIONS</h1>

{#                        <p><a href="{% url 'session-help' event_url=request.session.event_url %}"><i class="fa fa-question-circle"></i> Session Help</a></p>#}
                        <h4>Knowledge levels:</h4>
                        <table>
                            <tbody>
                            <tr>
                                <td><strong>Beginners</strong></td>
                                <td>Kingsters who have little or no knowledge about the topic.</td>
                            </tr>
                            <tr>
                                <td><strong>Intermediate</strong></td>
                                <td>Kingsters who have a base knowledge or more experience on the topic.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
{#                    <div class="col span_6" style="text-align: right;">#}
{#                        <p><a href="{% url 'session-schedule' event_url=request.session.event_url %}" class="button round color2"><i class="fa fa-calendar"></i> Grid#}
{#                            View</a></p>#}
{#                    </div>#}
                </div>

                {% csrf_token %}
                <div class="row gutters half">
                    <div class="col span_6">
                        <div class="formQuestion">
                            <div class="searchBox">
                                <i class="fa fa-search searchIcon"></i><input type="text" class="search search-session">
                            </div>
                        </div>
                    </div>
                    <div class="col span_6">
                        <div class="formQuestion">
                            <div class="searchBox">
                                <i class="fa fa-chevron-down sortIcon"></i>
                                <select class="sort sort-sessions">
                                    <option selected value="sort-by-category">Sort by Category</option>
                                    <option value="sort-by-time">Sort by Time</option>
                                    <option value="sort-by-category-name">Sort by Category Name</option>
                                </select>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="row gutters">
                    <div class="col span_12">
                        <ul class="select">
                            <li class="all-session">All sessions</li>
                            <li class="my-session">My sessions</li>
                        </ul>
                    </div>
                </div>
                <div class="session-show">

                </div>
                {#    <div class="row gutters">#}
                {#        <div class="col span_12">#}
                {#            <h3 class="color3">2015-11-20</h3>#}
                {#        </div>#}
                {#    </div>#}
                {#    <div class="row gutters">#}
                {#        <div class="col span_6">#}
                {#            <div class="panel session">#}
                {#                <h4><a href="#" data-url="sessions_detail.html">Some seminar with a long name</a></h4>#}
                {##}
                {#                <div class="content">#}
                {#                    <table class="tableNoLines">#}
                {#                        <tr>#}
                {#                            <td><i class="fa fa-lg fa-map-marker color1"></i>#}
                {#                            </td>#}
                {#                            <td><strong>Location</strong>#}
                {#                            </td>#}
                {#                            <td><a href="">Room #1</a>#}
                {#                            </td>#}
                {#                        </tr>#}
                {#                        <tr>#}
                {#                            <td><i class="fa fa-lg fa-clock-o color1"></i>#}
                {#                            </td>#}
                {#                            <td><strong>Start</strong>#}
                {#                            </td>#}
                {#                            <td>2015-11-19 12:00#}
                {#                            </td>#}
                {#                        </tr>#}
                {#                        <tr>#}
                {#                            <td><i class="fa fa-lg fa-clock-o color1"></i>#}
                {#                            </td>#}
                {#                            <td><strong>End</strong>#}
                {#                            </td>#}
                {#                            <td>2015-11-19 13:00#}
                {#                            </td>#}
                {#                        </tr>#}
                {#                        <tr>#}
                {#                            <td><i class="fa fa-lg fa-user color1"></i>#}
                {#                            </td>#}
                {#                            <td><strong>Speaker / Facilitator</strong>#}
                {#                            </td>#}
                {#                            <td><a href="">Name Lastname</a>#}
                {#                            </td>#}
                {#                        </tr>#}
                {#                    </table>#}
                {#                </div>#}
                {#            </div>#}
                {#        </div>#}
                {#        <div class="col span_6">#}
                {#            <div class="panel session">#}
                {#                <h4><a href="#" data-url="sessions_detail.html">Developer Seminar</a></h4>#}
                {##}
                {#                <div class="content">#}
                {#                    <table class="tableNoLines">#}
                {#                        <tr>#}
                {#                            <td><i class="fa fa-lg fa-map-marker color1"></i>#}
                {#                            </td>#}
                {#                            <td><strong>Location</strong>#}
                {#                            </td>#}
                {#                            <td><a href="">Room #1</a>#}
                {#                            </td>#}
                {#                        </tr>#}
                {#                        <tr>#}
                {#                            <td><i class="fa fa-lg fa-clock-o color1"></i>#}
                {#                            </td>#}
                {#                            <td><strong>Start</strong>#}
                {#                            </td>#}
                {#                            <td>2015-11-19 12:00#}
                {#                            </td>#}
                {#                        </tr>#}
                {#                        <tr>#}
                {#                            <td><i class="fa fa-lg fa-clock-o color1"></i>#}
                {#                            </td>#}
                {#                            <td><strong>End</strong>#}
                {#                            </td>#}
                {#                            <td>2015-11-19 13:00#}
                {#                            </td>#}
                {#                        </tr>#}
                {#                        <tr>#}
                {#                            <td><i class="fa fa-lg fa-user color1"></i>#}
                {#                            </td>#}
                {#                            <td><strong>Speaker / Facilitator</strong>#}
                {#                            </td>#}
                {#                            <td><a href="">Name Lastname</a>#}
                {#                            </td>#}
                {#                        </tr>#}
                {#                    </table>#}
                {#                </div>#}
                {#            </div>#}
                {#        </div>#}
                {#    </div>#}
                <!--row-->
                <!--row-->
                <!--row-->
            </div>
        </div>
    </div>


    {% load staticfiles %}
    <img src="{% static 'public/images/712.GIF' %}" id="session-loader" alt="" style="display: none"/>
    <style>
        #session-loader {
            display: none;
            position:fixed;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    </style>
    <script>
        $(document).ready(function () {
            {#            if (window.location.search.indexOf('page') > -1) {#}
            {#                var url = window.location.href.split('?')[0];#}
            {#                window.history.pushState("", "", url);#}
            {#                $('.my-session').addClass('selected');#}
            {#            } else {#}
            {#                $('.all-session').addClass('selected');#}
            {#            }#}

            if (window.location.pathname == "/my-sessions/") {
                {#                var url = window.location.href.split('?')[0];#}
                {#                window.history.pushState("", "", url);#}
                $('.my-session').addClass('selected');
            } else {
                $('.all-session').addClass('selected');
            }
            get_allSession();
        });
    </script>
{% endblock %}