{#{% extends "public/layout/layout.html" %}#}
{#{% load swampdragon_tags %}#}
{#{% block content %}#}
{#    <div class="wrapper">#}
{% csrf_token %}
{#    <div class="container padding mainContent">#}
<div class="container">

    <div class="row gutters">
        <div class="col span_12">
            <h1>{{ session.name }}</h1>
        </div>
    </div>
    <div class="row gutters">
        <div class="col span_6">
            <table class="tableNoLines">
                <tr>
                    <td><i class="fa fa-lg fa-map-marker color1"></i>
                    </td>
                    <td><strong>Location</strong>
                    </td>
                    <td>
                        <a target="_blank" href="{% url 'publicLocations' event_url=request.session.event_url %}{{ session.location.id }}">{{ session.location.name }}</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="fa fa-lg fa-clock-o color1"></i>
                    </td>
                    <td><strong>Start</strong>
                    </td>
                    <td><strong>{{ session.start|date:'H:i' }}</strong> {{ session.start|date:'d/m/Y' }}
                    </td>
                </tr>
                <tr>
                    <td><i class="fa fa-lg fa-clock-o color1"></i>
                    </td>
                    <td><strong>End</strong>
                    </td>
                    <td><strong>{{ session.end|date:'H:i' }}</strong> {{ session.end|date:'d/m/Y' }}
                    </td>
                </tr>
                {% if session.speakers %}
                    <tr>
                        <td><i class="fa fa-lg fa-user color1"></i>
                        </td>
                        <td><strong>Speaker / Facilitator</strong>
                        </td>
                        <td>

                            {% for speaker in session.speakers %}
                                <a target="_blank" href="






                                        {% url 'attendee-bio' event_url=request.session.event_url %}{{ speaker.speaker_id }}">{{ speaker.speaker.firstname }} {{ speaker.speaker.lastname }}</a>
                                {% if not forloop.last %}<span>, </span>{% endif %}
                            {% endfor %}

                        </td>
                    </tr>
                {% endif %}
                {% if tag_list %}
                    <tr>
                        <td><i class="fa fa-lg fa-tag color1"></i>
                        </td>
                        <td><strong>Level</strong>
                        </td>
                        <td>
                            <ul class="sessionTags">
                                {% for tag in tag_list %}
                                    <li>{{ tag.tag.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
        {% if session.receive_answer == 1 %}
            <div class="col span_6 attending session{{ session.id }}">
                <h3 class="color3">Would you like to attend? </h3>

                <input type="radio" name="attend" id="yes" value="yes" data-session="{{ session.id }}"
                        {% if status == 'Attending' %}
                       checked
                        {% endif %} /><label for="yes">Yes</label><br/>
                <input type="radio" name="attend" id="no" value="no" data-session="{{ session.id }}"
                        {% if status == 'Not Attending' %}
                       checked {% endif %}/><label>No</label>
            </div>
        {% else %}
            <div class="col span_6 session{{ session.id }}">
                {% if isSpeaker %}
                    <p><a href="javascript:void(0);" class="button rounded color2"> Attending
                    </a></p>
                {% else %}
                    <p  class='sliderContainer'>
                        {#                        <a href="javascript:void(0);"#}
                        {#                           class="button rounded {% if status == 'Deciding' %}disabled {% endif %}#}
                        {##}
                        {#                            {% if status == 'Not Attending' or status == 'Not Answered' %}#}
                        {#                            color3#}
                        {#                            {% elif status == 'In Queue' %}#}
                        {#                            color4#}
                        {#                            {% elif status == 'Deciding' %}#}
                        {#                            color4#}
                        {#                            {% else %}#}
                        {#                            color2#}
                        {#                            {% endif %}#}
                        {##}
                        {#                            " id="btn-attend-session"#}
                        {#                           data-session="{{ session.id }}">#}
                        {#                            {% if status == 'In Queue' %}#}
                        {#                                In Queue#}
                        {#                            {% elif status == 'Not Answered' %}#}
                        {#                                Not Attending#}
                        {#                            {% elif status == 'Deciding' %}#}
                        {#                                Pending#}
                        {#                            {% else %}#}
                        {#                                {{ status }}#}
                        {#                            {% endif %}#}
                        {##}
                        {#                        </a>#}
                        <input type="checkbox" class="slider {% if status == 'In Queue' %} queue{% endif %}"
                                {% if status == 'In Queue' or status == 'Attending' %} checked{% endif %}
                               id="btn-attend-session"
                               data-status="
                            {% if status == 'In Queue' %}
                                In Queue
                            {% elif status == 'Not Answered' %}
                                Not Attending
                            {% elif status == 'Deciding' %}
                                Pending
                            {% else %}
                                {{ status }}{% endif %}
                            " data-session="{{ session.id }}"/>
                        <label for="btn-attend-session"></label>
                        <br/>
                    </p>
                    {% if status == 'Not Attending' or status == 'Not Answered' %}
                        {% if session_full %}
                            <p class="click-to-attend"><em>Click to enter queue</em></p>
                        {% else %}
                            <p class="click-to-attend"><em>Click to attend</em></p>
                        {% endif %}
                    {% endif %}
                    {% if status == 'In Queue' %}
                        <p class="click-to-attend"><em>Click to cancel Queue</em></p>
                    {% endif %}
                    {% if status == 'Attending' %}
                        <p class="click-to-attend"><em>Click to cancel attendance</em></p>
                    {% endif %}
                    {% if status == 'Deciding' %}
                        <p class="click-to-attend"><em>Check your Notifications</em></p>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="row gutters">
        <div class="col span_6">
            <h2 class="color3">Description</h2>

            <p>
                {{ session.description|safe }}
            </p>
        </div>
    </div>
</div>
{#    </div>#}
{#    </div>#}
{% load staticfiles %}
<img src="{% static 'public/images/712.GIF' %}" id="loader" alt=""/>
<style>
    #loader {
        display: none;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
</style>
<script>
    $(function () {
        if ($('#btn-attend-session').hasClass('disabled')) {
            $('#btn-attend-session').prop('disabled', true);
        }
    });
</script>


{#    {% load staticfiles %}#}
{#    {% swampdragon_settings %}#}
{#    <script type="text/javascript" src="{% static 'swampdragon/js/dist/swampdragon.min.js' %}"></script>#}
{#    <script src="{% static 'public/js/session_chat.js' %}"></script>#}
{#{% endblock %}#}