{% extends "gt/layout/layout.html" %}
{% block content %}
    <div class="wrapper headline color8" style="padding: 0; z-index: 2;">
        <div id="bg1"></div>
        <div class="wrapper" style="z-index: 2; overflow-x: visible;">

            <h1 class="color1">GetTogether</h1>
        </div>
    </div>
    <div class="wrapper">
        <div class="container padding mainContent">
            <p>&nbsp;</p>

            <div class="row gutters">
                <div class="col span_12">
                    <p>På denna sida kommer information och val inför vår GetTogether att presenteras.<br/>
                        Mer info kommer att dyka upp här i början av april.</p>

                    <p>Bra att veta om Grant Thorntons GetTogether:</p>

                    <ul>
                        <li>GetTogether är obligatorisk för samtliga medarbetare på Grant Thornton</li>
                        <li>GetTogether startar vid lunchtid på fredagen den 9 september och pågår tills du checkat ut
                            från ditt hotell på söndagen
                        </li>
                    </ul>
                </div>
            </div>


        </div>
        <!-- mainContent -->

    </div><!--wrapper-->
{% endblock %}