{% extends "gt/layout/layout.html" %}
{% block content %}
    <div class="wrapper headline color8" style="padding: 0; z-index: 2;">
	    <div id="bg1"></div>
	    <div class="wrapper" style="z-index: 2; overflow-x: visible;">

			<h1 class="color1">Hitta hit</h1>
	    </div>
    </div>


    <div class="wrapper">
        <div class="container padding mainContent">
    	    <!--<div class="col span_12 white">
	    	    <h3 class="color1">Vänligen läs igenom instruktionerna innan du påbörjar din registrering</h3>
			    <p>Donec tristique tempus dolor, vitae faucibus enim vestibulum eu.</p>
			    <p>Donec feugiat elementum arcu nec faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed imperdiet lacus non rutrum faucibus. Mauris tincidunt risus ac purus placerat eleifend.</p>
			</div>-->
				 <div class="row gutters">
                    <div class="col span_12">
	                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9014.684536130224!2d12.993807!3d55.607737!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x408d5f574ed53e99!2sClarion+Hotel+%26+Congress+Malm%C3%B6+Live!5e0!3m2!1ssv!2sse!4v1455703085125" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
         				<p>&nbsp;</p>
	                    <h3>Adress</h3>
	                    <p>Dag Hammarskjölds torg 2<br />
		                    211 18 Malmö</p>
                    </div>
				</div>

        </div><!-- mainContent -->

    </div><!--wrapper-->

{% endblock %}