{% extends "gt/layout/layout.html" %}
{% block content %}
    <div class="wrapper headline color8" style="padding: 0; z-index: 2;">
        <div id="bg1"></div>
        <div class="wrapper" style="z-index: 2; overflow-x: visible;">

            <h1 class="color1">Information</h1>
        </div>
    </div>
    <div class="wrapper">
        <div class="container padding mainContent">
            <p>&nbsp;</p>
            <div class="row gutters">
                <div class="col span_12">
                    <p>Denna sida innehåller blandad information som kan vara bra för dig under hela veckan.</p>
                    <ul>
                        <li>Vad som händer</li>
                        <li>Tider</li>
                        <li>Hållpunkter</li>
                        <li>Mm.</li>
                    </ul>

                    <p>Så gå in på de olika flikarna och hitta den info du söker. Om du har några frågor du inte kan
                        hitta svar på är du självklart välkommen att kontakta oss.</p>

                    <p>Praktiska frågor om logi, middagar etc.: <a href="mailto:my.nyander@springconf.se">my.nyander@springconf.se</a><br/>
                        Frågor om kurser, innehåll etc.: <a href="mailto:utbildningsfragor@se.gt.com">utbildningsfragor@se.gt.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div><!-- mainContent -->

    </div><!--wrapper-->
{% endblock %}