{% extends "gt/layout/layout.html" %}
{% block content %}
    <div class="wrapper headline color8" style="padding: 0; z-index: 2;">
        <div id="bg1"></div>
        <div class="wrapper" style="z-index: 2; overflow-x: visible;">

            <h1 class="color1">Mina seminarier</h1>
        </div>
    </div>
    <div class="wrapper">
        <div class="container padding mainContent">
            <!--<div class="col span_12 white">
                <h3 class="color1">Vänligen läs igenom instruktionerna innan du påbörjar din registrering</h3>
                <p>Donec tristique tempus dolor, vitae faucibus enim vestibulum eu.</p>
                <p>Donec feugiat elementum arcu nec faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed imperdiet lacus non rutrum faucibus. Mauris tincidunt risus ac purus placerat eleifend.</p>
            </div>-->
            <p>&nbsp;</p>
            <div class="row gutters">
                <div class="col span_12">
                    <p>
                        På denna sida kommer du kunna anmäla dig till de seminarier du vill gå på Kunskapsveckan. De kommer som vanligt att gå under hela torsdagen och fredag förmiddag.
                    </p>

                    <p>Anmälan till seminarierna öppnar i mitten av april. Information om detta kommer självklart gå ut
                        när det är dags. Men vet du redan nu att du kommer medverka på seminarierna ber vi dig att
                        anmäla dig för logi etc. på fliken ”Min medverkan”. </p>
                </div>
            </div>
        </div><!-- mainContent -->
    </div><!--wrapper-->
{% endblock %}