{% extends "gt/layout/layout.html" %}
{% block content %}

    <div class="wrapper headline color8" style="padding: 0; z-index: 2;">
        <div id="bg1"></div>
        <div class="wrapper" style="z-index: 2; overflow-x: visible;">

            <h1 class="color1">Start</h1>
        </div>
    </div>

    <div class="wrapper">
        <div class="container padding mainContent">
            <!--<div class="col span_12 white">
                <h3 class="color1">Vänligen läs igenom instruktionerna innan du påbörjar din registrering</h3>
                <p>Donec tristique tempus dolor, vitae faucibus enim vestibulum eu.</p>
                <p>Donec feugiat elementum arcu nec faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed imperdiet lacus non rutrum faucibus. Mauris tincidunt risus ac purus placerat eleifend.</p>
            </div>-->
            <p>&nbsp;</p>

            <div class="row gutters">
                <div class="col span_12">

                    <h2>Välkommen till årets mest innehållsrika vecka!</h2>

                    <p>Den 5-11 september möts vi för Kunskapsveckan och GetTogether på Clarion Hotel & Kongress Malmö
                        Live, i Malmö.</p>

                    <p>Nytt för i år är din personliga sida som blir din följeslagare före och under din vistelse i
                        Malmö. Den finns både som app och webbsida. Här ser du ditt personliga schema, håller dig
                        uppdaterad och informerad samt gör ändringar.</p>

                    <p>Har du glömt att anmäla dig kan du göra en sen anmälan och vi kommer hjälpa dig med dina önskemål
                        i mån av plats. Klicka på fliken Sen anmälan och fyll i alla uppgifter.</p>
                </div>
            </div>
        </div>
        <!-- mainContent -->
    </div><!--wrapper-->
{% endblock %}