<!DOCTYPE html>
<html lang="sv-se">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="style.css" rel="stylesheet">
		<title>Sitges 2017</title>
	</head>
	<body>
		<center><img class="logo" src="img/logo.png" /></center>
  		<h1>Mina lag</h1>
  		<ul class="menu">
	  		<li><a href="index.html"><img src="img/agenda.png"><span>Agenda</span></a></li>
	  		<li class="active"><a href="team.html"><img src="img/team.png"><span>Mina lag</span></a></li>
	  		<li><a href="travel.html"><img src="img/travel.png"><span>Resor</span></a></li>
	  		<li><a href="hotel.html"><img src="img/hotel.png"><span>Hotell</span></a></li>
  		</ul>
  		<div class="scroll-x">
	  		{"sessions":[{"id":"","group-id":"215,216,217","columns":"name,start,end", "sort-column":"start", "status":"attending","time-date":"Y-m-d H:i"}]}
  		</div>
	</body>
</html>