{% extends "gt/layout/layout.html" %}
{% load staticfiles %}
{% block content %}
    {% csrf_token %}
    <div class="wrapper">
        <div class="container padding mainContent">
            <div class="container">
                <!-- CONTENT GOES HERE -->
                <div class="row gutters">
                    <div class="col span_12">
                        <h1 class="color3">MY NOTIFICATIONS</h1>
                    </div>
                    <!--col-->
                </div>
                <!--row-->
                <div class="row gutters half">
                    <div class="col span_6">
                        <div class="formQuestion">
                            <div class="searchBox">
                                <i class="fa fa-search searchIcon"></i><input type="text" class="search" id="searchKey">
                            </div>
                        </div>
                    </div>

                    <div class="col span_6">
                        <div class="formQuestion">
                            <div class="searchBox">
                                <i class="fa fa-chevron-down sortIcon"></i>
                                <select class="sort" id="notification_type">
                                    <option value="all">Show all</option>
                                    <option value="attendee">Show only messages</option>
                                    <option value="session">Show only session related</option>
                                </select>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="row gutters">
                    <div class="col span_4 elementNotifications">
                        <h3>Notifications</h3>
                        <ul class="notifications">
                            {% for notification in notifications %}
                                {% if notification.type == "session" %}
                                    <li>
                                        <h4> Aktivitetskonflikt  <span
                                                class="date">{{ notification.created_at|date:'Y-m-d H:i:s' }}</span>
                                        </h4>

                                        <p>{{ notification.message | safe }}</p>

                                        {% if notification.type == "session" %}

                                            <p><a href="javascript:void(0)" class="label color2 click-notification"
                                                  data-id="{{ notification.id }}">Ja</a>&nbsp;&nbsp;<a
                                                    href="javascript:void(0)"
                                                    class="label color3 click-notification"
                                                    data-id="{{ notification.id }}">Nej</a>
                                            </p>
                                            <br/>
                                            <p>Om inget svar mottagits inom
                                                <span class="defaultCountdown time"
                                                      data-id="{{ notification.expire_at|date:"Y-m-d-H-i-s" }}"></span>
                                                så går platsen vidare till nästa i kön.
                                            </p>
                                        {% endif %}
                                    </li>
                                {% endif %}
                                {% if notification.type == "attendee" %}
                                    <li>
                                        <div class="dismiss delete_notification" data-id="{{ notification.id }}"></div>
                                        <h4>{{ notification.sender_attendee.firstname }} <span
                                                class="date">{{ notification.created_at|date:"Y-m-d , H:i" }}</span>
                                        </h4>

                                        <p>{{ notification.message | safe }}</p>
                                    </li>
                                {% endif %}
                                {% if notification.type == "session_attend" %}
                                    <li>
                                        <div class="dismiss delete_notification" data-id="{{ notification.id }}"></div>
                                        <h4>Aktivitet  <span
                                                class="date">{{ notification.created_at|date:"Y-m-d , H:i" }}</span>
                                        </h4>

                                        <p>{{ notification.message | safe }}</p>
                                    </li>
                                {% endif %}
                                {% if notification.type == "filter_message" %}
                                    <li>
                                        <div class="dismiss delete_notification" data-id="{{ notification.id }}"></div>
                                        <h4>Grant Thorton Team <span
                                                class="date">{{ notification.created_at|date:"Y-m-d , H:i" }}</span>
                                        </h4>

                                        <p>{{ notification.message | safe }}</p>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>

                    </div>
                    <!--row-->
                    <!--row-->
                    <!--row-->
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(
                function () {
                    $('#notification_type').change(
                            function () {
                                var csrf_token = $('input[name=csrfmiddlewaretoken]').val();
                                var sort_type = $(this).val();
                                var key = $('#searchKey').val();
                                $.ajax(
                                        {
                                            type: "Post",
                                            url: base_url + '/gt-get-notifications/',
                                            data: {
                                                sort_type: sort_type,
                                                key: key,
                                                csrfmiddlewaretoken: csrf_token
                                            },
                                            success: function (response) {
                                                $('.defaultCountdown').each(
                                                        function () {

                                                            var self = $(this);
                                                            self.countdown('destroy');
                                                        }
                                                );

                                                $('.notifications').html(response.notifications);
                                                $('.defaultCountdown').each(
                                                        function () {

                                                            var self = $(this);
                                                            var date_string = self.attr('data-id');
                                                            console.log(date_string);
                                                            var timestamp = date_string.split("-");
                                                            var year = timestamp[0];
                                                            var month = timestamp[1];
                                                            var day = timestamp[2];
                                                            var hour = timestamp[3];
                                                            var minute = timestamp[4];
                                                            var second = timestamp[5];
                                                            var austDay = new Date(year, month - 1, day, hour, minute, second);
                                                            self.countdown(
                                                                    {
                                                                        until: austDay,
                                                                        onExpiry: reload,
                                                                        layout: '{hn} {hl} ,{mn} {ml}'
                                                                    }
                                                            );
                                                        }
                                                );
                                            }
                                        }
                                );
                            }
                    );

                    $('#searchKey').keyup(
                            function () {
                                var key = $(this).val();

                                var csrf_token = $('input[name=csrfmiddlewaretoken]').val();
                                var sort_type = $('#notification_type :selected').val();
                                if (key.length >= 0) {
                                    $.ajax(
                                            {
                                                type: "Post",
                                                url: base_url + '/gt-get-notifications/',
                                                data: {
                                                    sort_type: sort_type,
                                                    key: key,
                                                    csrfmiddlewaretoken: csrf_token
                                                },
                                                success: function (response) {
                                                    $('.defaultCountdown').each(
                                                            function () {

                                                                var self = $(this);
                                                                self.countdown('destroy');
                                                            }
                                                    );

                                                    $('.notifications').html(response.notifications);
                                                    $('.defaultCountdown').each(
                                                            function () {

                                                                var self = $(this);
                                                                var date_string = self.attr('data-id');
                                                                console.log(date_string);
                                                                var timestamp = date_string.split("-");
                                                                var year = timestamp[0];
                                                                var month = timestamp[1];
                                                                var day = timestamp[2];
                                                                var hour = timestamp[3];
                                                                var minute = timestamp[4];
                                                                var second = timestamp[5];
                                                                var austDay = new Date(year, month - 1, day, hour, minute, second);
                                                                self.countdown(
                                                                        {
                                                                            until: austDay,
                                                                            onExpiry: reload,
                                                                            layout: '{hn} {hl} ,{mn} {ml}'
                                                                        });
                                                            }
                                                    );
                                                }
                                            }
                                    );
                                }
                            }
                    );

                }
        );
    </script>
{% endblock %}