<!DOCTYPE html>
<html lang="sv-se">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link href="css/style.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <title>Bekräftelse - Grant Thornton</title>

    <style>
        body {
            font-family: "Garamond", serif;
        }
    </style>
</head>
<body style="font-family: &quot;Garamond&quot;, serif;">
<p>Vad roligt att du har gått in och anmält dig till Kunskapsveckan och GetTogether!</p>

<p>Du är anmäld till följande:</p>

<p>
    {% for answer in answerlist %}
        {% if  answer.question.id == 142 or answer.question.id == 144 %}
            <strong>{{ answer.question.title }}:</strong> {{ answer.value }}<br/>
        {% endif %}
    {% endfor %}
    {% for answer in answerlist %}
        {% if answer.question.id == 144 and answer.value == 'Ja' %}
            {% for booking in bookings %}
                {% if booking.room.hotel.id == 10 %}
                    <strong>{{ booking.room.hotel.name }}:</strong> {{ booking.check_in }} - {{ booking.check_out }}
                    <br/>
                    {% for buddy in booking.buddy_list %}
                        <strong>Jag önskar dela rum med:</strong> {{ buddy }} <br/>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    {% if sessions %}
        <strong>Jag vill ha middag följande dagar:</strong><br/>
        {% for session in sessions %}
            {{ session.session.name }}<br/>
        {% endfor %}
    {% endif %}
    {% for answer in answerlist %}
        {% if  answer.question.id == 147 or answer.question.id == 148 %}
            <strong>{{ answer.question.title }}:</strong> {{ answer.value }}<br/>
        {% endif %}
    {% endfor %}
    {% for answer in answerlist %}
        {% if answer.question.id == 148 and answer.value == 'Ja' %}
            {% for booking in bookings %}
                {% if booking.room.hotel.id == 11 %}
                    <strong>{{ booking.room.hotel.name }}:</strong> {{ booking.check_in }} - {{ booking.check_out }}
                    <br/>
                    {% for buddy in booking.buddy_list %}
                        <strong>Jag önskar dela rum med:</strong> {{ buddy }} <br/>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}


</p>
<p>Du hittar även all information om din medverkan på din <a href="{{ base_url }}/gt/?uid={{ secret_key }}">personliga sida</a>.</p>


<p>Kom ihåg att spara denna bekräftelse eftersom du kommer kunna använda denna sida hela vägen fram till du checkar ut
    på söndagen.</p>

<p>Om du har några frågor vänligen kontakta <a href="mailto:my.nyander@springconf.com">my.nyander@springconf.com</a></p>

<p>Mvh<br>

    <span style="color: #4F2D7F; font-family: 'Arial', sans-serif; font-weight: bold; ">Utbildningsavdelningen & SpringConf</span>
</p>
<p>&nbsp;</p>

</body>
</html>