<!DOCTYPE html>
<html lang="sv-se">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="images/favicon.ico">
		<link href="css/style.css" rel="stylesheet">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<title>Bekräftelse - Grant Thornton</title>

		<style>
			body {
				font-family: "Garamond", serif;
			}
		</style>
	</head>
	<body style="font-family: &quot;Garamond&quot;, serif;">
  		<p>Grattis!</p>

  		<p>Du har nu tillgång till din personliga sida för Kunskapsveckan och GetTogether.</p>
        <p>På din länk kommer du raka vägen till din personliga sida. Dela inte denna länk med någon!</p>
        <p><a href="{{ base_url }}/gt/?uid={{ secret_key }}">Din personliga länk</a></p>
	  	<p>Kom ihåg att spara denna bekräftelse eftersom du kommer kunna använda denna sida hela vägen fram till du checkar ut på söndagen.</p>

	  	<p>Mvh<br>

	  	<span style="color: #4F2D7F; font-family: 'Arial', sans-serif; font-weight: bold; ">Utbildningsavdelningen & SpringConf</span></p>
        <p>&nbsp;</p>

	</body>
</html>