<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>KingfoMarket</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	    
	    <link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
	</head>
	
	<body>
	    <div class="wrapper header">
			<a href="index.html" class="selected"><i class="fa fa-bars" aria-hidden="true"></i> Menu</a>
		</div>
	    </div>	
		<div class="wrapper">
			<div class="container padding mainContent">
				<h1>HOTELS</h1>
		        <div class="navigationColumn color2">
		            <ul>
		                <li><a class="" href="#hotel1">HILTON STOCKHOLM SLUSSEN HOTEL</a></li>
		
		                <li><a class="" href="#hotel2">RADISSON BLU WATERFRONT</a></li>
		
		                <li><a class="" href="#hotel3">SHERATON STOCKHOLM HOTEL</a></li>
		
		                <li><a class="" href="#hotel4">RADISSON BLU ROYAL VIKING</a></li>
		
		                <li><a class="" href="#hotel5">BEST WESTERN &amp; HOTEL STOCKHOLM</a></li>
		
		                <li><a class="" href="#hotel6">SCANDIC CONTINENTAL</a></li>
		
		                <li><a class="" href="#hotel7">SCANDIC HAYMARKET</a></li>
		
		                <li><a class="" href="#hotel8">CLARION HOTEL SIGN</a></li>
		
		                <li><a class="" href="#hotel9">NORDIC C</a></li>
		
		                <li><a class="" href="#hotel10">COMFORT HOTEL STOCKHOLM</a></li>
		
		                <li><a class="" href="#hotel11">CLARION HOTEL AMARATEN</a></li>
		
		                <li><a class="" href="#hotel12">CLARION HOTEL STOCKHOLM</a></li>
		            </ul>
		        </div>
		
		        <p><a class="paddingForHotels" id="hotel1"></a></p>
		
		        <h3>HILTON STOCKHOLM SLUSSEN HOTEL</h3>
		
		        <p><strong>Breakfast:</strong> Panorama restaurant (Floor -1) - Time: 06:30h-10:00h Monday-Friday, 07:00h-11:00h Saturday-Sunday<br>
		        <strong>Wifi code:</strong> No password required<br>
		        <strong>Gym:</strong> (1st floor) 00:00h-24:00h Monday-Sunday<br>
		        <strong>Bar:</strong> Eken bar (lobby) - Time: 10:00h-24:00h Monday-Thursday, 10:00h-01:00 Friday-Saturday, 11:00h-24:00h Sunday<br>
		        <strong>Restaurant:</strong> Eken bar (lobby) - Time: 10:00h-24:00h Monday-Thursday, 10:00h-01:00 Friday-Saturday, 11:00h-24:00h Sunday. Kitchen closes at 23:00h<br>
		        <strong>Closest public transport:</strong> Slussen metro station and several bus stops<br>
		        <strong>Check-out time:</strong> 12:00h</p>
		
		        <p><a class="paddingForHotels" id="hotel2"></a></p>
		
		        <h3>RADISSON BLU WATERFRONT</h3>
		
		        <p><strong>Breakfast:</strong> RBG (4th floor) - Time: 06:30h-10:00h Monday-Friday, 07:00h-12:00h Saturday-Sunday<br>
		        <strong>Wifi code:</strong> No access code needed<br>
		        <strong>Gym:</strong> (3rd floor) - Time: 00:00h-24:00h Monday-Sunday<br>
		        <strong>Bar:</strong> Lobby bar (4th floor) - Time: 10:00h-01:00h Monday-Friday, 12:00h-01:00h Saturday, 12:00h-23:00h Sunday<br>
		        <strong>Restaurant:</strong> RBG Bar and Grill (4th floor) - Time: Lunch 11:30h-14:00h Monday-Friday, 12:30h-16:00h Saturday. Dinner: 17:00-22:30 Monday-Sunday<br>
		        <strong>Closest public transport:</strong> Central Station, metro stop T-centralen and bus stops for numbers 2, 3, 59, 62 and 65<br>
		        <strong>Check-out time:</strong> 12:00h</p>
		
		        <p><a class="paddingForHotels" id="hotel3"></a></p>
		
		        <h3>SHERATON STOCKHOLM HOTEL</h3>
		
		        <p><strong>Breakfast:</strong> Restaurant Threesixty (lobby) - Time: 06:30h– 10:30h Monday-Friday, 07:00h-11:00h Sayurday-Sunday<br>
		        <strong>Wifi code:</strong> Enter room number to access Wifi in room. Free access in lobby with password: link@Sheraton.<br>
		        <strong>Gym &amp; Sauna:</strong> (1st floor) 00:00-24:00 Monday-Sunday<br>
		        <strong>Bar:</strong> Threesixty Bar (lobby) - Time: 10:30h-01:00h Monday-Sunday<br>
		        <strong>Restaurant:</strong> Restaurant Threesixty (lobby) - Time: Lunch 11:30-14:30 Monday-Friday, Dinner: 17:30-22:30<br>
		        <strong>Closest public transport:</strong> Central Station, metro stop T-centralen and bus stops for number 2, 3, 59, 62 and 65 <strong>Check-out time:</strong> 12:00h</p>
		
		        <p><a class="paddingForHotels" id="hotel4"></a></p>
		
		        <h3>RADISSON BLU ROYAL VIKING</h3>
		
		        <p><strong>Breakfast:</strong> Atmosphere (1st floor) - Time: 06:30h-10:30h Monday–Thursday, 06:30h- 11:00h Saturday–Sunday<br>
		        <strong>Wifi code:</strong> No password needed<br>
		        <strong>Gym &amp; Sauna:</strong> (1st floor) - Time: 06:00h-22:00h Monday-Friday, 09:00h-18:00h Saturday-Sunday 09:00 to 21:00<br>
		        <strong>Bar:</strong> Lobbybar - Time: 10:00h-24:00h.Skybar 16:00h-24:00h Sunday-Monday, 16:00h-02:00h Tuesday-Thursday, 15:00h-02:00h Friday-Saturday<br>
		        <strong>Restaurant:</strong> Stockholm Fish Restaurant (Ground floor) - Time: 11:00h-23:00h Monday-Friday, 16:00h-23:00h Saturday, 18:00h-22:00h Sunday<br>
		        <strong>Closest public transport:</strong> Central Station is less than 1 min from the hotel<br>
		        <strong>Check-out time:</strong> 12:00h</p>
		
		        <p><a class="paddingForHotels" id="hotel5"></a></p>
		
		        <h3>BEST WESTERN &amp; HOTEL STOCKHOLM</h3>
		
		        <p><strong>Breakfast:</strong> 06:00h-09:30h Monday-Friday, 07:00h-10:30h Saturday-Sunday<br>
		        <strong>Wifi code:</strong> No access code needed<br>
		        <strong>Fitness area:</strong> (1st floor) - Time: 05:30h-22:30h Monday-Sunday<br>
		        <strong>Bar:</strong> &amp;Bar (Ground floor) - Time: 12:00h-00:00h Monday-Thursday, 11:00h-01:00h Friday-Saturday, 16:00h-23:00h Sunday<br>
		        <strong>Restaurant:</strong> &amp;Restaurant - Time: Lunch: 11:00h-14:00 Monday-Friday, Dinner: 17:00h-23:00h Monday-Sunday<br>
		        <strong>Closest public transport:</strong> Metro Hötorget<br>
		        <strong>Check-out time:</strong> 12:00h</p>
		
		        <p><a class="paddingForHotels" id="hotel6"></a></p>
		
		        <h3>SCANDIC CONTINENTAL</h3>
		
		        <p><strong>Breakfast:</strong> The Market (1st floor) - Time: 06:30h-09:30h Monday-Friday, 07:00h-13:00h Saturday-Sunday<br>
		        <strong>Wifi code:</strong> Name and phone number<br>
		        <strong>Gym:</strong> (Floor -1) 06:00h-22:00h<br>
		        <strong>Bar:</strong> Capital (8th floor) - Time: 14:00h-01:00h Monday-Sunday. Lobby bar (Ground floor) - Time: 12:00h-01:00h Monday-Sunday<br>
		        <strong>Restaurant:</strong> The Market (1st floor) 11:00h-14:00h and 17:00-24:00h Monday-Friday, 14:00h-24:00h Saturday, Sunday bar menu available<br>
		        <strong>Closest public transport:</strong> Hotel is 1 min walk from Central Station (Arlanda Express) <strong>Check-out time:</strong> 12:00h<br>
		        <strong>Additional info:</strong> Sun deck with outdoor gym facilities<br>
		        <strong>Map - Directions from bus stop:</strong></p>
		
		        <p><a class="paddingForHotels" id="hotel7"></a></p>
		
		        <h3>SCANDIC HAYMARKET</h3>
		
		        <p><strong>Breakfast:</strong> Paul’s (2nd floor) - Time: 06:30h – 10:00h Monday - Friday, 07:00h – 11:00h Saturday - Sunday<br>
		        <strong>Wifi code:</strong> Code will be given upon check-in<br>
		        <strong>Gym, Sauna, Spa &amp; Jacuzzi:</strong> Garden gym 06:00h - 24:00h<br>
		        <strong>Bar:</strong> Americain (Ground floor) - Time: 11:00h – 24:00h Monday – Thursday, 11:00h – 02:00h Friday, 15:00h – 02:00h Saturday, 15:00h – 00:00h Sunday<br>
		        <strong>Restaurant:</strong> Paul’s (2nd floor) - Time: Lunch: 11:30 - 14:00 Monday - Friday. Dinner: 17:00h – 24:00h Friday - Saturday, 17:00h – 23:00h Sunday - Thursday<br>
		        <strong>Closest public transport:</strong> Metro T-Centralen and Hötorget <strong>Check-out time:</strong> 12:00h<br>
		        <strong>Map - Directions from bus stop:</strong></p>
		
		        <p><a class="paddingForHotels" id="hotel8"></a></p>
		
		        <h3>CLARION HOTEL SIGN</h3>
		
		        <p><strong>Breakfast:</strong> Atrium (Ground floor) - Time: 06:30h-10:00h Monday-Friday, 07:00h-10:00h Saturday-Sunday<br>
		        <strong>Wifi code:</strong> free access<br>
		        <strong>Gym &amp; Spa:</strong> Gym (2nd floor) 05:30h - 22:30h Monday-Sunday. Spa (2nd floor) 09:00h-21:00h Monday-Sunday<br>
		        <strong>Bar:</strong> (Ground floor) - Time: 10:00h-00:00h Monday-Sunday<br>
		        <strong>Restaurant:</strong> American Table (Ground floor) for lunch and dinner<br>
		        <strong>Closest public transport:</strong> Metro / Bus<br>
		        <strong>Check-out time:</strong> 12:00h<br>
		        <strong>Map - Directions from bus stop:</strong></p>
		
		        <p><a class="paddingForHotels" id="hotel9"></a></p>
		
		        <h3>NORDIC C</h3>
		
		        <p><strong>Breakfast:</strong> Mathallen (Ground floor) - Time: 06:30h–10:00h Monday-Friday, 07:00h–11:00h Saturday-Sunday<br>
		        <strong>Wifi code:</strong> Free Wifi<br>
		        <strong>Gym:</strong> (Located across the street at Nordic Light Hotel) 00:00-24:00 Monday-Sunday<br>
		        <strong>Bar:</strong> Heart - Time: 17:00h–22:00h Monday–Sunday<br>
		        <strong>Restaurant:</strong> Hearts - Time: 17:00h–22:00h Monday–Sunday<br>
		        <strong>Closest public transport:</strong> Central Station<br>
		        <strong>Check-out time:</strong> 10:00h<br>
		        <strong>Map - Directions from bus stop:</strong></p>
		
		        <p><a class="paddingForHotels" id="hotel10"></a></p>
		
		        <h3>COMFORT HOTEL STOCKHOLM</h3>
		
		        <p><strong>Breakfast:</strong> Time: 06:30 – 09:30 Mon-Fri, 07:30-11:00 Sat, and 07:30-12:00 on Sunday.<br>
		        <strong>Wifi code:</strong> Wifi is free - guests receive instructions when they check in<strong>Bar:</strong> The bar is located in the reception. Serves wine, beer and soft drinks.<br>
		        <strong>Restaurant:</strong> There is no restaurant. A bar menu with limited options is available at hotel reception.<br>
		        <strong>Closest public transport:</strong> located above the Central Station, next to the Arlanda Express and bus terminal.<br>
		        <strong>Check-out time:</strong> 12:00h<br>
		        <strong>Map - Directions from bus stop:</strong></p>
		
		        <p><a class="paddingForHotels" id="hotel11"></a></p>
		
		        <h3>CLARION HOTEL AMARATEN</h3>
		
		        <p><strong>Breakfast:</strong> Breakfast room (Ground floor) – Time: 06:30h-10:00h Monday-Friday, 07:00h-11:00h Saturday-Sunday<br>
		        <strong>Wifi code:</strong> Register with email address<br>
		        <strong>Fitness Area:</strong> 05:00h-23:00h Monday-Thursday, 05:00-22:00 Friday-Sunday<br>
		        <strong>Bar:</strong> Kitchen &amp; Table - Time: 11:00h-00:00h Monday-Tuesday, 11:00h-01:00h Wednesday-Friday, 15:00h-01:00h Saturday, 15:00h-00:00h Sunday<br>
		        <strong>Restaurant:</strong> Kitchen &amp; Table - Time: 11:00h-00:00h Monday-Tuesday, 11:00h-01:00h Wednesday-Friday, 15:00h-01:00h Saturday, 15:00h-00:00h Sunday<br>
		        <strong>Closest public transport:</strong> Metro: Blue line – station Rådhuset<br>
		        <strong>Check-out time:</strong> 12:00h</p>
		
		        <p><a class="paddingForHotels" id="hotel12"></a></p>
		
		        <h3>CLARION HOTEL STOCKHOLM</h3>
		
		        <p><strong>Breakfast:</strong> (1st floor) - Time: 06:30h-09:30h Monday - Friday, 07:00-10:30 Saturday - Sunday<br>
		        <strong>Wifi code:</strong> Connect to the network Telia Homerun and enter your email address<br>
		        <strong>Gym &amp; Spa:</strong> Gym - Time: 05:30h - 23:00 Monday - Sunday. Spa - Time: 09:00h-20:00h Monday - Friday, 09:00h-18:00h Saturday - Sunday<br>
		        <strong>Bar:</strong> Corner Bar (lobby):<br>
		        <strong>Restaurant:</strong> Upstairs (1st floor) - Time: 10:30h–24:00h Monday – Tuesday, 10:30h-01:00h Wednesday – Thursday, 10:30h-02:00h Friday – Saturday, 10:30h - 24:00h Sunday. Brunch 12:00h-16:00h Saturday-Sunday<br>
		        <strong>Closest public transport:</strong> Bus and metro stations located 50m from hotel<br>
		        <strong>Check-out time:</strong> 12:00h</p>
			</div>
	    </div>
	    <div class="wrapper footer">
			<div class="wrapper">
				<div class="container">
					<div class="row gutters half">
						<div class="col span_12">
							&nbsp;
						</div>
					</div>
                </div>
            </div>
        </div>
	</body>
</html>