

$editColorRow: gray;
$editColorCol: silver;
$editColorElement: slategray;
$fontSize: 15px;
$fontFamily: Helvetica, Arial, sans-serif;

.edit #mainContent {
	font-size: $fontSize;

	.row {
		border: 2px solid $editColorRow;
		border: 2px solid rgba(255, 255, 255, 0);
		padding: 0.5em;
		position: relative;
		border-radius: 0.5em;
		
		.toolBox {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 99;
		font-size: 0;
		
			.toolButton {
				font-size: $fontSize;
				background: $editColorRow;
				padding: 0.25em;
				color: white;
				display: inline-block;
				min-width: 1.5em;
				text-align: center;
			}
			
			.toolButton:hover {
				background: darken($editColorRow, 15%);
				cursor: pointer;
			}	
		}	
	}
	
	.row:hover {
		border: 2px solid $editColorRow;
	}

	.col {
		border: 2px dotted $editColorCol;
		padding: 0.5em;
		min-height: 1em;
		border-radius: 0.5em;
	}
		
		
	.element {
		
		border: 2px solid rgba(255, 255, 255, 0);
		padding: 0.5em;
		margin-bottom: 0;
		position: relative;
	
		.toolButton {
			font-size: $fontSize;
			background: $editColorElement!important;
		}

		.toolButton:hover {
			background: darken($editColorElement, 15%)!important;
			cursor: pointer;
		}	
	}
	
	.element:hover {
		border: 2px solid $editColorElement;
	}
	
	.ui-state-highlight {
		border: 2px dotted red;
		height: 2em;
	}
	
	.highlight {
		color: red!important;
		border: 5px solid red;
	}
	
	button {
		font-size: 20px;
		padding: 5px;
	}
}



.floatingToolBox {
	color: white;
	font-family: $fontFamily;
	font-size: $fontSize;
	display: block;
	background: rgba(40, 39, 36, 0.9);
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	border-radius: 0.25em;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
	
	.floatingToolBoxTitleRow {
		border-bottom: 1px solid gray;
		padding: 0.5em;
		color: white;
		text-shadow: 0px 0px 0px black;
		position: relative;
		
		.floatingToolBoxClose {
			margin: 0 0.5em;
			display: inline-block;
			cursor: pointer;
			position: absolute;
			right: 0;
		}
	}
	
	.toolBoxContent {
		padding: 0.5em;
		
		.toolBoxButtons {
			list-style: none;
			font-size: 0;
			width: $fontSize *5;
			margin: 0;
			
			li {
				border: 1px solid rgba(255, 255, 255, 0);
				font-size: $fontSize;
				width: 2.5em;
				height: 2.5em;
				display: inline-block;
				color: white;
				border-radius: 0.25em;
				text-align: center;
				padding: 0;
				transition: box-shadow 0.25s, border 0.25s, background 0.25s;
				
				i {
					margin-top: 0.55em;
					cursor: pointer;
				}
				
			}
		
			li.active {
				text-shadow: 0 -1px 0 #1D6DC1;
				color: #fff;
				border: 1px solid #1D6DC1;
				background: -webkit-linear-gradient(top, rgba(122, 188, 255, 1) 0%, rgba(96, 171, 248, 1) 44%, rgba(64, 150, 238, 1) 100%);
				transition: box-shadow 0.25s, border 0.25s, background 0.25s;
			}
			

			li:hover {
				border: 1px solid white;
				transition: box-shadow 0.25s, border 0.25s, background 0.25s;
			}
		}
		
		#editForm {
			width: 100%;
			i {

			}
		}
		
		#editForm.active {
			i {
				margin-top: 0.075em;
			}
		}
	}
}

#currentCol {
	width: 100%;
	display: block;
	border: 1px solid white;
	overflow: hidden;
	margin-bottom: 0.25em;
	padding: 0.25em;
	border-radius: 0.25em;
}

.addColPreDefined {
	width: 2.2em;
	height: auto;
	border: 1px solid rgba(255, 255, 255, 0);
	padding: 0.25em;
}

.addColPreDefined:hover {
	border: 1px solid white;
	cursor: pointer;
	border-radius: 0.25em;
}


.toolBoxContent label:first-child {
	margin-top: 0;
	border-top: none;
	padding-top: 0.0em;
}

.toolBoxContent label {
	display: block;
	margin-bottom: 0.5em;
	font-style: italic;
	margin-top: 0.5em;
	border-top: 1px solid gray;
	padding-top: 0.25em;
}

#addColumns {
	width: 30em;
	display: none;
}

#addColumns.visible {
	display: block;	
}

.addCol {
	float: left;
	border: 1px dotted white;
	padding: 0.25em;
	color: white;
	border-radius: 0.25em;
}


.addCol-drag {
	border-left: 3px dotted red;
	height: 2em;
	float: left;
	width: auto;
}


#toolBoxCol {
	display: block;
	position: relative;
}

#toolBoxColFooter {
	width: 100%;
	background: blue;
}
	
.addCol i {
	float: right;
	cursor: pointer;
}

#addColToPage {
	float: right;
	margin-bottom: 0.5em;
}

[data-colWidth="12"] {
	width: 100%;
}

[data-colWidth="11"] {
	width: 91.666666666%;
}

[data-colWidth="10"] {
	width: 83.333333333%;
}			

[data-colWidth="9"] {
	width: 75%;
}			

[data-colWidth="8"] {
	width: 66.666666666%;
}			

[data-colWidth="7"] {
	width: 58.333333333%;
}			

[data-colWidth="6"] {
	width: 50%;
}			

[data-colWidth="5"] {
	width: 41.666666666%;
}			

[data-colWidth="4"] {
	width: 33.333333333%;
}			

[data-colWidth="3"] {
	width: 25%;
}			

[data-colWidth="2"] {
	width: 16.666666666%;
}			

[data-colWidth="1"] {
	width: 8.3333333333%;
}		


// Add content

#addContent {
	display: none;
}

#addContent.visible {
	display: block;
}


.CodeMirror {
	height: auto!important;
}
.editorwrap {
	width: 40em;
}

.entry-markdown {
	color: black;
	width: 49.5%;
	margin-right: 0.5%;
	float: left;
	margin-bottom: 0.5em;
}

.entry-markdown-content {
	background-color: white;
	max-height: 15em;
	overflow-y: auto;
}

.entry-preview-content {
	width: 49.5%;
	margin-left: 0.5%;
	float: left;
	margin-bottom: 0.5em;
}

.rendered-markdown {
	min-height: 3em;	
	padding: 0.5em;
	max-height: 15em;
	overflow-y: auto;
}

.CodeMirror-wrap {
	padding: 0.5em;
	min-height: 3em;
}

.floatingheader {
	padding: none!important;
	margin: none!important;
	color: white!important;
}

.test {
	
border: 3px solid red;
}