<div class="event-plugin element event-plugin-attendee-list box"
     {% if data_user_id %}id="page-{{ page_id }}-box-{{ box_id }}-u-{{ data_user_id }}" data-uid="{{ data_user_id }}"
     {% else %}id="page-{{ page_id }}-box-{{ box_id }}"{% endif %} data-id="{{ element_id }}"
     data-name="attendee-list">
    {#    <input type="hidden" class="attendee-plugin-column-id" value="{{ column_ids }}">#}
    {#    <input type="hidden" class="attendee-plugin-filter-id" value="{{ filter_id }}">#}
    <input type="hidden" class="attendee-plugin-counting-column" value="{{ counting_column }}">
    <input type="hidden" class="attendee-plugin-attendee-export-id" value="{{ attendee_export_id }}">
    <input type="hidden" class="attendee-plugin-attendee-per-page" value="{{ attendees_per_page }}">
    <input type="hidden" class="attendee-plugin-display-attendee-table" value="{{ display_table }}">
    <input type="hidden" class="attendee-plugin-counting-column-header"
           value="{{ language.langkey.attendee_list_txt_counting_column_header }}">
    <div class="event-plugin-intro">
        {{ message | safe }}
    </div>
    {% if excel_button %}
        <button class="event-plugin-button top attendee-list-download-spreadsheet-button settings-plugin-element plugin-attendee-list-{{ plugin_settings.attendee_list.attendee_list_allow_excel_export.id }}">
            {{ language.langkey.attendee_list_btn_download_spreadsheet }}
        </button>
    {% endif %}

    {% if search_field %}
        <div class="event-plugin-search-wrapper settings-plugin-element">
            <input id="temporary-id-1" class="event-plugin-search attendee-plugin-search" type="text"
                   placeholder="{{ language.langkey.attendee_list_txt_placeholder_search }}"/>

            <div class="event-plugin-clear-search"></div>
        </div>
    {% endif %}

    {% if display_total_attendees %}
        <div class="total-attendees-wrapper"><span
                class="total-attendees-label">{{ language.langkey.attendee_list_txt_total_attendee_count }}</span>
            <span class="total-attendees-number"></span>
        </div>
    {% endif %}
    {#    <div class="scroll-x">#}
    <div class="attendee-table-content">
        {#            <table class="event-plugin-table lines">#}
        {#                <thead>#}
        {#                <tr>#}
        {#                    {% for column_name in column_names %}#}
        {#                        <th>{{ column_name }}</th>#}
        {#                    {% endfor %}#}
        {#                </tr>#}
        {#                </thead>#}
        {#                <tbody>#}
        {#                {% for attendee_data in attendee_datas %}#}
        {#                    <tr>#}
        {#                        {% for att in attendee_data.attr %}#}
        {#                            <td class="{{ att.question }}">{{ att.answer|safe }}</td>#}
        {#                        {% endfor %}#}
        {#                    </tr>#}
        {#                {% endfor %}#}
        {##}
        {#                </tbody>#}
        {#            </table>#}
        {#            {% if pagination %}#}
        {#                <div class="pagination">#}
        {#                    {% if prev_btn_visible %}#}
        {#                    <a href="javascript:void(0)" class="pagination-item" data-value="{{ current_page_num|add:"-1" }}">Prev</a>#}
        {#                    {% endif %}#}
        {#                    {% for item in pages %}#}
        {#                        <a href="javascript:void(0)" class="pagination-item" data-value="{{ item }}" {% if item == current_page_num %} style="color:red" {%endif %}>{{ item }}</a>#}
        {#                    {% endfor %}#}
        {#                    {% if next_btn_visible %}#}
        {#                    <a href="javascript:void(0)" class="pagination-item" data-value="{{ current_page_num|add:"1" }}">Next</a>#}
        {#                    {% endif %}#}
        {#                </div>#}
        {#            {% endif %}#}
    </div>

    {#    </div>#}
</div>
<script>
    var dt_language = {
        "emptyTable": "{{ language.langkey.attendee_list_txt_empty }}",
        "info": "{{ language.langkey.attendee_list_txt_x_y_of_z }}",
        "infoEmpty": "{{ language.langkey.attendee_list_txt_empty  }}",
        "zeroRecords": "No matching records found"
    };
</script>
