<div class="event-plugin element event-plugin-log-out box"
     {% if data_user_id %}id="page-{{ page_id }}-box-{{ box_id }}-u-{{ data_user_id }}" data-uid="{{ data_user_id }}"
     {% else %}id="page-{{ page_id }}-box-{{ box_id }}"{% endif %} data-id="{{ element_id }}"
     data-name="log-out">
    {% if manual_button == 'True' %}
        <a class="event-plugin-button event-plugin-log-out-button"
           href="{% url 'static-pages' event_url=request.session.event_url staticPage='logout' %}">{{ language.langkey.attendee_logout_txt_button }}</a>
    {% endif %}
</div>
