<div class="event-plugin element event-plugin-login-form box"
     {% if data_user_id %}id="page-{{ page_id }}-box-{{ box_id }}-u-{{ data_user_id }}" data-uid="{{ data_user_id }}"
     {% else %}id="page-{{ page_id }}-box-{{ box_id }}"{% endif %} data-id="{{ element_id }}"
     data-name="login-form">
    <div class="event-plugin-intro">
        {% if title != '' or title != None %}
            <h3 class="text-color2">{{ title }}</h3>
        {% endif %}
        {{ message|safe }}
    </div>
    <div class="form-question">
        <label for="text1"
               class="form-question-label email-password-verification-email-label">{{ language.langkey.login_form_txt_email }}</label>
        <input class="email-password-verification-email" id="" type="text">
    </div>
    <div class="form-question">
        <label for="text1"
               class="form-question-label email-password-verification-password-label">{{ language.langkey.login_form_txt_password }}</label>
        <input class="email-password-verification-password" id="" type="password">
    </div>
    <div class="error-validating">{{ language.langkey.login_form_notify_valid_failed }}</div>
    <button class="event-plugin-button verification-login-send-button">{{ language.langkey.login_form_btn_login }}</button>
    {% if show_reset_password_link == 'True' %}
        <a href="{% url 'reset-password-public' event_url=request.session.event_url %}"
           class="reset-password-link">{{ language.langkey.login_form_txt_forgot_password }}</a>
    {% endif %}
</div>