<div class="event-plugin element event-plugin-location-list box" {% if data_user_id %}id="page-{{ page_id }}-box-{{ box_id }}-u-{{ data_user_id }}" data-uid="{{ data_user_id }}"{% else %}id="page-{{ page_id }}-box-{{ box_id }}"{% endif %} data-id="{{ element_id }}"
     data-name="location-list">
    {% if locationGroups %}
        {#    <div class="event-plugin element event-plugin-location-list">#}
        <div class="event-plugin-intro">
            {#            {% if title != '' or title != None %}#}
            {#                <h3>{{ title }}</h3>#}
            {#            {% endif %}#}
            {{ message|safe }}
        </div>
        {% if list_searchable == 'True' %}
            <div class="event-plugin-search-wrapper">
                <input id="temporary-id-1" class="event-plugin-search page-search-location" type="text"
                       placeholder="{{ language.langkey.locationlist_txt_placeholder_search }}"/>
                <div class="event-plugin-clear-search"></div>
            </div>
        {% endif %}
        <div class="event-plugin-list">
            {% include 'public/element/locations.html' %}
        </div>
        {#    </div>#}
    {% endif %}
</div>