{#<div class="event-plugin element event-plugin-location-list">#}
{#    <div class="event-plugin-list">#}
{#        {% include 'public/element/location_details.html' %}#}
{#    </div>#}
{#</div>#}
<div class="location-section">
    {% if location_title == 'True' %}
        <h3 class="location-detail-title">{{ location.name|safe }}</h3>
    {% endif %}
    {% if description == 'True' %}
        <div class="location-description">
            {{ location.description|safe }}
        </div>
    {% endif %}
</div>
<div class="location-details-section">
    <table class="event-plugin-table event-plugin-location-list-table">
        <tbody>
        {% if location.show_map_highlight %}
            {% if link_map == 'True' %}
                {% if location.latitude or location.map_highlight %}
                    <tr class="location">
                        <td><span class="location-list-map-icon"></span>
                        </td>
                        <td>{% if location.map_highlight %}
                            <a target="_blank"
                               href="https://www.google.se/maps/place/{{ location.map_highlight }}">{{ language.langkey.locationlist_txt_map_location }}</a>
                        {% else %}
                            <a target="_blank"
                               href="http://maps.google.se/maps?z=12&t=m&q=loc:{{ location.latitude }}+{{ location.longitude }}">{{ language.langkey.locationlist_txt_map_location }}</a>
                        {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if address_details == 'True' %}
            {% if location.address %}
                <tr class="address">
                    <td><span class="location-list-address-icon"></span>
                    </td>
                    <td>
                        <label class="event-plugin-label">{{ language.langkey.locationlist_txt_address }}:</label><br/>
                        {{ location.address|safe }}
                    </td>
                </tr>
            {% endif %}
        {% endif %}
        {% if contact_details == 'True' %}
            {% if location.show_contact_name or  location.show_contact_web or location.show_contact_email or location.show_contact_phone %}
                {% if location.contact_name or  location.contact_web or location.contact_email or location.contact_phone %}
                    <tr class="contact">
                        <td><span class="location-list-speaker-icon"></span>
                        </td>
                        <td>
                            <label class="event-plugin-label">{{ language.langkey.locationlist_txt_contact }}:</label><br/>
                            {% if location.contact_name and location.show_contact_name %}
                                <span class="name">{{ location.contact_name }}<br/></span>{% endif %}
                            {% if location.contact_web and location.show_contact_web %}
                                <span class="web"><a href="{{ location.contact_web }}"
                                                     target="_blank">{{ location.contact_web }}</a><br/></span>{% endif %}
                            {% if location.contact_email and location.show_contact_email %}<span class="mail"><a
                                    href="mailto:{{ location.contact_email }}">{{ location.contact_email }}</a><br/></span>{% endif %}
                            {% if location.contact_phone and location.show_contact_phone %}
                                <span class="phone">{{ location.contact_phone }}</span>{% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endif %}
        </tbody>
    </table>
</div>