<div class="event-plugin element event-plugin-logout box" {% if data_user_id %}id="page-{{ page_id }}-box-{{ box_id }}-u-{{ data_user_id }}" data-uid="{{ data_user_id }}"{% else %}id="page-{{ page_id }}-box-{{ box_id }}"{% endif %} data-id="{{ element_id }}"
     data-name="logout">
    <div class="event-plugin-intro">
        {{ message| safe }}
    </div>
    <div class="form-question">
        <span>{{ language.langkey.logout_message_text }}</span>
        <a href="{% url 'welcome' event_url=request.session.event_url %}" class="button logout-page-back-button">{{ language.langkey.logout_back_button }}</a>
    </div>
</div>