<div class="event-plugin-item event-plugin-multiple-registration-attendee-form-inline"
     inline-data-attendee-idz4Vv3ZLs3R="{{ user_id }}">
    <div class="event-plugin-item-information">
        <label class="event-question-label event-plugin-multiple-registration-form-information">{{ language.langkey.multiple_registration_text_attendee }}
            <span class="event-plugin-multiple-registration-form-information-number"> {{ total_attendees }} / {{ total_attendees }}</span></label>
        <button class="event-plugin-button event-plugin-multiple-registration-delete-attendee-button-from-inline small"
                inline-data-attendee-del-idz4Vv3ZLs3R="{{ user_id }}">
            {{ language.langkey.multiple_registration_delete_button }}
        </button>
    </div>
    <!--This is where the form starts-->
    {{ html|safe }}
    <!--This is where the form ends-->
</div>
