<div class="event-plugin element event-plugin-new-password box" {% if data_user_id %}id="page-{{ page_id }}-box-{{ box_id }}-u-{{ data_user_id }}" data-uid="{{ data_user_id }}"{% else %}id="page-{{ page_id }}-box-{{ box_id }}"{% endif %} data-id="{{ element_id }}"
     data-name="new-password">
    <div class="event-plugin-intro">
        {#    {% if title != '' or title != None %}#}
        {#        <h3 class="text-color2">{{ title }}</h3>#}
        {#    {% endif %}#}
        {{ message|safe }}
    </div>
    <div class="form-question">
        <label for="text1"
               class="form-question-label event-plugin-new-password-email-label">{{ language.langkey.new_password_txt_password }}</label>
        <input type="text" class="event-plugin-new-password-email" id="">
        <div class="error-validating">{{ language.langkey.new_password_notify_validation }}</div>
    </div>
    <div class="form-question">
        <label for="text1"
               class="form-question-label event-plugin-repeat-new-password-email-label">{{ language.langkey.new_password_txt_repeat_password }}</label>
        <input type="text" class="event-plugin-repeat-new-password-email" id="">
        <div class="error-validating">{{ language.langkey.new_password_notify_validation }}</div>
    </div>
    <button class="event-plugin-button event-plugin-new-password-button">{{ language.langkey.new_password_btn_change }}</button>
</div>