<div class="event-plugin element event-plugin-pdf-button box" {% if data_user_id %}id="page-{{ page_id }}-box-{{ box_id }}-u-{{ data_user_id }}" data-uid="{{ data_user_id }}"{% else %}id="page-{{ page_id }}-box-{{ box_id }}"{% endif %} data-id="{{ element_id }}"
     data-name="pdf-button" data-pdf-button-id="{{ pdf_button.id }}" data-pdf-button-name="{{ pdf_button.name }}">
    <button class="event-plugin-button form-pdf-button" data-page-id="{{ page_id }}">
        {% if title != '' and title != None %}{{ title }}{% else %}Download PDF{% endif %}
    </button>
{#    <div class="error-validating">{{ language.langkey.reset_password_notify_validation }}</div>#}
</div>
