<div class="event-plugin element event-plugin-photo-upload box" {% if data_user_id %}id="page-{{ page_id }}-box-{{ box_id }}-u-{{ data_user_id }}" data-uid="{{ data_user_id }}"{% else %}id="page-{{ page_id }}-box-{{ box_id }}"{% endif %} data-id="{{ element_id }}"
     data-name="photo-upload" data-photo-group-id="{{ photo_group.id }}" data-photo-group-name="{{ photo_group.name }}">
    <div class="event-plugin-intro">
        {{ message|safe }}
    </div>
    <div class="event-question">
{#        <button class="event-plugin-button event-plugin-photo-upload-file-select-button">{{ language.langkey.photo_upload_photo_choose }}<input type="file" name="pic"#}
{#                                                                                                 accept="image/*"></button>#}
        <label class="event-plugin-button event-plugin-photo-upload-file-select-button">{{ language.langkey.photo_upload_photo_choose }}<input type="file" name="pic"
                                                                                                 accept="image/*"></label>
        <div class="selected-file" style="display: none;"><span
                class="file-name-label">{{ language.langkey.photo_upload_filename }}</span> <span
                class="file-fake-path"></span>
        </div>
    </div>
    {% if comment == 'True' %}
        <div class="event-question">
            <label class="event-question-label event-plugin-photo-upload-comment-label">{{ language.langkey.photo_upload_comment_label }}</label>
            <textarea name="comment" class="event-plugin-photo-upload-comment-textarea" placeholder="{{ language.langkey.photo_upload_comment_placeholder }}"></textarea>

        </div>
    {% endif %}
    <button class="event-plugin-button upload-image event-plugin-photo-upload-button">{{ language.langkey.photo_upload_button }}</button>
    <div class="error-on-validate">{{ language.langkey.photo_upload_notification_error_general }}</div>
</div>

{#<style>#}
{#    .event-plugin-photo-upload-file-select-button input {#}
{#        position: absolute;#}
{#        top: 0;#}
{#        left: 0;#}
{#        margin: 0;#}
{#        opacity: 0;#}
{#        filter: alpha(opacity=0);#}
{#        z-index: -1;#}
{#    }#}
{#</style>#}
