<div class="event-plugin element event-plugin-request-login box" {% if data_user_id %}id="page-{{ page_id }}-box-{{ box_id }}-u-{{ data_user_id }}" data-uid="{{ data_user_id }}"{% else %}id="page-{{ page_id }}-box-{{ box_id }}"{% endif %} data-id="{{ element_id }}"
     data-name="request-login">
    <div class="event-plugin-intro">
        {#    {% if title != '' or title != None %}#}
        {#        <h3 class="text-color2">{{ title }}</h3>#}
        {#    {% endif %}#}
        {{ message|safe }}
    </div>
    <div class="form-question">
        <label for="text1"
               class="form-question-label request-login-email-label">{{ language.langkey.request_login_txt_email }}</label>
        <input class="request-login-email" id="" type="text">
        <div class="error-validating">{{ language.langkey.request_login_notify_request }}</div>
    </div>
    <button class="event-plugin-button request-login-send-button"
            data-email-id="{{ email_id }}">{{ language.langkey.request_login_btn_request }}</button>
</div>