<div class="event-plugin element event-plugin-reset-password box" {% if data_user_id %}id="page-{{ page_id }}-box-{{ box_id }}-u-{{ data_user_id }}" data-uid="{{ data_user_id }}"{% else %}id="page-{{ page_id }}-box-{{ box_id }}"{% endif %} data-id="{{ element_id }}"
     data-name="reset-password">
    <div class="event-plugin-intro">
        {#    {% if title != '' or title != None %}#}
        {#        <h3 class="text-color2">{{ title }}</h3>#}
        {#    {% endif %}#}
        {{ message|safe }}
    </div>
    <div class="event-question">
        <label for="text1"
               class="event-question-label event-plugin-reset-password-email-label">{{ language.langkey.reset_password_txt_email }}</label>
        <input type="text" class="event-plugin-reset-password-email">
        <div class="error-validating">{{ language.langkey.reset_password_notify_validation }}</div>
    </div>
    <button class="event-plugin-button reset-password-button" data-email-id="{{ email_id }}">{{ language.langkey.reset_password_btn_send }}</button>
</div>

