<h1>{{ language.langkey.reset_password_txt_header }}</h1>
<p>{{ language.langkey.reset_password_txt_message }}</p>
<table class="event-plugin-table retrieve-password-table">
    <thead>
    <tr>
        <th>{{ language.langkey.reset_password_txt_th_first_name }}</th>
        <th>{{ language.langkey.reset_password_txt_th_last_name }}</th>
        <th>{{ language.langkey.reset_password_txt_th_event }}</th>
        <th>{{ language.langkey.reset_password_txt_th_select }}</th>
    </tr>
    </thead>
    <tbody>
    {% for user in userData %}
        <tr>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.event.name }}</td>
            <td>
                <button class="small" onclick="reset_password_by_event({
                        'user_id':{{ user.id }},
                        'csrfmiddlewaretoken':'{{ csrf_token }}'
                        })">{{ language.langkey.reset_password_btn_select_event }}
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    function reset_password_by_event(obj) {
        $.ajax({
            url: site_url + '/send-retrive-passwrod-mail-by-eventid/',
            type: "POST",
            data: obj,
            success: function (result) {
                if (result.success) {
                    $.growl.notice({message: result.message});
                } else {
                    console.log('validation-failed');
                }
            }
        });
    }
</script>