<div class="event-plugin-intro">
    <p>This text is defined by a setting</p>
</div>

<div class="event-plugin element event-plugin-session-scheduler">
    <div class="session-group-toggle-list">
        <div class="session-group-toggle-list-item">
            <input id="session-group-1" checked="checked" type="checkbox">
            <label class="session-group-toggle-list-item-label"
                   for="session-group-1">{{ language.langkey.sessionscheduler_txt_session_group }} 1</label>
        </div>
        <div class="session-group-toggle-list-item">
            <input id="session-group-2" checked="checked" type="checkbox">
            <label class="session-group-toggle-list-item-label"
                   for="session-group-2">{{ language.langkey.sessionscheduler_txt_session_group }} 2</label>
        </div>
        <div class="session-group-toggle-list-item">
            <input id="session-group-3" type="checkbox">
            <label class="session-group-toggle-list-item-label"
                   for="session-group-3">{{ language.langkey.sessionscheduler_txt_session_group }} 3</label>
        </div>
        <div class="session-group-toggle-list-item">
            <input id="session-group-4" type="checkbox">
            <label class="session-group-toggle-list-item-label"
                   for="session-group-4">{{ language.langkey.sessionscheduler_txt_session_group }} 4</label>
        </div>
    </div>
    <div class="switch-wrapper">
        <label class="switch">
            <input class="session-my-session-toggle" id="session-my-session-toggle" type="checkbox">
            <div class="slider round"></div>
        </label>
        <label class="toggle-label session-my-session-toggle-label" for="session-my-session-toggle">Show my sessions
            only</label>
    </div>
    <div class="session-scheduler"></div>
    <button class="event-plugin-button session-subscribe-to-calendar-icon">Subscribe to my sessions</button>
</div>
<div class="event-plugin element event-plugin-session-scheduler">
    <div class="session">
        <div class="session-title">Session Title</div>
        <div class="session-content">
            <div class="session-content-item time-and-date" title="Start &amp; End Time">
                <span class="session-time-and-date-icon"></span>
                <span class="time start">10:00</span> <span class="date start">2016-06-15</span> - <span
                    class="time end">10:00</span> <span class="date end">2016-06-15</span>
            </div>
            <div class="session-content-item rsvp-deadline"
                 title="{{ language.langkey.sessionscheduler_txt_rsvp }}">
                <span class="session-rsvp-deadline-icon"></span>
                <span class="date">2016-06-15</span>
            </div>
            <div class="session-content-item speaker" title="{{ language.langkey.sessionscheduler_txt_speakers }}">
                <span class="session-speaker-icon"></span>
                <a href="#" target="_blank">Firstname Lastname</a>, <a href="#" target="_blank">Firstname
                Lastname</a>,
                <a href="#" target="_blank">Firstname Lastname</a>
            </div>
            <div class="session-content-item tags" title="{{ language.langkey.sessionscheduler_txt_tags }}">
                <span class="session-tags-icon"></span>
                <div class="event-plugin-tags-list">
                    <div class="event-plugin-tag">Tag 1
                    </div>
                    <div class="event-plugin-tag">Tag 2
                    </div>
                    <div class="event-plugin-tag">Tag 3
                    </div>
                </div>
            </div>
            <div class="session-content-item session-group"
                 title="{{ language.langkey.sessionscheduler_txt_session_group }}">
                <span class="session-group-icon"></span>
                Testgroup
            </div>
            <div class="session-content-item seats-available"
                 title="{{ language.langkey.sessionscheduler_txt_seat_availability }}">
                <span class="session-seats-available-icon"></span>
                Good
            </div>
            <div class="session-content-item location" title="{{ language.langkey.sessionscheduler_txt_location }}">
                <span class="session-location-icon"></span>
                <a href="#" target="_blank">Stockholm</a>
            </div>
        </div>
    </div>
    <div class="session attending">
        <div class="session-title">Session Title <span class="status"> Attending</span></div>
        <div class="session-content">
            <div class="session-content-item time-and-date" title="Start &amp; End Time">
                <span class="session-time-and-date-icon"></span>
                <span class="time start">10:00</span> <span class="date start">2016-06-15</span> - <span
                    class="time end">10:00</span> <span class="date end">2016-06-15</span>
            </div>
            <div class="session-content-item rsvp-deadline"
                 title="{{ language.langkey.sessionscheduler_txt_rsvp }}">
                <span class="session-rsvp-deadline-icon"></span>
                <span class="date">2016-06-15</span>
            </div>
            <div class="session-content-item speaker" title="{{ language.langkey.sessionscheduler_txt_speakers }}">
                <span class="session-speaker-icon"></span>
                <a href="#" target="_blank">Firstname Lastname</a>, <a href="#" target="_blank">Firstname
                Lastname</a>,
                <a href="#" target="_blank">Firstname Lastname</a>
            </div>
            <div class="session-content-item tags" title="{{ language.langkey.sessionscheduler_txt_tags }}">
                <span class="session-tags-icon"></span>
                <div class="event-plugin-tags-list">
                    <div class="event-plugin-tag">Tag 1
                    </div>
                    <div class="event-plugin-tag">Tag 2
                    </div>
                    <div class="event-plugin-tag">Tag 3
                    </div>
                </div>
            </div>
            <div class="session-content-item session-group"
                 title="{{ language.langkey.sessionscheduler_txt_session_group }}">
                <span class="session-group-icon"></span>
                Testgroup
            </div>
            <div class="session-content-item seats-available"
                 title="{{ language.langkey.sessionscheduler_txt_seat_availability }}">
                <span class="session-seats-available-icon"></span>
                Good
            </div>
            <div class="session-content-item location" title="{{ language.langkey.sessionscheduler_txt_location }}">
                <span class="session-location-icon"></span>
                <a href="#" target="_blank">Stockholm</a>
            </div>
        </div>
    </div>
    <div class="session in-queue">
        <div class="session-title">Session Title <span class="status"> In Queue</span></div>
        <div class="session-content">
            <div class="session-content-item time-and-date" title="Start &amp; End Time">
                <span class="session-time-and-date-icon"></span>
                <span class="time start">10:00</span> <span class="date start">2016-06-15</span> - <span
                    class="time end">10:00</span> <span class="date end">2016-06-15</span>
            </div>
            <div class="session-content-item rsvp-deadline"
                 title="{{ language.langkey.sessionscheduler_txt_rsvp }}">
                <span class="session-rsvp-deadline-icon"></span>
                <span class="date">2016-06-15</span>
            </div>
            <div class="session-content-item speaker" title="{{ language.langkey.sessionscheduler_txt_speakers }}">
                <span class="session-speaker-icon"></span>
                <a href="#" target="_blank">Firstname Lastname</a>, <a href="#" target="_blank">Firstname
                Lastname</a>,
                <a href="#" target="_blank">Firstname Lastname</a>
            </div>
            <div class="session-content-item tags" title="{{ language.langkey.sessionscheduler_txt_tags }}">
                <span class="session-tags-icon"></span>
                <div class="event-plugin-tags-list">
                    <div class="event-plugin-tag">Tag 1
                    </div>
                    <div class="event-plugin-tag">Tag 2
                    </div>
                    <div class="event-plugin-tag">Tag 3
                    </div>
                </div>
            </div>
            <div class="session-content-item session-group"
                 title="{{ language.langkey.sessionscheduler_txt_session_group }}">
                <span class="session-group-icon"></span>
                Testgroup
            </div>
            <div class="session-content-item seats-available"
                 title="{{ language.langkey.sessionscheduler_txt_seat_availability }}">
                <span class="session-seats-available-icon"></span>
                Good
            </div>
            <div class="session-content-item location" title="{{ language.langkey.sessionscheduler_txt_location }}">
                <span class="session-location-icon"></span>
                <a href="#" target="_blank">Stockholm</a>
            </div>
        </div>
    </div>
    <div class="session full">
        <div class="session-title">Session Title <span class="status"> Full</span></div>
        <div class="session-content">
            <div class="session-content-item time-and-date" title="Start &amp; End Time">
                <span class="session-time-and-date-icon"></span>
                <span class="time start">10:00</span> <span class="date start">2016-06-15</span> - <span
                    class="time end">10:00</span> <span class="date end">2016-06-15</span>
            </div>
            <div class="session-content-item rsvp-deadline"
                 title="{{ language.langkey.sessionscheduler_txt_rsvp }}">
                <span class="session-rsvp-deadline-icon"></span>
                <span class="date">2016-06-15</span>
            </div>
            <div class="session-content-item speaker" title="{{ language.langkey.sessionscheduler_txt_speakers }}">
                <span class="session-speaker-icon"></span>
                <a href="#" target="_blank">Firstname Lastname</a>, <a href="#" target="_blank">Firstname
                Lastname</a>,
                <a href="#" target="_blank">Firstname Lastname</a>
            </div>
            <div class="session-content-item tags" title="{{ language.langkey.sessionscheduler_txt_tags }}">
                <span class="session-tags-icon"></span>
                <div class="event-plugin-tags-list">
                    <div class="event-plugin-tag">Tag 1
                    </div>
                    <div class="event-plugin-tag">Tag 2
                    </div>
                    <div class="event-plugin-tag">Tag 3
                    </div>
                </div>
            </div>
            <div class="session-content-item session-group"
                 title="{{ language.langkey.sessionscheduler_txt_session_group }}">
                <span class="session-group-icon"></span>
                Testgroup
            </div>
            <div class="session-content-item seats-available"
                 title="{{ language.langkey.sessionscheduler_txt_seat_availability }}">
                <span class="session-seats-available-icon"></span>
                Good
            </div>
            <div class="session-content-item location" title="{{ language.langkey.sessionscheduler_txt_location }}">
                <span class="session-location-icon"></span>
                <a href="#" target="_blank">Stockholm</a>
            </div>
        </div>
    </div>
    <div class="session full">
        <div class="session-title">Session Title <span class="status"> Full <em>- Queue open</em></span></div>
        <div class="session-content">
            <div class="session-content-item time-and-date" title="Start &amp; End Time">
                <span class="session-time-and-date-icon"></span>
                <span class="time start">10:00</span> <span class="date start">2016-06-15</span> - <span
                    class="time end">10:00</span> <span class="date end">2016-06-15</span>
            </div>
            <div class="session-content-item rsvp-deadline"
                 title="{{ language.langkey.sessionscheduler_txt_rsvp }}">
                <span class="session-rsvp-deadline-icon"></span>
                <span class="date">2016-06-15</span>
            </div>
            <div class="session-content-item speaker" title="{{ language.langkey.sessionscheduler_txt_speakers }}">
                <span class="session-speaker-icon"></span>
                <a href="#" target="_blank">Firstname Lastname</a>, <a href="#" target="_blank">Firstname
                Lastname</a>,
                <a href="#" target="_blank">Firstname Lastname</a>
            </div>
            <div class="session-content-item tags" title="{{ language.langkey.sessionscheduler_txt_tags }}">
                <span class="session-tags-icon"></span>
                <div class="event-plugin-tags-list">
                    <div class="event-plugin-tag">Tag 1
                    </div>
                    <div class="event-plugin-tag">Tag 2
                    </div>
                    <div class="event-plugin-tag">Tag 3
                    </div>
                </div>
            </div>
            <div class="session-content-item session-group"
                 title="{{ language.langkey.sessionscheduler_txt_session_group }}">
                <span class="session-group-icon"></span>
                Testgroup
            </div>
            <div class="session-content-item seats-available"
                 title="{{ language.langkey.sessionscheduler_txt_seat_availability }}">
                <span class="session-seats-available-icon"></span>
                Good
            </div>
            <div class="session-content-item location" title="{{ language.langkey.sessionscheduler_txt_location }}">
                <span class="session-location-icon"></span>
                <a href="#" target="_blank">Stockholm</a>
            </div>
        </div>
    </div>
    <div class="session rsvp-ended">
        <div class="session-title">Session Title <span class="status"> RSVP deadline passed</span></div>
        <div class="session-content">
            <div class="session-content-item time-and-date" title="Start &amp; End Time">
                <span class="session-time-and-date-icon"></span>
                <span class="time start">10:00</span> <span class="date start">2016-06-15</span> - <span
                    class="time end">10:00</span> <span class="date end">2016-06-15</span>
            </div>
            <div class="session-content-item rsvp-deadline"
                 title="{{ language.langkey.sessionscheduler_txt_rsvp }}">
                <span class="session-rsvp-deadline-icon"></span>
                <span class="date">2016-06-15</span>
            </div>
            <div class="session-content-item speaker" title="{{ language.langkey.sessionscheduler_txt_speakers }}">
                <span class="session-speaker-icon"></span>
                <a href="#" target="_blank">Firstname Lastname</a>, <a href="#" target="_blank">Firstname
                Lastname</a>,
                <a href="#" target="_blank">Firstname Lastname</a>
            </div>
            <div class="session-content-item tags" title="{{ language.langkey.sessionscheduler_txt_tags }}">
                <span class="session-tags-icon"></span>
                <div class="event-plugin-tags-list">
                    <div class="event-plugin-tag">Tag 1
                    </div>
                    <div class="event-plugin-tag">Tag 2
                    </div>
                    <div class="event-plugin-tag">Tag 3
                    </div>
                </div>
            </div>
            <div class="session-content-item session-group"
                 title="{{ language.langkey.sessionscheduler_txt_session_group }}">
                <span class="session-group-icon"></span>
                Testgroup
            </div>
            <div class="session-content-item seats-available"
                 title="{{ language.langkey.sessionscheduler_txt_seat_availability }}">
                <span class="session-seats-available-icon"></span>
                Good
            </div>
            <div class="session-content-item location" title="{{ language.langkey.sessionscheduler_txt_location }}">
                <span class="session-location-icon"></span>
                <a href="#" target="_blank">Stockholm</a>
            </div>
        </div>
    </div>
    <div class="session time-conflict">
        <div class="session-title">Session Title <span class="status"> Time conflict</span></div>
        <div class="session-content">
            <div class="session-content-item time-and-date" title="Start &amp; End Time">
                <span class="session-time-and-date-icon"></span>
                <span class="time start">10:00</span> <span class="date start">2016-06-15</span> - <span
                    class="time end">10:00</span> <span class="date end">2016-06-15</span>
            </div>
            <div class="session-content-item rsvp-deadline"
                 title="{{ language.langkey.sessionscheduler_txt_rsvp }}">
                <span class="session-rsvp-deadline-icon"></span>
                <span class="date">2016-06-15</span>
            </div>
            <div class="session-content-item speaker" title="{{ language.langkey.sessionscheduler_txt_speakers }}">
                <span class="session-speaker-icon"></span>
                <a href="#" target="_blank">Firstname Lastname</a>, <a href="#" target="_blank">Firstname
                Lastname</a>,
                <a href="#" target="_blank">Firstname Lastname</a>
            </div>
            <div class="session-content-item tags" title="{{ language.langkey.sessionscheduler_txt_tags }}">
                <span class="session-tags-icon"></span>
                <div class="event-plugin-tags-list">
                    <div class="event-plugin-tag">Tag 1
                    </div>
                    <div class="event-plugin-tag">Tag 2
                    </div>
                    <div class="event-plugin-tag">Tag 3
                    </div>
                </div>
            </div>
            <div class="session-content-item session-group"
                 title="{{ language.langkey.sessionscheduler_txt_session_group }}">
                <span class="session-group-icon"></span>
                Testgroup
            </div>
            <div class="session-content-item seats-available"
                 title="{{ language.langkey.sessionscheduler_txt_seat_availability }}">
                <span class="session-seats-available-icon"></span>
                Good
            </div>
            <div class="session-content-item location" title="{{ language.langkey.sessionscheduler_txt_location }}">
                <span class="session-location-icon"></span>
                <a href="#" target="_blank">Stockholm</a>
            </div>
        </div>
    </div>
</div>
<h3 class="element-document-headline">Session Details</h3>
<div class="event-plugin element event-plugin-session-scheduler">
    <div class="session-details">
        <h2 class="session-detail-title">Session title</h2>
        <div class="switch-wrapper">
            <label class="switch attending">
                <input id="session-slider-attending" checked="checked" type="checkbox">
                <div class="slider round"></div>
            </label>
            <label class="session-slider-label attending" for="session-slider-attending">Attending</label>
        </div>
        <div class="session-description">
            Description tristique tempus dolor, vitae faucibus enim vestibulum eu. Donec feugiat event-pluginum arcu
            nec
            faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed imperdiet lacus non rutrum
            faucibus. Mauris tincidunt risus ac purus placerat eleifend.
        </div>
        <table class="event-plugin-table">
            <tbody>
            <tr class="time-and-date">
                <td><span class="session-time-and-date-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_starts }}: </label><span
                        class="time start">10:00</span> <span class="date start">2016-06-15</span><br>
                    <label class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_ends }}: </label><span
                            class="time end">10:00</span> <span class="date end">2016-06-15</span>
                </td>
            </tr>
            <tr class="rsvp-deadline">
                <td><span class="session-rsvp-deadline-icon"></span>
                </td>
                <td><label class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_rsvp }}: </label><span
                        class="date">2016-06-15</span>
                </td>
            </tr>
            <tr class="speaker">
                <td><span class="session-speaker-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_speakers }}: </label><a
                        href="#" target="_blank">Firstname Lastname</a>, <a href="#" target="_blank">Firstname
                    Lastname</a>, <a href="#" target="_blank">Firstname Lastname</a>
                </td>
            </tr>
            <tr class="tags">
                <td><span class="session-tags-icon"></span>
                </td>
                <td>
                    <label class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_tags }}:</label>
                    <div class="event-plugin-tags-list">
                        <div class="event-plugin-tag">Tag 1
                        </div>
                        <div class="event-plugin-tag">Tag 2
                        </div>
                        <div class="event-plugin-tag">Tag 3
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="session-group">
                <td><span class="session-group-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_session_group }}: </label>Testgroup
                </td>
            </tr>
            <tr class="seats-available">
                <td><span class="session-seats-available-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_seat_availability }}: </label>Good
                </td>
            </tr>
            <tr class="location">
                <td><span class="session-location-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_location }}: </label><a
                        href="#" target="_blank">Stockholm</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="session-details">
        <h2 class="session-detail-title">Session title</h2>
        <div class="switch-wrapper">
            <label class="switch attending">
                <input id="session-slider-not-attending" type="checkbox">
                <div class="slider round"></div>
            </label>
            <label class="session-slider-label not-attending" for="session-slider-not-attending">Not
                attending</label>
        </div>
        <div class="session-description">
            Description tristique tempus dolor, vitae faucibus enim vestibulum eu. Donec feugiat event-pluginum arcu
            nec
            faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed imperdiet lacus non rutrum
            faucibus. Mauris tincidunt risus ac purus placerat eleifend.
        </div>
        <table class="event-plugin-table">
            <tbody>
            <tr class="time-and-date">
                <td><span class="session-time-and-date-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_starts }}: </label><span
                        class="time start">10:00</span> <span class="date start">2016-06-15</span><br>
                    <label class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_ends }}: </label><span
                            class="time end">10:00</span> <span class="date end">2016-06-15</span>
                </td>
            </tr>
            <tr class="rsvp-deadline">
                <td><span class="session-rsvp-deadline-icon"></span>
                </td>
                <td><label class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_rsvp }}: </label><span
                        class="date">2016-06-15</span>
                </td>
            </tr>
            <tr class="speaker">
                <td><span class="session-speaker-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_speakers }}: </label><a
                        href="#" target="_blank">Firstname Lastname</a>, <a href="#" target="_blank">Firstname
                    Lastname</a>, <a href="#" target="_blank">Firstname Lastname</a>
                </td>
            </tr>
            <tr class="tags">
                <td><span class="session-tags-icon"></span>
                </td>
                <td>
                    <label class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_tags }}:</label>
                    <div class="event-plugin-tags-list">
                        <div class="event-plugin-tag">Tag 1
                        </div>
                        <div class="event-plugin-tag">Tag 2
                        </div>
                        <div class="event-plugin-tag">Tag 3
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="session-group">
                <td><span class="session-group-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_session_group }}: </label>Testgroup
                </td>
            </tr>
            <tr class="seats-available">
                <td><span class="session-seats-available-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_seat_availability }}: </label>Good
                </td>
            </tr>
            <tr class="location">
                <td><span class="session-location-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_location }}: </label><a
                        href="#" target="_blank">Stockholm</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="session-details">
        <h2 class="session-detail-title">Session title</h2>
        <div class="status full"> Full <em>- Queue open</em></div>

        <div class="switch-wrapper">
            <label class="switch in-queue">
                <input id="session-slider-in-queue" checked="checked" type="checkbox">
                <div class="slider round"></div>
            </label>
            <label class="session-slider-label not-attending" for="session-slider-in-queue">In queue</label>
        </div>
        <div class="session-description">
            Description tristique tempus dolor, vitae faucibus enim vestibulum eu. Donec feugiat event-pluginum arcu
            nec
            faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed imperdiet lacus non rutrum
            faucibus. Mauris tincidunt risus ac purus placerat eleifend.
        </div>
        <table class="event-plugin-table">
            <tbody>
            <tr class="time-and-date">
                <td><span class="session-time-and-date-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_starts }}: </label><span
                        class="time start">10:00</span> <span class="date start">2016-06-15</span><br>
                    <label class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_ends }}: </label><span
                            class="time end">10:00</span> <span class="date end">2016-06-15</span>
                </td>
            </tr>
            <tr class="rsvp-deadline">
                <td><span class="session-rsvp-deadline-icon"></span>
                </td>
                <td><label class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_rsvp }}: </label><span
                        class="date">2016-06-15</span>
                </td>
            </tr>
            <tr class="speaker">
                <td><span class="session-speaker-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_speakers }}: </label><a
                        href="#" target="_blank">Firstname Lastname</a>, <a href="#" target="_blank">Firstname
                    Lastname</a>, <a href="#" target="_blank">Firstname Lastname</a>
                </td>
            </tr>
            <tr class="tags">
                <td><span class="session-tags-icon"></span>
                </td>
                <td>
                    <label class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_tags }}:</label>
                    <div class="event-plugin-tags-list">
                        <div class="event-plugin-tag">Tag 1
                        </div>
                        <div class="event-plugin-tag">Tag 2
                        </div>
                        <div class="event-plugin-tag">Tag 3
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="session-group">
                <td><span class="session-group-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_session_group }}: </label>Testgroup
                </td>
            </tr>
            <tr class="seats-available">
                <td><span class="session-seats-available-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_seat_availability }}: </label>Good
                </td>
            </tr>
            <tr class="location">
                <td><span class="session-location-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_location }}: </label><a
                        href="#" target="_blank">Stockholm</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="session-details">
        <h2 class="session-detail-title">Session title</h2>
        <div class="status rsvp-deadline"> RSVP deadline passed</div>
        <div class="switch-wrapper">
            <label class="switch disabled">
                <input id="session-description-rsvp-ended-not-attending" disabled="" checked="checked"
                       type="checkbox">
                <div class="slider round"></div>
            </label>
            <label class="session-slider-label not-attending" for="session-description-rsvp-ended-not-attending">Attending</label>
        </div>
        <div class="session-description">
            Description tristique tempus dolor, vitae faucibus enim vestibulum eu. Donec feugiat event-pluginum arcu
            nec
            faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed imperdiet lacus non rutrum
            faucibus. Mauris tincidunt risus ac purus placerat eleifend.
        </div>
        <table class="event-plugin-table">
            <tbody>
            <tr class="time-and-date">
                <td><span class="session-time-and-date-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_starts }}: </label><span
                        class="time start">10:00</span> <span class="date start">2016-06-15</span><br>
                    <label class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_ends }}: </label><span
                            class="time end">10:00</span> <span class="date end">2016-06-15</span>
                </td>
            </tr>
            <tr class="rsvp-deadline">
                <td><span class="session-rsvp-deadline-icon"></span>
                </td>
                <td><label class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_rsvp }}: </label><span
                        class="date">2016-06-15</span>
                </td>
            </tr>
            <tr class="speaker">
                <td><span class="session-speaker-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_speakers }}: </label><a
                        href="#" target="_blank">Firstname Lastname</a>, <a href="#" target="_blank">Firstname
                    Lastname</a>, <a href="#" target="_blank">Firstname Lastname</a>
                </td>
            </tr>
            <tr class="tags">
                <td><span class="session-tags-icon"></span>
                </td>
                <td>
                    <label class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_tags }}:</label>
                    <div class="event-plugin-tags-list">
                        <div class="event-plugin-tag">Tag 1
                        </div>
                        <div class="event-plugin-tag">Tag 2
                        </div>
                        <div class="event-plugin-tag">Tag 3
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="session-group">
                <td><span class="session-group-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_session_group }}: </label>Testgroup
                </td>
            </tr>
            <tr class="seats-available">
                <td><span class="session-seats-available-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_seat_availability }}: </label>Good
                </td>
            </tr>
            <tr class="location">
                <td><span class="session-location-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_location }}: </label><a
                        href="#" target="_blank">Stockholm</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="session-details">
        <h2 class="session-detail-title">Session title</h2>
        <div class="status rsvp-deadline"> RSVP deadline passed</div>
        <div class="switch-wrapper">
            <label class="switch disabled">
                <input id="session-description-rsvp-ended-attending" disabled="" type="checkbox">
                <div class="slider round"></div>
            </label>
            <label class="session-slider-label not-attending" for="session-description-rsvp-ended-attending">Not
                attending</label>
        </div>
        <div class="session-description">
            Description tristique tempus dolor, vitae faucibus enim vestibulum eu. Donec feugiat event-pluginum arcu
            nec
            faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed imperdiet lacus non rutrum
            faucibus. Mauris tincidunt risus ac purus placerat eleifend.
        </div>
        <table class="event-plugin-table">
            <tbody>
            <tr class="time-and-date">
                <td><span class="session-time-and-date-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_starts }}: </label><span
                        class="time start">10:00</span> <span class="date start">2016-06-15</span><br>
                    <label class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_ends }}: </label><span
                            class="time end">10:00</span> <span class="date end">2016-06-15</span>
                </td>
            </tr>
            <tr class="rsvp-deadline">
                <td><span class="session-rsvp-deadline-icon"></span>
                </td>
                <td><label class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_rsvp }}: </label><span
                        class="date">2016-06-15</span>
                </td>
            </tr>
            <tr class="speaker">
                <td><span class="session-speaker-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_speakers }}: </label><a
                        href="#" target="_blank">Firstname Lastname</a>, <a href="#" target="_blank">Firstname
                    Lastname</a>, <a href="#" target="_blank">Firstname Lastname</a>
                </td>
            </tr>
            <tr class="tags">
                <td><span class="session-tags-icon"></span>
                </td>
                <td>
                    <label class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_tags }}:</label>
                    <div class="event-plugin-tags-list">
                        <div class="event-plugin-tag">Tag 1
                        </div>
                        <div class="event-plugin-tag">Tag 2
                        </div>
                        <div class="event-plugin-tag">Tag 3
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="session-group">
                <td><span class="session-group-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_session_group }}: </label>Testgroup
                </td>
            </tr>
            <tr class="seats-available">
                <td><span class="session-seats-available-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_seat_availability }}: </label>Good
                </td>
            </tr>
            <tr class="location">
                <td><span class="session-location-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_location }}: </label><a
                        href="#" target="_blank">Stockholm</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="session-details">
        <h2 class="session-detail-title">Session title</h2>
        <div class="status time-conflict"> Time conflict</div>
        <div class="switch-wrapper">
            <label class="switch disabled">
                <input id="session-description-time-conflict" disabled="" type="checkbox">
                <div class="slider round"></div>
            </label>
            <label class="session-slider-label not-attending" for="session-description-time-conflict">Not
                attending</label>
        </div>
        <div class="session-description">
            Description tristique tempus dolor, vitae faucibus enim vestibulum eu. Donec feugiat event-pluginum arcu
            nec
            faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed imperdiet lacus non rutrum
            faucibus. Mauris tincidunt risus ac purus placerat eleifend.
        </div>
        <table class="event-plugin-table">
            <tbody>
            <tr class="time-and-date">
                <td><span class="session-time-and-date-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_starts }}: </label><span
                        class="time start">10:00</span> <span class="date start">2016-06-15</span><br>
                    <label class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_ends }}: </label><span
                            class="time end">10:00</span> <span class="date end">2016-06-15</span>
                </td>
            </tr>
            <tr class="rsvp-deadline">
                <td><span class="session-rsvp-deadline-icon"></span>
                </td>
                <td><label class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_rsvp }}: </label><span
                        class="date">2016-06-15</span>
                </td>
            </tr>
            <tr class="speaker">
                <td><span class="session-speaker-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_speakers }}: </label><a
                        href="#" target="_blank">Firstname Lastname</a>, <a href="#" target="_blank">Firstname
                    Lastname</a>, <a href="#" target="_blank">Firstname Lastname</a>
                </td>
            </tr>
            <tr class="tags">
                <td><span class="session-tags-icon"></span>
                </td>
                <td>
                    <label class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_tags }}:</label>
                    <div class="event-plugin-tags-list">
                        <div class="event-plugin-tag">Tag 1
                        </div>
                        <div class="event-plugin-tag">Tag 2
                        </div>
                        <div class="event-plugin-tag">Tag 3
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="session-group">
                <td><span class="session-group-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_session_group }}: </label>Testgroup
                </td>
            </tr>
            <tr class="seats-available">
                <td><span class="session-seats-available-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_seat_availability }}: </label>Good
                </td>
            </tr>
            <tr class="location">
                <td><span class="session-location-icon"></span>
                </td>
                <td><label
                        class="event-plugin-label">{{ language.langkey.sessionscheduler_txt_location }}: </label><a
                        href="#" target="_blank">Stockholm</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>