<div class="form-plugin element form-plugin-session-scheduler box" {% if data_user_id %}id="page-{{ page_id }}-box-{{ box_id }}-u-{{ data_user_id }}" data-uid="{{ data_user_id }}"{% else %}id="page-{{ page_id }}-box-{{ box_id }}"{% endif %} data-id="{{ element_id }}"
     data-name="session-scheduler">
    <input type="hidden" class="scheduler_settings_options" value="{{ element_settings_info }} "/>
    <input type="hidden" class="page_id" value="{{ page_id }} "/>
    <input type="hidden" class="box_id" value="{{ box_id }} "/>
    <div class="form-plugin-intro">
        <h4 class="settings-plugin-element elm-title"></h4>
        {{ session_scheduler_messages|safe }}
    </div>
    <div class="form-plugin-scroll-wrapper">
        <div class="session-group-toggle-list">
            {% for group in session_group_list %}
                <div class="session-group-toggle-list-item">
                    <input id="session-group-{{ group.id }}" checked="checked" type="checkbox" value="{{ group.id }}">
                    <label class="session-group-toggle-list-item-label"
                           for="session-group-{{ group.id }}">{{ group.name|safe }}</label>
                </div>
            {% endfor %}
        </div>
        <div class="switch-wrapper">
            <label class="switch">
                <input class="session-my-session-toggle" id="session-my-session-toggle" type="checkbox">

                <div class="slider round"></div>
            </label>
            <label class="toggle-label session-my-session-toggle-label"
                   for="session-my-session-toggle">{{ language.langkey.sessionscheduler_txt_show_my_sess }}
            </label>
        </div>

        <div class="session-scheduler"></div>
    </div>

    <a class="form-plugin-button session-subscribe-to-calendar-icon"
       href="{{ request.session.webcal_url }}/webcal/?uid={{ request.session.event_user.secret_key }}">{{ language.langkey.sessionscheduler_btn_subscribe_sessions }}</a>
</div>
{#EVENT TEMPLATE FOR SCHEDULER#}


<script id="event-template" type="text/x-kendo-template">
    #if (isAllDay==true) {
    allday="all-day"
    }else{
    allday=""
    }#

    #isFull=""
    if(full){
    isFull="full"
    }else{
    isFull=""
    }#

    #current_status=""
    if (status != "not-attending") {
    current_status= status
    }else if (status == "not-attending") {
    if(session_expire){
    current_status= "rsvp-ended"
    }else if(full){
    current_status= "full"
    }else{
    current_status= status
    }
    }#
    #session_status = ""
    for (var s = 0; s < all_session_status.length; s++) {
        session_status += " "+all_session_status[s]
    }#

    <div class="session #:session_status# " data-box-id="{{ box_id }}" data-page-id="{{ page_id }}" data-id=#: id #>
        <div class="session-title">#: title #</div>
        #if (current_status != "not-attending" && current_status != "not-answered") { #
        <div class="status">
            #if (current_status == "in-queue") { #
            {{ session_details_language.langkey.sessiondetails_txt_status_in_queue }}
            #}else if (current_status == "attending") {#
            {{ session_details_language.langkey.sessiondetails_txt_status_attending }}
            #}else if (current_status == "time-conflict") {#
            {{ session_details_language.langkey.sessiondetails_txt_status_time_conflict }}
            #}else if (current_status == "full") {#
            {{ session_details_language.langkey.sessiondetails_txt_status_full }}
            #if(full_queue_open){#
            <span class="queue-open">{{ session_details_language.langkey.sessiondetails_txt_status_queue_open }}</span>
            #}#
            #}else if (current_status == "rsvp-ended") {#
            {{ session_details_language.langkey.sessiondetails_txt_status_rsvp_passed }}
            #}#


        </div>
        #}#
        <div class="session-section" data-role="tooltip">

            {% if session_scheduler_session_start_time or session_scheduler_session_start_date or session_scheduler_session_end_time or session_scheduler_session_end_date %}
                <div class="session-section-item time-and-date" title="Start &amp; End Time">
                    <span class="session-time-and-date-icon"></span>
                    <span class="" title="{{ session_details_language.langkey.sessiondetails_txt_starts }}">
                        {% if session_scheduler_session_start_time %}
                            <span class="time start">#: kendo.toString(start, "H:mm") #</span>
                        {% endif %}
                        {% if session_scheduler_session_start_date %}
                            <span class="date start">#: kendo.toString(start, "yyyy-MM-dd") #</span>
                        {% endif %}
                    </span>
                    -
                    <span class="" title="{{ session_details_language.langkey.sessiondetails_txt_ends }}">
                        {% if session_scheduler_session_end_time %}
                            <span class="time end">#: kendo.toString(end, "H:mm") # </span>
                        {% endif %}
                        {% if session_scheduler_session_end_date %}
                            <span class="date end">#: kendo.toString(end, "yyyy-MM-dd") #</span>
                        {% endif %}
                    </span>
                </div>
            {% endif %}

            {% if session_scheduler_session_rvsp_date %}
                <div class="session-section-item rsvp-deadline"
                     title="{{ session_details_language.langkey.sessiondetails_txt_rsvp }}">
                    <span class="session-rsvp-deadline-icon"></span>
                    <span class="date">#:  kendo.toString(rsvp_date, "yyyy-MM-dd") #</span>
                </div>
            {% endif %}
            {% if session_scheduler_session_cost %}
                <div class="session-section-item rsvp-deadline"
                     title="{{ session_details_language.langkey.sessiondetails_session_cost }}">
                    <span class="session-rsvp-deadline-icon"></span>
                    <span class="date">
                            {% if session_scheduler_session_incl_vat %}
                                    #: cost_included_vat # {{ economy_currency_txt }}
                                    <span class="vat">
                                    #: lang_vat_included #
                                    </span>
                            {% else %}
                                    #: cost # {{ economy_currency_txt }}
                                    <span class="vat">
                                    #: lang_vat_excluded #
                                    </span>
                            {% endif %}
                    </span>
                </div>
            {% endif %}
            {% if session_scheduler_session_speaker or session_scheduler_session_link_speaker %}
                # if(speakers.length>0){ #
                <div class="session-section-item speaker" title="{{ session_details_language.langkey.sessiondetails_txt_speakers }}">
                    <span class="session-speaker-icon"></span>
                    # for (var i = 0; i < speakers.length; i++) { #
                    # var tag= speakers[i].firstname+' '+speakers[i].lastname; #

                    # if(speakers.length==1){#
                    {% if session_scheduler_session_link_speaker %}
                        <a href="/attendee-bio/#: speakers[i].id #" class="attendee-details"
                           data-attendee-id="#: speakers[i].id #" data-page-id="{{ page_id }}"
                           data-box-id="{{ box_id }}">#= tag #</a>
                    {% else %}
                        #= tag #
                    {% endif %}

                    # }else if(speakers.length>1){ #
                    # if(i!=speakers.length-1){ #
                    {% if session_scheduler_session_link_speaker %}
                        <a href="/attendee-bio/#: speakers[i].id #" class="attendee-details"
                           data-attendee-id="#: speakers[i].id #" data-page-id="{{ page_id }}"
                           data-box-id="{{ box_id }}">#= tag # ,</a>
                    {% else %}
                        #= tag # ,
                    {% endif %}
                    #}else{#
                    {% if session_scheduler_session_link_speaker %}
                        <a href="/attendee-bio/#: speakers[i].id #" class="attendee-details"
                           data-attendee-id="#: speakers[i].id #" data-page-id="{{ page_id }}"
                           data-box-id="{{ box_id }}">#= tag #</a>
                    {% else %}
                        #= tag #
                    {% endif %}
                    #}#
                    #}#


                    # } #
                </div>

                # } #
            {% endif %}
            {% if session_scheduler_session_tags %}
                # if(taglist.length>0){#
                <div class="session-section-item tags" title="{{ session_details_language.langkey.sessiondetails_txt_tags }}">
                    <span class="session-tags-icon"></span>

                    <div class="form-plugin-tags-list">
                        # for (var i = 0; i < taglist.length; i++) { #
                        # var tag= taglist[i]; #

                        <div class="form-plugin-tag">
                            #= tag #
                        </div>
                        # } #
                    </div>
                </div>
                #}#
            {% endif %}
            {% if session_scheduler_session_session_groups %}
                <div class="session-section-item session-group"
                     title="{{ session_details_language.langkey.sessiondetails_txt_session_group }}">
                    <span class="session-group-icon"></span>
                    #= groupName#
                </div>
            {% endif %}
            #if(seat_availability!=""){#
            <div class="session-section-item seats-available"
                 title="{{ session_details_language.langkey.sessiondetails_txt_seat_availability }}">
                <span class="session-seats-available-icon"></span>
                #= seat_availability #
            </div>
            #}#
            {% if session_scheduler_session_location or session_scheduler_session_limk_location %}
                <div class="session-section-item location" title="{{ session_details_language.langkey.sessiondetails_txt_location }}">
                    <span class="session-location-icon"></span>
                    {% if session_scheduler_session_limk_location %}
                        <a href="/locations/#: location_id #" class="location-details" target="_blank"
                           data-location-id="#: location_id #" data-page-id="{{ page_id }}" data-box-id="{{ box_id }}">
                            #= location#
                        </a>
                    {% else %}
                        #= location#
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

</script>
{% if not session_scheduler_column_session_group_available_in_agenda_view %}
    <style>
        #box-{{box_id}} .k-scheduler-groupcolumn {
            display: none;
        }
    </style>
{% endif %}

{% if not session_scheduler_column_date_available_in_agenda_view %}
    <style>
        #box-{{box_id}} .k-scheduler-datecolumn {
            display: none;
        }
    </style>
{% endif %}
{% if not session_scheduler_column_time_available_in_agenda_view %}
    <style>
        #box-{{box_id}} .k-scheduler-timecolumn {
            display: none;
        }
    </style>
{% endif %}
{% if  session_scheduler_one_hour_height %}
    <style>
        #box-{{box_id}} .k-scheduler-table td {
            height: {{ session_scheduler_one_hour_height }} !important;
        }
    </style>
{% endif %}
<style>
    {% if not session_scheduler_disable_grouping or session_scheduler_width != '0px' %}
        .k-scheduler-content .k-scheduler-table,
        .k-scheduler-header .k-scheduler-table {
            width: {{ session_scheduler_width }}
        }
    {% endif %}
</style>
{#<style>#}
{#    .k-event {#}
{##}
{#        clear: both;#}
{#        margin:3px 2px 3px 2px;#}
{#        padding:3px 1px 3px 1px;#}
{#        border-radius: 2px;#}
{#        border: solid 1px rgba(100, 100, 100, 0.5);#}
{#        -webkit-box-shadow: 0px 2px 2px rgba(100, 100, 100, 0.5);#}
{#        box-shadow: 0px 2px 2px rgba(100, 100, 100, 0.5);#}
{#        height:auto !important;#}
{#        width:150px !important;#}
{#        overflow-y:auto;#}
{#        text-align:center;#}
{#        text-justify:auto;#}
{#        text-shadow:0px 0px 2px rgb(200, 200, 200);#}
{#        color:#101010;#}
{#    }#}
{##}
{#</style>#}

