<div class="event-plugin element event-plugin-submit-button box" {% if data_user_id %}id="page-{{ page_id }}-box-{{ box_id }}-u-{{ data_user_id }}" data-uid="{{ data_user_id }}"{% else %}id="page-{{ page_id }}-box-{{ box_id }}"{% endif %} data-id="{{ element_id }}"
     data-name="submit-button" data-submit-id="{{ submit_button.id }}" data-submit-name="{{ submit_button.name }}">
    <button class="event-plugin-button form-submit-button" data-page-id="{{ page_id }}">
        {% if title != '' and title != None %}{{ title }}{% else %}Submit{% endif %}
    </button>
    <div class="error-validating">{{ language.langkey.submit_button_notify_er_registration_failed }}</div>
</div>
