#admin-plugin-settings {
    overflow-y: auto;
}

.admin #admin-toggle-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background: #4F364C;
    padding: 10px;
    color: #F8FAF4;
    font-size: 15px;
    border-radius: 5px;
    font-family: sans-serif;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.45);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.admin #admin-toggle-wrapper i {
    width: 15px;
    color: #F8FAF4;
}

.admin #admin-toggle-wrapper #admin-toggle-wrapper-titlebar {
    cursor: move;
    padding-bottom: 10px;
    font-weight: bold;
}

.admin #admin-toggle-wrapper label {
    display: none;
    cursor: pointer;
    padding: 5px;
    display: inline-block;
    border: 1px solid #F8FAF4;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 2px;
    white-space: nowrap;
}

.admin #admin-toggle-wrapper input[type="checkbox"] {
    display: none;
}

.admin #admin-toggle-wrapper input[type="checkbox"]:checked + label {
    color: #FDFDFD;
    background: #D8A479;
    border: 1px solid #D8A479;
}

.admin #admin-toggle-wrapper input[type="checkbox"]:checked + label i {
    color: #FDFDFD;
}

.admin #admin-toggle-wrapper label:hover {
    border: 1px solid #D8A479;
    color: #FDFDFD;
}

.admin #admin-toggle-wrapper label:hover i {
    color: #FDFDFD;
}

.admin #admin-toggle-wrapper input[type="checkbox"]:checked + label.invisible {
    border: 1px dashed #F8FAF4;
}

.admin #admin-toggle-wrapper label.invisible {
    border: 1px dashed #F8FAF4;
    /* display: none; */
}

.admin .admin-menu {
    font-family: sans-serif;
    font-size: 15px;
    color: #F8FAF4;
    position: fixed;
    z-index: 999;
    overflow: hidden;
    padding: 0 10px 10px 10px;
    padding: 10px;
}

.admin .admin-menu .k-widget, .admin .admin-menu input[type="number"] {
    margin: 10px 0 0 0;
}

.admin .admin-menu input, .admin .admin-menu select, .admin .admin-menu textarea {
    outline: none;
}

.admin .admin-menu .row, .admin .admin-menu .col {
    height: 100%;
}

.admin .admin-menu .col {
    padding-top: 22.5px;
}

.admin .admin-menu .admin-close-button-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100%;
    text-align: right;
}

.admin .admin-menu .admin-close-button-wrapper .admin-close-button {
    cursor: pointer;
    color: #F8FAF4;
    display: inline-block;
}

.admin .admin-menu .admin-close-button-wrapper .admin-close-button:before {
    content: "\f057";
    font-family: FontAwesome;
    margin: 0 0 10px;
    font-size: 1.5em;
}

.admin .admin-menu .admin-close-button-wrapper .admin-close-button:hover {
    color: #cddbb0;
}

.admin .admin-menu.admin-left-menu {
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background: #4F364C;
    transform: translate(-300px, 0);
    transition: transform 0.15s ease-in;
}

.admin .admin-menu.admin-left-menu.visible {
    transform: translate(0);
    transition: transform 0.15s ease-out;
}

.admin .admin-menu.admin-bottom-menu {
    height: 50%;
    width: 100%;
    background-color: #4F364C;
    bottom: 0;
    left: 0;
    transform: translate(0, 100%);
    transition: transform 0.15s ease-in;
}

.admin .admin-menu.admin-bottom-menu.visible {
    transform: translate(0);
    transition: transform 0.15s ease-out;
}

.admin .admin-menu.admin-bottom-menu#admin-editor {
    padding-top: 0;
    padding-bottom: 0;
}

.admin .admin-menu.admin-bottom-menu #admin-editor-code-mirror {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
    border-top: 2px solid #4F364C;
}

.admin .admin-menu.admin-bottom-menu #admin-editor-col-1 {
    padding-left: 10px;
    padding-top: 0;
}

.admin .admin-menu.admin-bottom-menu #admin-editor-col-2 {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 32.5px;
}

.admin .admin-menu.admin-top-menu {
    height: 50%;
    width: 100%;
    background-color: #4F364C;
    top: 0;
    left: 0;
    transform: translate(0, -100%);
    transition: transform 0.15s ease-in, background 0.15s ease-in;
}

.admin .admin-menu.admin-top-menu.visible {
    transform: translate(0);
    transition: transform background 0.15s ease-out, background 0.15s ease-out;
}

.admin .admin-menu.admin-top-menu #admin-file-repository-col-2 {
    padding-left: 10px;
}

.admin fieldset {
    border: 1px solid rgba(232, 230, 213, 0.5);
    padding: 10px 0 0 0;
    margin-bottom: 10px !important;
    border-radius: 5px;
    height: 100%;
    overflow: hidden;
}

.admin fieldset legend {
    color: #F8FAF4;
    font-size: 15px;
    margin-left: 10px;
}

.admin fieldset label {
    color: #F8FAF4;
    font-size: 12px;
}

.admin fieldset ul.admin-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.admin fieldset ul.admin-ul li {
    padding: 0;
    margin: 0;
    text-indent: 0;
}

.admin fieldset ul.admin-ul li:before {
    content: "";
    padding: 0;
    margin: 0;
}

.admin fieldset ul.admin-ul li ul, .admin fieldset ul.admin-ul li ol {
    list-style: none;
    padding: 0 0 0 20px;
    margin: 0;
}

.admin fieldset ul.admin-ul:before {
    margin: 0;
}

.admin fieldset .setting-calendar, .admin fieldset .setting-time {
    margin-top: 10px;
}

.admin fieldset select {
    margin-top: 10px;
    width: 100%;
}

.admin fieldset input {
    font-family: sans-serif;
}

.admin fieldset input[type="number"] {
    width: 100%;
    margin-top: 10px;
}

.admin fieldset input[type="text"] {
    width: 100%;
    margin-top: 10px;
}

.admin fieldset .admin-menu-group {
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid rgba(232, 230, 213, 0.5);
    margin-bottom: 10px;
}

.admin fieldset .admin-menu-group.no-padding {
    padding: 0;
}

.admin fieldset .admin-menu-group.no-margin {
    margin: 0;
}

.admin fieldset .admin-menu-group:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.admin fieldset .admin-menu-group input {
    margin: inherit 0 0 0;
}

.admin fieldset .admin-menu-group ul.prerequisite {
    list-style: none;
    padding: 0;
    font-size: 12px;
    margin-bottom: 0;
}

.admin fieldset .admin-menu-group ul.prerequisite > li {
    border-top: 1px solid rgba(232, 230, 213, 0.5);
    border-left: 1px solid rgba(232, 230, 213, 0.5);
    border-right: 1px solid rgba(232, 230, 213, 0.5);
    padding: 10px;
    position: relative;
}

.admin fieldset .admin-menu-group ul.prerequisite li:first-child {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.admin fieldset .admin-menu-group ul.prerequisite li:first-child .delete {
    display: none;
}

.admin fieldset .admin-menu-group ul.prerequisite li:last-child {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-bottom: 1px solid rgba(232, 230, 213, 0.5);
}

.admin fieldset .admin-menu-group ul.prerequisite li select {
    width: 30%;
    margin: 0 0 5px 0;
}

.admin fieldset .admin-menu-group ul.prerequisite li select:last-child {
    margin: 0;
}

.admin fieldset .admin-menu-group ul.prerequisite li .delete {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.admin fieldset .admin-menu-group ul.prerequisite li .delete:hover {
    color: #cddbb0;
}

.admin fieldset .admin-menu-group ul.prerequisite li .delete:after {
    line-height: 12px;
    content: "\f057";
    font-family: FontAwesome;
}

.admin fieldset .admin-menu-scrollable {
    overflow-y: auto;
    padding: 0;
}

.admin .admin-button, .admin button, .admin input[type="button"], .admin input[type="submit"] {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FDFDFD;
    text-decoration: none;
    background: #AE6686;
    padding: 10px;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.admin .admin-button:hover, .admin button:hover, .admin input[type="button"]:hover, .admin input[type="submit"]:hover {
    text-decoration: none;
    background: #be859e;
}

.admin .admin-button.admin-auto-width, .admin button.admin-auto-width, .admin input[type="button"].admin-auto-width, .admin input[type="submit"].admin-auto-width {
    width: auto;
}

.admin .admin-search-wrapper {
    position: relative;
}

.admin .admin-search-wrapper .admin-search {
    width: 100%;
    font-size: 12px;
    padding: 5px 20px 5px 12.5px;
    border-radius: 22px;
    border: none;
}

.admin .admin-search-wrapper .admin-clear-search {
    display: none;
}

.admin .admin-search-wrapper .admin-search:focus + .admin-clear-search, .admin .admin-search-wrapper .admin-search:hover + .admin-clear-search, .admin .admin-search-wrapper .admin-clear-search:hover {
    display: block;
    position: absolute;
    top: 5px;
    right: 6.6666666667px;
    font-size: 12px;
    cursor: pointer;
    color: #D8A479;
}

.admin .admin-search-wrapper .admin-search:focus + .admin-clear-search:after, .admin .admin-search-wrapper .admin-search:hover + .admin-clear-search:after, .admin .admin-search-wrapper .admin-clear-search:hover:after {
    line-height: 12px;
    content: "\f057";
    font-family: FontAwesome;
}

.admin .admin-search-wrapper .admin-search:focus + .admin-clear-search:hover, .admin .admin-search-wrapper .admin-search:hover + .admin-clear-search:hover, .admin .admin-search-wrapper .admin-clear-search:hover:hover {
    color: #c98145;
}

.admin .k-datepicker, .admin .k-timepicker {
    width: 100%;
}

.admin .k-checkbox-label:before, .admin .k-checkbox-label:after {
    margin-top: -4px;
}

.admin .k-multiselect input.k-input {
    font-size: 15px;
}

.admin .k-treeview ul {
    list-style: none;
    padding: 0 10px;
    color: #F8FAF4;
    font-size: 12px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.admin .k-treeview ul .k-icon {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.admin .k-treeview ul .k-in {
    padding: 5px 5px 0 5px;
    margin: 0 0 5px 0;
}

.admin .k-treeview ul .k-state-selected, .admin .k-treeview ul .k-state-focused {
    background: #D8A479;
    color: #FDFDFD;
    border-radius: 5px;
    cursor: pointer;
}

.admin .k-treeview ul .k-state-hover {
    border: 1px solid #D8A479;
    background: none;
    color: #F8FAF4;
    border-radius: 5px;
    cursor: pointer;
}

.admin .k-treeview ul .question:before {
    content: "\f29c";
    font-size: 12px;
    line-height: 12px;
    font-family: FontAwesome;
    margin-right: 10px;
    color: #F8FAF4;
}

.admin .k-treeview ul .file:before {
    content: "\f016";
    font-size: 12px;
    line-height: 12px;
    font-family: FontAwesome;
    margin-right: 10px;
    color: #F8FAF4;
}

.admin .k-treeview ul .image:before {
    content: "\f1c5";
    font-size: 12px;
    line-height: 12px;
    font-family: FontAwesome;
    margin-right: 10px;
    color: #F8FAF4;
}

.admin .k-treeview ul .tag:before {
    content: "\f02b";
    font-size: 12px;
    line-height: 12px;
    font-family: FontAwesome;
    margin-right: 10px;
    color: #F8FAF4;
}

.admin .k-treeview ul .plugin:before {
    content: "\f1e6";
    font-size: 12px;
    line-height: 12px;
    font-family: FontAwesome;
    margin-right: 10px;
    color: #F8FAF4;
}

.admin .k-treeview ul .folder:before {
    content: "\f114";
    font-size: 12px;
    line-height: 12px;
    font-family: FontAwesome;
    color: #F8FAF4;
}

.admin .k-treeview ul .k-state-selected .question:before, .admin .k-treeview ul .k-state-selected .plugin:before, .admin .k-treeview ul .k-state-selected .folder:before {
    color: #FDFDFD;
}

.admin .k-treeview ul [data-expanded="true"] .folder:before {
    content: "\f115";
}

.admin .admin-columns-add-predefined-col {
    width: 2.5em;
    height: auto;
    border: 1px solid transparent;
    padding: 10px;
}

.admin .admin-columns-add-predefined-col:hover {
    border: 1px solid #D8A479;
    cursor: pointer;
    border-radius: 5px;
}

.admin .admin-auto-width {
    width: auto;
}

.admin #admin-columns-add-columns.visible {
    display: block;
}

.admin .admin-columns-add-col {
    display: inline-block;
    padding: 10px;
    color: #4F364C;
    background-color: #F8FAF4;
    border-radius: 5px;
    font-size: 15px;
    cursor: move;
    font-weight: bold;
    border: 1px solid #4F364C;
}

.admin .admin-columns-add-col i {
    float: right;
    cursor: pointer;
    color: #4F364C;
}

.admin .admin-columns-add-col i:hover {
    color: #7c5577;
}

.admin .admin-columns-add-col-drag {
    height: 24px;
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid #F8FAF4;
}

.admin .admin-columns-add-col-drag:before {
    content: "\f175";
    font-family: FontAwesome;
    font-size: 12px;
    color: #F8FAF4;
}

.admin #admin-columns-preview {
    width: 100%;
    font-size: 0;
    display: block;
    margin-top: 10px;
}

.admin #admin-columns-preview [data-admin-columns-col-width="12"] {
    width: 100%;
}

.admin #admin-columns-preview [data-admin-columns-col-width="11"] {
    width: 91.666666666%;
}

.admin #admin-columns-preview [data-admin-columns-col-width="10"] {
    width: 83.333333333%;
}

.admin #admin-columns-preview [data-admin-columns-col-width="9"] {
    width: 75%;
}

.admin #admin-columns-preview [data-admin-columns-col-width="8"] {
    width: 66.666666666%;
}

.admin #admin-columns-preview [data-admin-columns-col-width="7"] {
    width: 58.333333333%;
}

.admin #admin-columns-preview [data-admin-columns-col-width="6"] {
    width: 50%;
}

.admin #admin-columns-preview [data-admin-columns-col-width="5"] {
    width: 41.666666666%;
}

.admin #admin-columns-preview [data-admin-columns-col-width="4"] {
    width: 33.333333333%;
}

.admin #admin-columns-preview [data-admin-columns-col-width="3"] {
    width: 25%;
}

.admin #admin-columns-preview [data-admin-columns-col-width="2"] {
    width: 16.666666666%;
}

.admin #admin-columns-preview [data-admin-columns-col-width="1"] {
    width: 8.3333333333%;
}

.edit .admin-cms-toolbox {
    padding: 0;
    list-style: none;
    font-size: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.edit .admin-cms-toolbox li {
    font-size: 16px;
    display: inline-block;
    color: #FDFDFD;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.edit .admin-cms-toolbox li.move {
    cursor: move;
}

.edit .section {
    position: relative;
    border: 3px solid #91819B;
    border-radius: 0.5em;
    padding: 0.5em;
}

.edit .section .admin-cms-toolbox li {
    background: #91819B;
    color: #FDFDFD;
}

.edit .section .admin-cms-toolbox li:hover {
    background: #a79aaf;
    color: #FDFDFD;
}

.edit #content .row {
    position: relative;
    border: 3px dashed #91819B;
    border-radius: 0.5em;
    padding: 0.5em;
}

.edit #content .row .admin-cms-toolbox li {
    background: #91819B;
    color: #FDFDFD;
}

.edit #content .row .admin-cms-toolbox li:hover {
    background: #a79aaf;
    color: #FDFDFD;
}

.edit #content .row .col {
    position: relative;
    border: 3px solid #c8c0cd;
    border-radius: 0.5em;
    padding: 0.5em;
}

.edit #content .row .col.column-preview {
    border-color: #DE5BA0;
}

.edit #content .row .col.column-preview .admin-cms-toolbox li {
    background: #DE5BA0;
    color: #FDFDFD;
}

.edit #content .row .col.column-preview .admin-cms-toolbox li:hover {
    background: #e57cb3;
}

.edit #content .row .col .admin-cms-toolbox li {
    background: #c8c0cd;
    color: #473956;
}

.edit #content .row .col .admin-cms-toolbox li:hover {
    background: #d3cdd7;
    color: #473956;
}

.edit #content .row .col .element {
    position: relative;
    border: 2px dotted #e4e0e6;
    border-radius: 0.5em;
    padding: 0.5em;
    margin-bottom: 0;
}

.edit #content .row .col .element.current-element {
    border-color: #DE5BA0;
    border-style: dotted;
}

.edit #content .row .col .element.current-element .admin-cms-toolbox li {
    background: #DE5BA0;
    color: #FDFDFD;
}

.edit #content .row .col .element.current-element .admin-cms-toolbox li:hover {
    background: #e57cb3;
}

.edit #content .row .col .element .admin-cms-toolbox li {
    background: #e4e0e6;
    color: #473956;
}

.edit #content .row .col .element .admin-cms-toolbox li:hover {
    background: #e9e6eb;
    color: #473956;
}

iframe.fr-iframe html {
    margin: 0px;
    height: 100%;
}

iframe.fr-iframe body {
    height: 100%;
}

.CodeMirror {
    border: 1px solid #ddd;
    font-size: 1.2em;
    height: 100px
}

#admin-editor .CodeMirror {
    height: 500px
}

#admin-file-repository-col-2 fieldset {
    overflow-y: scroll;
}

.dialoge {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1005;
    overflow-y: auto;
    display: none;
}

.dialoge.visible {
    display: block;
}

.dialoge .close-dialouge {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75em;
    padding: 0.75em;
    background: #B97979;
    color: white;
    cursor: pointer;
    z-index: 1;
}

.dialoge .close-dialouge:after {
    display: inline-block;
    content: "ÔÄç";
    font-family: FontAwesome;
}

.dialoge .close-dialouge:hover {
    background: #a75757;
    color: white;
}

.dialoge .dialogue-content {
    margin: 0 auto;
    margin-top: 1.6em;
    overflow: hidden;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.5);
    background: white;
    position: relative;
}

@media screen and (max-width: 768px) {
    .dialoge .dialogue-content {
        width: 100%;
        margin: 0;
        position: fixed;
        overflow-y: auto;
        max-height: 100%;
    }

    .dialoge .dialogue-content .dialoge-menu {
        position: fixed;
        top: 0;
        z-index: 1;
    }

    .dialoge .dialogue-content .section {
        margin-top: 2.75em;
    }
}

@media screen and (min-width: 769px) {
    .dialoge .dialogue-content {
        max-width: 791.04px;
    }
}

.dialoge .dialogue-content .dialoge-menu {
    width: 100%;
    margin-bottom: 0;
    list-style: none;
    padding: 0;
    white-space: nowrap;
    font-size: 0;
    overflow-x: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #674764;
    margin-right: 2.5em !important;
}

.dialoge .dialogue-content .section {
    padding: 1.6em;
    border-radius: 0;
    margin-bottom: 0;
}

.dialoge .dialogue-content .section *:last-child {
    margin-bottom: 0;
}

#dialoge .section {
    max-height: 500px;
    overflow: scroll;
}

#admin-toggle-wrapper #admin-languages-toggle {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #F8FAF4;
    border-radius: 5px;
    width: 100%;
    background: #4f364c;
    color: #f8faf4;
}

.msg-settings .CodeMirror-sizer {
    max-width: 203px !important;
}

#admin-plugin-settings {
    overflow-y: scroll;
}

.loader {
    display: none;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    height: auto;
}
