<div class="wrapper footer color6">
    <div class="wrapper">
        <div class="container">
            <div class="row gutters">
                <div class="col span_12" style="text-align: center;">Om du behöver hjälp med din registrering, kontakta
                    <a href="mailto:my.nyander@springconf.com" style="color: white;">My Nyander</a></div><!--col-->
            </div><!--row-->
        </div>
    </div>
</div><!-- SITE SPECIFIC SCRIPTS -->
{% if 'is_user_login' in request.session %}
    {% if request.session.event_user.attending == "Yes" %}
        <input type="hidden" id="hidden_secret" value="{{ request.session.event_user.secret_key }}">
        <input type="hidden" id="new_notification_count" value="{{ request.session.event_user.last_noty }}"/>
        <input type="hidden" id="new_evaluations" value="{% if 'new_sessions_finished' in  request.session.event_user %}{{ request.session.event_user.new_sessions_finished }}{% endif %}"/>
        <input type="hidden" id="new_next_up" value="{% if 'new_sessions_next_up' in  request.session.event_user %}{{ request.session.event_user.new_sessions_next_up }}{% endif %}"/>
    {% endif %}
{% endif %}
{% load staticfiles %}
<script src="{% static 'gt/js/jPushMenu.js' %}" type="text/javascript"></script>
<script>
    jQuery(document).ready(function ($) {
        $('.toggle-menu').jPushMenu();

        $('.push-body').on('click touchstart', function (event) {
            if ($('#mobileMenu').hasClass('menu-open')) {
                $('#mobileMenu').removeClass('menu-open');
            }
        });
        $('nav ul').on('click touchstart', function (event) {
            event.stopPropagation();
        });
        $('#mobileMenuButton').on('click touchstart', function (event) {
            event.stopPropagation();
        });
    });
</script>
