{% extends "layout/main.html" %}
{% block content %}
    {% load staticfiles %}
    {% include 'layout/editor_header.html' %}
    {% csrf_token %}
    <div id="content-wrapper">
        <div class="panel colourable">
            <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-lg fa-file"></i>
                &nbsp;&nbsp;&nbsp;<strong style="text-decoration:none">Edit Template</strong></span>
            </div>
            <div class="panel-body tab-content">
                <div class="tab-pane fade in active">
                    <div class="froala-editor-div">
                            <textarea id="froala_content_editor"
                                      name="froala_content_editor">{{ content }}</textarea>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" id="btn-save-email-template" class="btn btn-success btn-lg" style="float: left;margin-top: 10px;"><i
                                    class="fa fa-check-circle"></i>&nbsp;&nbsp;Save
                            </button>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-lg" id="btn-reset-editor-content" style="float: left;margin-top: 10px;"><i
                                    class="fa fa-ban"></i>&nbsp;&nbsp;Reset
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'layout/editor_footer.html' %}
{% endblock %}