<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>

		</style>
	</head>
	<body style="margin: 0;font-family: Arial, sans-serif;">
  		<table cellpadding="0" cellspacing="0" id="wrapper" style="border-spacing: 0px;width: 100%;">
	<tbody>
		<tr>
			<td class="wrapper header" style="text-align: center;background: #fbba00;">
			<table cellpadding="0" cellspacing="0" id="header" style="border-spacing: 0px;margin: 0 auto;width: 600px;">
				<tbody>
					<tr>
						<td style="text-align: center;"><img src="https://www.delegia.com/app/Data/ProjectImages/7128/img/mail-01.png"></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td class="wrapper content" style="text-align: center;">
			<table cellpadding="0" cellspacing="0" id="content" style="border-spacing: 0px;margin: 0 auto;width: 600px;padding: 1em;">
				<tbody>
					<tr>
						<td style="text-align: left;">

							<h1 style="color: #ff6a00;">EXCITING NEWS!</h1>

							<p>Some of your personal information has been updated or changed.</p>

							<p>Please check the &lsquo;My KingfoInfo&rsquo; page <a href="{{ base_url }}/kingfomarket/my-kingfomarket/?uid={{ secret_key }}" style="color: #00B67D;">in the portal</a> for more info.</p>

							<p>Have an awesome day!</p>

							<p>The KingfoFighters</p>


						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td class="wrapper footer" style="text-align: right;background: #fbba00;"><img src="https://www.delegia.com/app/Data/ProjectImages/7128/img/mail-02.png"></td>
		</tr>
	</tbody>
</table>
	</body>
</html>
