<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1" name="viewport">
<style type="text/css">body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    color: #ff6a00
}

table {
    border-spacing: 0px;
}

#wrapper {
    width: 100%;
}

table table {
    margin: 0 auto;
}

.wrapper {
    text-align: center;
}

.wrapper.header {
    background: #fbba00;
}

.wrapper.content {

}

.wrapper.footer {
    background: #fbba00;
    text-align: right;
}

#header {
    width: 600px;
}

#header td {
    text-align: center;
}

#content {
    width: 600px;
    padding: 1em;
}

#content td {
    text-align: left;
}

#footer {
    width: 600px;
    text-align: right;
}

#footer td {
    text-align: right;
}

#confirmation td {
    padding: 0.5em 0;
}

#confirmation td:first-child {
    font-weight: bold;
}

a {
    color: #00B67D;

}

a img {
    vertical-align: middle;
}

.button {
    color: white;
    text-decoration: none;
    height: 50px;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.color {
    color: #FA4092;
    font-weight: bold;
}
</style>
<table cellpadding="0" cellspacing="0" id="wrapper" style="border-spacing: 0px;width: 100%;">
    <tbody>
    <tr>
        <td class="wrapper header" style="text-align: center;background: #fbba00;">
            <table cellpadding="0" cellspacing="0" id="header" style="border-spacing: 0px;margin: 0 auto;width: 600px;">
                <tbody>
                <tr>
                    <td style="text-align: center;"><img
                            src="http://delegia.com/app/Data/ProjectImages/6858/mail_007/mail-01.png"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td class="wrapper content" style="text-align: center;">
            <table cellpadding="0" cellspacing="0" id="content"
                   style="border-spacing: 0px;margin: 0 auto;width: 600px;padding: 1em;">
                <tbody>
                <tr>
                    <td style="text-align: left;">
                        <p>GOOD NEWS!</p>

                        <p>A space has opened up in the following Session: {{ new_session.name }}</p>

                        <p>You’ve been moved from the waiting list and the Session has been added to your personal
                            agenda for the day.</p>

                        <p>If you’ve changed your mind about this Session, please click <a href="{{ base_url }}/kingfomarket/session-schedule/?uid={{ queue_attendee.attendee.secret_key }}" style="color: #00B67D;">HERE</a> to cancel your place.</p>

                        <p>Thanks</p>

                        <p>The KingfoMarket Team</p>

                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td class="wrapper footer" style="text-align: right;background: #fbba00;"><img
                src="http://delegia.com/app/Data/ProjectImages/6858/mail_007/mail-02.png"></td>
    </tr>
    </tbody>
</table>