{% extends "layout/main.html" %}
{% block content %}
    {% load staticfiles %}
    {% include 'layout/editor_header.html' %}
    <div id="content-wrapper">
        <div class="panel colourable">
            <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-lg fa-plane"></i></i>
                &nbsp;&nbsp;&nbsp;<strong>Travels</strong></span>
                <span style="float:right"><img style="display:none" height="25px"
                                               src="{% static 'public/images/712.GIF' %}" id="loader" alt=""/>
                    <input type="text" name="search_key_travel" id="search_key_travel"/></span>
            </div>
            <!-- / .panel-heading -->
            {% csrf_token %}
            <div class="panel-body tab-content">
                <div class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-sm-6">
                            {% if request.session.admin_permission.content_permission.travel_permission and request.session.admin_permission.content_permission.travel_permission.access_level == 'write' or request.session.event_auth_user.type == 'super_admin' %}
                                <button type="button" id="btn-add-travel" class="btn btn-primary btn-lg"
                                        data-toggle="modal"
                                        data-target=""><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Add a
                                    Travel
                                </button>
                            {% endif %}
                        </div>
                    </div>
                    <br>

                    <div id="travels">
                        <div class="table-light">

                            {% for group in travel_groups %}
                                <div class="table-header" id="travel_group_{{ group.id }}">
                                    <div class="table-caption">
                                        {{ group.name|safe }}
                                    </div>
                                </div>
                                <table class="table table-bordered sortable travel-table">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Attending / Max</th>
                                        <th>Edit</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for travel in group.travels %}
                                        <tr>
                                            <td>{{ travel.id }}</td>
                                            <td>{{ travel.name }}</td>
                                            <td>{{ travel.attending }} / {{ travel.max_attendees }}</td>
                                            {% if request.session.admin_permission.content_permission.travel_permission and request.session.admin_permission.content_permission.travel_permission.access_level == 'write' or request.session.event_auth_user.type == 'super_admin' %}
                                                <td>
                                                    <button class="btn btn-xs btn-edit-travel"
                                                            data-id="{{ travel.id }}"
                                                            data-toggle="tooltip" data-placement="top" title=""
                                                            data-original-title="Edit"><i
                                                            class="dropdown-icon fa fa-cog"></i>
                                                    </button>
                                                    <button class="btn btn-xs btn-danger btn-delete-travel"
                                                            data-id="{{ travel.id }}" data-toggle="tooltip"
                                                            data-placement="top"
                                                            title="" data-original-title="Delete"><i
                                                            class="dropdown-icon fa fa-times-circle"></i></button>
                                                </td>
                                            {% else %}
                                                <td style="text-align: center;">
                                                    <button class="btn btn-xs btn-view-travel"
                                                            data-id="{{ travel.id }}"
                                                            data-toggle="tooltip" data-placement="top" title=""
                                                            data-original-title="View"><i
                                                            class="dropdown-icon fa fa-search-plus"></i>
                                                    </button>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% if request.session.admin_permission.content_permission.travel_permission and request.session.admin_permission.content_permission.travel_permission.access_level == 'write' or request.session.event_auth_user.type == 'super_admin' %}
            {% include 'travel/add_travel.html' %}
        {% else %}
            {% include 'travel/view_travel.html' %}
        {% endif %}

    </div>
    {% include 'layout/editor_footer.html' %}
{% endblock %}