{% extends "layout/main.html" %}
{% block content %}
    {% load staticfiles %}
    {% include 'layout/editor_header.html' %}
    {#    <script src="{% static 'assets/markdown/markdown-it.js' %}"></script>#}
    {#    <script src="{% static 'assets/markdown/to-markdown.js' %}"></script>#}
    {#    <script src="{% static 'assets/markdown/markdown-it-footnote.js' %}"></script>#}
    {#    <script src="{% static 'assets/markdown/highlight.pack.js' %}"></script>#}
    {#    <script src="{% static 'assets/markdown/emojify.js' %}"></script>#}
    {#    <script src="{% static 'assets/markdown/codemirror/lib/codemirror.js' %}"></script>#}
    {#    <script src="{% static 'assets/markdown/codemirror/overlay.js' %}"></script>#}
    {#    <script src="{% static 'assets/markdown/codemirror/xml/xml.js' %}"></script>#}
    {#    <script src="{% static 'assets/markdown/codemirror/markdown/markdown.js' %}"></script>#}
    {#    <script src="{% static 'assets/markdown/codemirror/gfm/gfm.js' %}"></script>#}
    {#    <script src="{% static 'assets/markdown/codemirror/javascript/javascript.js' %}"></script>#}
    {#    <script src="{% static 'assets/markdown/codemirror/css/css.js' %}"></script>#}
    {#    <script src="{% static 'assets/markdown/codemirror/htmlmixed/htmlmixed.js' %}"></script>#}
    {#    <script src="{% static 'assets/markdown/codemirror/lib/util/continuelist.js' %}"></script>#}
    {#    <script src="{% static 'assets/markdown/rawinflate.js' %}"></script>#}
    {#    <script src="{% static 'assets/markdown/rawdeflate.js' %}"></script>#}
    {##}
    {#    <link href="{% static 'assets/markdown/base16-light.css' %}" media="all" rel="stylesheet">#}
    {#    <link href="{% static 'assets/markdown/codemirror/lib/codemirror.css' %}" media="all" rel="stylesheet">#}
    {#    <link href="{% static 'assets/markdown/default.css' %}" media="all" rel="stylesheet">#}
    {##}
    {##}
    {#    <script src="{% static 'assets/javascripts/respond.min.js' %}"></script>#}
    {#    <script src="//cdn.jsdelivr.net/clipboard.js/1.5.8/clipboard.min.js"></script>#}

    {#    <style>#}
    {#        .CodeMirror.cm-s-default {#}
    {#            height: 0px !important;#}
    {#        }#}
    {##}
    {#        .CodeMirror {#}
    {#            height: 118px !important;#}
    {#            border: 1px solid !important;#}
    {#            border-color: #c2c2c2 !important;#}
    {#        }#}
    {#    </style>#}
    <div id="content-wrapper">
        <div class="panel colourable">
            <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-lg fa-plane"></i></i>
                &nbsp;&nbsp;&nbsp;<strong>Travels</strong></span>
                <span style="float:right"><img style="display:none" height="25px"
                                               src="{% static 'public/images/712.GIF' %}" id="loader" alt=""/>
                    <input type="text" name="search_key_travel" id="search_key_travel"/></span>
            </div>
            <!-- / .panel-heading -->
            {% csrf_token %}
            <div class="panel-body tab-content">
                <div class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-sm-6">
                            {% if request.session.admin_permission.content_permission.travel_permission and request.session.admin_permission.content_permission.travel_permission.access_level == 'write' or request.session.event_auth_user.type == 'super_admin' %}
                                <button type="button" id="btn-add-travel" class="btn btn-primary btn-lg"
                                        data-toggle="modal"
                                        data-target=""><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Add a
                                    Travel
                                </button>
                            {% endif %}
                        </div>
                    </div>
                    <br>

                    <div id="travels">
                        <div class="table-light">

                            {% for group in travel_groups %}
                                {#                                {% if group.travels %}#}

                                <div class="table-header" id="travel_group_{{ group.id }}">
                                    <div class="table-caption">
                                        {{ group.name|safe }}
                                    </div>
                                </div>
                                <table class="table table-bordered sortable travel-table">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Attending / Max</th>
                                        {#                                        <th>In Queue</th>#}
                                        {#                                        <th>Not Attending</th>#}
                                        <th>Edit</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for travel in group.travels %}
                                        <tr>
                                            <td>{{ travel.id }}</td>
                                            <td>{{ travel.name }}</td>
                                            <td>{{ travel.attending }} / {{ travel.max_attendees }}</td>
                                            {#                                            <td id="travel-queue-count-{{ travel.id }}">{{ travel.in_queue }}</td>#}
                                            {#                                            <td>{{ travel.not_attending }}</td>#}
                                            {% if request.session.admin_permission.content_permission.travel_permission and request.session.admin_permission.content_permission.travel_permission.access_level == 'write' or request.session.event_auth_user.type == 'super_admin' %}
                                                <td>
                                                    <button class="btn btn-xs btn-edit-travel"
                                                            data-id="{{ travel.id }}"
                                                            data-toggle="tooltip" data-placement="top" title=""
                                                            data-original-title="Edit"><i
                                                            class="dropdown-icon fa fa-cog"></i>
                                                    </button>
                                                    {#                                                <button class="btn btn-xs btn-edit-travel-queue"#}
                                                    {#                                                        data-id="{{ travel.id }}"#}
                                                    {#                                                        data-toggle="tooltip" data-placement="top" title=""#}
                                                    {#                                                        data-original-title="Edit Queue"><i#}
                                                    {#                                                        class="dropdown-icon fa fa-users"></i></button>#}
                                                    {#                                                <button class="btn btn-xs btn-edit-travel-deciding"#}
                                                    {#                                                        data-id="{{ travel.id }}"#}
                                                    {#                                                        data-toggle="tooltip" data-placement="top" title=""#}
                                                    {#                                                        data-original-title="Deciding List"><i#}
                                                    {#                                                        class="dropdown-icon fa fa-user-secret"></i></button>#}
                                                    {#                                                <button class="btn btn-xs btn-duplicate-travel"#}
                                                    {#                                                        data-id="{{ travel.id }}" data-toggle="tooltip"#}
                                                    {#                                                        data-placement="top"#}
                                                    {#                                                        title=""#}
                                                    {#                                                        data-original-title="Duplicate"><i#}
                                                    {#                                                        class="dropdown-icon fa fa-files-o"></i>#}
                                                    {#                                                </button>#}
                                                    <button class="btn btn-xs btn-danger btn-delete-travel"
                                                            data-id="{{ travel.id }}" data-toggle="tooltip"
                                                            data-placement="top"
                                                            title="" data-original-title="Delete"><i
                                                            class="dropdown-icon fa fa-times-circle"></i></button>
                                                </td>
                                            {% else %}
                                                <td style="text-align: center;">
                                                    <button class="btn btn-xs btn-view-travel"
                                                            data-id="{{ travel.id }}"
                                                            data-toggle="tooltip" data-placement="top" title=""
                                                            data-original-title="View"><i
                                                            class="dropdown-icon fa fa-search-plus"></i>
                                                    </button>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {#                                {% endif %}#}
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% if request.session.admin_permission.content_permission.travel_permission and request.session.admin_permission.content_permission.travel_permission.access_level == 'write' or request.session.event_auth_user.type == 'super_admin' %}
            {% include 'travel/add_travel.html' %}
        {% else %}
            {% include 'travel/view_travel.html' %}
        {% endif %}
        {#        <div id="travels-edit-cue" class="modal fade" tabindex="-1" role="dialog" style="display: none;">#}
        {#        </div>#}
        {#        <div id="travels-edit-deciding" class="modal fade" tabindex="-1" role="dialog" style="display: none;">#}
        {#        </div>#}

    </div>
    {#    <script type="text/javascript">#}
    {#        var editor;#}
    {#        $(function () {#}
    {#            // photo upload and display start#}
    {##}
    {##}
    {#            // photo upload and display end#}
    {##}
    {#            editor = CodeMirror.fromTextArea(document.getElementById('description'), {#}
    {#                mode: 'gfm',#}
    {#                lineNumbers: false,#}
    {#                matchBrackets: true,#}
    {#                lineWrapping: true,#}
    {#                theme: 'base16-light',#}
    {#                extraKeys: {"Enter": "newlineAndIndentContinueMarkdownList"},#}
    {#            });#}
    {#            editor.on('change', update);#}
    {##}
    {#            $('body').on('click', '#btn-description-preview', function () {#}
    {#                clog(editor.getValue());#}
    {#                clog($('#description_out').html());#}
    {#                var input = $("<textarea>")#}
    {#                        .css('display', 'none')#}
    {#                        .attr("name", "content").val($('#description_out').html());#}
    {#                clog(input);#}
    {#                var csrfToken = $('input[name=csrfmiddlewaretoken]').val();#}
    {#                var csrf = $("<input>")#}
    {#                        .css('display', 'none')#}
    {#                        .attr("name", "csrfmiddlewaretoken").val(csrfToken);#}
    {#                $('#description-preview-form').append($(input));#}
    {#                $('#description-preview-form').append($(csrf));#}
    {#                $('#description-preview-form').submit();#}
    {#                clog($('#description-preview-form'));#}
    {##}
    {#            });#}
    {#        });#}
    {##}
    {##}
    {#        var URL = window.URL || window.webkitURL || window.mozURL || window.msURL;#}
    {#        navigator.saveBlob = navigator.saveBlob || navigator.msSaveBlob || navigator.mozSaveBlob || navigator.webkitSaveBlob;#}
    {#        window.saveAs = window.saveAs || window.webkitSaveAs || window.mozSaveAs || window.msSaveAs;#}
    {##}
    {#        // Because highlight.js is a bit awkward at times#}
    {#        var languageOverrides = {#}
    {#            js: 'javascript',#}
    {#            html: 'xml'#}
    {#        };#}
    {##}
    {#        emojify.setConfig({img_dir: 'emoji'});#}
    {##}
    {#        var md = markdownit({#}
    {#            html: true,#}
    {#            highlight: function (description, lang) {#}
    {#                if (languageOverrides[lang]) lang = languageOverrides[lang];#}
    {#                if (lang && hljs.getLanguage(lang)) {#}
    {#                    try {#}
    {#                        return hljs.highlight(lang, description).value;#}
    {#                    } catch (e) {#}
    {#                    }#}
    {#                }#}
    {#                return '';#}
    {#            }#}
    {#        })#}
    {#                .use(markdownitFootnote);#}
    {##}
    {##}
    {#        var hashto;#}
    {##}
    {#        function update(e) {#}
    {#            if (e != undefined) {#}
    {#                setOutput(e.getValue());#}
    {#            }#}
    {##}
    {#            clearTimeout(hashto);#}
    {#            hashto = setTimeout(updateHash, 1000);#}
    {#        }#}
    {##}
    {#        function setOutput(val) {#}
    {#            val = val.replace(/<equation>((.*?\n)*?.*?)<\/equation>/ig, function (a, b) {#}
    {#                return '<img src="http://latex.codecogs.com/png.latex?' + encodeURIComponent(b) + '" />';#}
    {#            });#}
    {##}
    {#            var out = document.getElementById('description_out');#}
    {#            var old = out.cloneNode(true);#}
    {#            out.innerHTML = md.render(val);#}
    {#            emojify.run(out);#}
    {##}
    {#            var allold = old.getElementsByTagName("*");#}
    {#            if (allold === undefined) return;#}
    {##}
    {#            var allnew = out.getElementsByTagName("*");#}
    {#            if (allnew === undefined) return;#}
    {##}
    {#            for (var i = 0, max = Math.min(allold.length, allnew.length); i < max; i++) {#}
    {#                if (!allold[i].isEqualNode(allnew[i])) {#}
    {#                    out.scrollTop = allnew[i].offsetTop;#}
    {#                    return;#}
    {#                }#}
    {#            }#}
    {#        }#}
    {##}
    {##}
    {#        document.addEventListener('drop', function (e) {#}
    {#            e.preventDefault();#}
    {#            e.stopPropagation();#}
    {##}
    {#            var reader = new FileReader();#}
    {#            reader.onload = function (e) {#}
    {#                editor.setValue(e.target.result);#}
    {#            };#}
    {##}
    {#            reader.readAsText(e.dataTransfer.files[0]);#}
    {#        }, false);#}
    {##}
    {##}
    {#        function saveAsMarkdown() {#}
    {#            save(editor.getValue(), "untitled.md");#}
    {#        }#}
    {##}
    {#        function saveAsHtml() {#}
    {#            save(document.getElementById('description_out').innerHTML, "untitled.html");#}
    {#        }#}
    {##}
    {#        function save(description, name) {#}
    {#            var blob = new Blob([description], {type: 'text/plain'});#}
    {#            if (window.saveAs) {#}
    {#                window.saveAs(blob, name);#}
    {#            } else if (navigator.saveBlob) {#}
    {#                navigator.saveBlob(blob, name);#}
    {#            } else {#}
    {#                url = URL.createObjectURL(blob);#}
    {#                var link = document.createElement("a");#}
    {#                link.setAttribute("href", url);#}
    {#                link.setAttribute("download", name);#}
    {#                var event = document.createEvent('MouseEvents');#}
    {#                event.initMouseEvent('click', true, true, window, 1, 0, 0, 0, 0, false, false, false, false, 0, null);#}
    {#                link.dispatchEvent(event);#}
    {#            }#}
    {#        }#}
    {##}
    {##}
    {#        var menuVisible = false;#}
    {#        var menu = document.getElementById('menu');#}
    {##}
    {#        function showMenu() {#}
    {#            menuVisible = true;#}
    {#            menu.style.display = 'block';#}
    {#        }#}
    {##}
    {#        function hideMenu() {#}
    {#            menuVisible = false;#}
    {#            menu.style.display = 'none';#}
    {#        }#}
    {##}
    {#        document.addEventListener('keydown', function (e) {#}
    {#            if (e.keyCode == 83 && (e.ctrlKey || e.metaKey)) {#}
    {#                e.shiftKey ? showMenu() : saveAsMarkdown();#}
    {##}
    {#                e.preventDefault();#}
    {#                return false;#}
    {#            }#}
    {##}
    {#            if (e.keyCode === 27 && menuVisible) {#}
    {#                hideMenu();#}
    {##}
    {#                e.preventDefault();#}
    {#                return false;#}
    {#            }#}
    {#        });#}
    {##}
    {##}
    {#        function updateHash() {#}
    {#        }#}
    {##}
    {#        if (window.location.hash) {#}
    {#            var h = window.location.hash.replace(/^#/, '');#}
    {#            if (h.slice(0, 5) == 'view:') {#}
    {#                setOutput(decodeURIComponent(escape(RawDeflate.inflate(atob(h.slice(5))))));#}
    {#                document.body.className = 'view';#}
    {#            } else {#}
    {#                editor.setValue(#}
    {#                        decodeURIComponent(escape(#}
    {#                                RawDeflate.inflate(#}
    {#                                        atob(#}
    {#                                                h#}
    {#                                        )#}
    {#                                )#}
    {#                        ))#}
    {#                );#}
    {#                update(editor);#}
    {#                editor.focus();#}
    {#            }#}
    {#        } else if (editor != undefined) {#}
    {#            update(editor);#}
    {#            editor.focus();#}
    {#        }#}
    {##}
    {##}
    {#    </script>#}
    {% include 'layout/editor_footer.html' %}
{% endblock %}