<div class="panel colourable">
    <div class="panel-heading">
        <span class="panel-title"><strong>New Export</strong></span>
    </div>
    <div class="panel-body tab-content">
        <form action="/admin/export-filter/" method="post">


            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Export Filter Group</label>
                        <select class="form-control filter-rules-selector" name="group_id" required>
                            {% for group in groups %}
                                <option value="{{ group.id }}"> {{ group.name|safe }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Filter Name</label>
                        <input type="text" name="filter_name" class="form-control" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Filter</label>
                        <select class="form-control filter-rules-selector" name="rule_id">
                            {% for group in filterGroup %}
                                <optgroup label="{{ group.name|safe }}">
                                    {% for filter in group.filters %}
                                        <option value="{{ filter.id }}"> {{ filter.name }}</option>
                                    {% endfor %}
                                </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group no-margin-hr">
                        <input type="checkbox" name="select_all" id="selecctall"/> <label for="selecctall">Select
                        All</label>
                    </div>
                </div>
            </div>


            <div class="row">
                <strong class="col-md-8"><h3 id="uidemo-jquery-ui-accordions2" href="#uidemo-jquery-ui-accordions2"
                                             class="header-2">Questions</h3></strong>
                <div class="col-md-12">
                    <div id="ui-accordion2">
                        {% for q in questions %}
                            {% if q.newGroup %}
                                {% if forloop.counter  > 1 %}
                                    </div>
                                    </div> <!-- / .group -->

                                {% endif %}

                                <div class="group">
                                <h3><input type="checkbox" class="allselect groupname"> {{ q.group.name|safe }}</h3>
                                <div class="row">
                            {% endif %}

                            <div class="col col-md-6 no">
                                {% if q.group.name == 'Default' %}
                                    <div class="col-md-1 width-sorter"><input type="checkbox" id="question_{{ q.id }}"
                                                                              name="{{ q.id }}"
                                                                              class="allselect question"
                                                                              value="{{ q.id }}"/></div>
                                    <div class="col-md-11 no-padding"><label
                                            for="question_{{ q.id }}">{{ q.title }}</label></div>
                                {% else %}
                                    <div class="col-md-1 width-sorter"><input type="checkbox" id="question_{{ q.id }}"
                                                                              name="questions"
                                                                              class="allselect question"
                                                                              value="{{ q.id }}"/></div>
                                    <div class="col-md-11 no-padding"><label
                                            for="question_{{ q.id }}">{{ q.title }}</label></div>
                                {% endif %}
                            </div>

                        {% endfor %}
                        </div> <!-- / #ui-accordion -->
                        </div>
            </div>

            <br>

            <div class="row">
                <strong class="col-md-8"><h3 id="uidemo-jquery-ui-accordions" href="#uidemo-jquery-ui-accordions"
                                             class="header-2">Sessions</h3></strong>
                <div class="col-md-12">
                    <div id="ui-accordion">
                        {% for ssn in sessionList %}
                            {% if ssn.newGroup %}
                                {% if forloop.counter  > 1 %}
                                    </div>
                                    </div> <!-- / .group -->

                                {% endif %}

                                <div class="group">
                                <h3><input type="checkbox" class="allselect groupname"> {{ ssn.group.name|safe }}</h3>
                                <div class="row">
                            {% endif %}

                            <div class="col col-md-6">
                                <div class="col-md-1 width-sorter"><input type="checkbox" name="sessions"
                                                                          id="session_{{ ssn.id }}"
                                                                          class="allselect session"
                                                                          value="{{ ssn.id }}"/></div>
                                <div class="col-md-11 no-padding"><label
                                        for="session_{{ ssn.id }}">{{ ssn.name }}</label></div>

                            </div>

                        {% endfor %}
                        </div> <!-- / #ui-accordion -->
                        </div>
            </div>


            <br>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Travel</label>
                        <input type="checkbox" id="flight" name="flight" class="allselect session" value="flight"/>
                        <label for="flight">Export</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Hotel</label>
                        <input type="checkbox" id="hotels" name="hotels" class="allselect hotel" value="room"/> <label
                            for="hotels">Export</label>
                    </div>
                </div>
            </div>


            <br>
            {#                {% csrf_token %}#}
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div class="row">
                <div class="col-sm-12 text-right">
                    <div class="btn-group">
                        <button class="btn btn-success">Save and export</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
<style>

    .width-sorter {
        width: 6.333333% !important;
    }

</style>
<script>
    $(document).ready(function () {
        $(".filter-rules-selector").select2({
            placeholder: "Select a Group"
        });
    });
</script>