{% extends "layout/main.html" %}
{% block content %}
    {% load staticfiles %}
    <script type="text/javascript" src="//code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
    <script src="{% static 'assets/markdown/markdown-it.js' %}"></script>
    <script src="{% static 'assets/markdown/to-markdown.js' %}"></script>
    <script src="{% static 'assets/markdown/markdown-it-footnote.js' %}"></script>
    <script src="{% static 'assets/markdown/highlight.pack.js' %}"></script>
    <script src="{% static 'assets/markdown/emojify.js' %}"></script>
    <script src="{% static 'assets/markdown/codemirror/lib/codemirror.js' %}"></script>
    <script src="{% static 'assets/markdown/codemirror/overlay.js' %}"></script>
    <script src="{% static 'assets/markdown/codemirror/xml/xml.js' %}"></script>
    <script src="{% static 'assets/markdown/codemirror/markdown/markdown.js' %}"></script>
    <script src="{% static 'assets/markdown/codemirror/gfm/gfm.js' %}"></script>
    <script src="{% static 'assets/markdown/codemirror/javascript/javascript.js' %}"></script>
    <script src="{% static 'assets/markdown/codemirror/css/css.js' %}"></script>
    <script src="{% static 'assets/markdown/codemirror/htmlmixed/htmlmixed.js' %}"></script>
    <script src="{% static 'assets/markdown/codemirror/lib/util/continuelist.js' %}"></script>
    <script src="{% static 'assets/markdown/rawinflate.js' %}"></script>
    <script src="{% static 'assets/markdown/rawdeflate.js' %}"></script>

    <link href="{% static 'assets/markdown/base16-light.css' %}" media="all" rel="stylesheet">
    <link href="{% static 'assets/markdown/codemirror/lib/codemirror.css' %}" media="all" rel="stylesheet">
    <link href="{% static 'assets/markdown/default.css' %}" media="all" rel="stylesheet">


    <script src="{% static 'assets/javascripts/respond.min.js' %}"></script>

    <link href="{% static 'assets/stylesheets/kendo/kendo.common.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/stylesheets/kendo/kendo.default.min.css' %}" rel="stylesheet" type="text/css"/>

    <script src="{% static 'assets/javascripts/kendo/kendo.all.min.js' %}"></script>

    <script src="//cdn.jsdelivr.net/clipboard.js/1.5.8/clipboard.min.js"></script>

    {#    tinymce#}
    {#    <script src="http://cloud.tinymce.com/stable/tinymce.min.js?apiKey=ws11z06axsmkczirq1c0kq4qyeu0pnfum0kbkhbpd219msmb"></script>#}
    <script src="{% static 'assets/javascripts/tinymce/tinymce.min.js' %}"></script>
    <style>
        .CodeMirror.cm-s-default {
            height: 0px !important;
        }

        .question-markdown, .general-markdown, .session-markdown, .travel-markdown, .hotel-markdown, .calendar-markdown, .general-question-markdown {
            min-height: 3em;
            padding: 0.5em;
            max-height: 15em;
            overflow-y: auto;
            cursor: pointer;
        }

        .custom-accordion {
            background: #f5f5f5;
            border: 1px solid #ddd;
            border-radius: 2px;
            cursor: pointer;
            margin: 5px 0 0;
            min-height: 0;
            padding: 0 15px;
            position: relative;
            line-height: 36px;
            font-size: 100%;
        }

        .custom-accordion:hover {
            background: #f1f1f1;
            color: #555;
            text-decoration: none;
        }
    </style>


    {% csrf_token %}
    <div id="content-wrapper">
        <h2>Send Email</h2>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="control-label">Content</label>

                        <div id="in">
                            <form id='preview-form' action="{% url 'emails-preview' %}" method="POST"
                                  target="_blank">{% csrf_token %}
                                <input type="hidden" name="email_id" value="{{ email.id }}">
                                <textarea id="code"
                                          name="code_data">{{ email.content }}</textarea></form>
                        </div>
                        <div id="out" style="display: none;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right">
                        <button type="button" class="btn btn-lg btn-save" id="btn-email-preview"
                                style="float: left;margin-top: 10px;"><i
                                class="fa fa-ban"></i>&nbsp;&nbsp;Preview
                        </button>
                    </div>
                    <div class="col-sm-4 text-right">
                        <button type="button" class="btn btn-lg btn-primary btn-save-email-content"
                                id="btn-save-email-content"
                                data-id="{{ email.id }}"
                                style="float: left;margin-top: 10px;"><i
                                class=""></i>&nbsp;&nbsp;Save
                        </button>
                    </div>
                    <div class="col-sm-4 text-right">
                        <button type="button" class="btn btn-lg btn-save btn-danger" id="bt-reset-email-content"
                                style="float: left;margin-top: 10px;"><i
                                class=""></i>&nbsp;&nbsp;Cancel
                        </button>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-inline">
                            <label class="form-control">Language:</label>
                            <select class="form-control pull-right" style="width: 70%" id="email-preset">
                                {% for preset in presets %}
                                    <option value="{{ preset.id }}"
                                            {% if preset.id == presetsEvent.preset_id %}
                                            selected="selected"{% endif %}>{{ preset.preset_name }}({{ preset.id }})
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <span class="panel-title">Elements</span>
                            </div>

                            <div class="panel-body">
                                <div class="ui-accordion">
                                    <div class="group">
                                        <h3>General</h3>
                                        <div>
                                            <ul>
                                                <li data-id="uid_link" class="general-markdown">UID Link</li>
                                                <li data-id="first_name" class="general-markdown">First Name</li>
                                                <li data-id="last_name" class="general-markdown">Last Name</li>
                                                <li data-id="email_address" class="general-markdown">Email Address</li>
                                                <li data-id="registration_date" class="general-markdown">Registration
                                                    Date
                                                </li>
                                                <li data-id="uid" class="general-markdown">UID</li>
                                                <li data-id="updated_date" class="general-markdown">Last Updated Date
                                                </li>
                                                <li data-id="attendee_groups" class="general-markdown">Attendee Groups
                                                </li>
                                                <li data-id="tags" class="general-markdown">Tags</li>
                                                <li data-id="calendar" class="general-markdown">Calendar</li>
                                                <li data-id="reset_password_hash_link" class="general-markdown">Reset
                                                    Password Hash Link
                                                </li>
                                                <li data-id="messages_link" class="general-markdown">Messgae Link</li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-accordion">
                                    <div class="group">
                                        <h3>Economy Tags</h3>
                                        <div>
                                            <ul>
                                                <li data-id="order_table" class="general-markdown">Order Table</li>
                                                <li data-id="multiple_order_table" class="general-markdown">Multiple Order Table</li>
                                                <li data-id="balance_table" class="general-markdown">Balance Table</li>
                                                <li data-id="order_value_paid_order" class="general-markdown">Order value paid order</li>
                                                <li data-id="multiple_order_value_paid_order" class="general-markdown">Multiple Order value paid order
                                                </li>
                                                <li data-id="order_value_pending_order" class="general-markdown">Order value pending order</li>
                                                <li data-id="multiple_order_value_pending_order" class="general-markdown">Multiple Order value pending order
                                                </li>
                                                <li data-id="order_value_open_order" class="general-markdown">Order value open order
                                                </li>
                                                <li data-id="multiple_order_value_open_order" class="general-markdown">Multiple Order value open order</li>
                                                <li data-id="order_value_all_order" class="general-markdown">Order value all order</li>
                                                <li data-id="multiple_order_value_all_order" class="general-markdown">Multiple Order value all order
                                                </li>
                                                <li data-id="order_value_credit_order" class="general-markdown">Order value credit order</li>
                                                <li data-id="multiple_order_value_credit_order" class="general-markdown">Multiple Order value credit order
                                                </li>
                                                <li data-id="receipt" class="general-markdown">Receipt
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="group">
                                        <h3 class="question-markdown custom-accordion">Questions</h3>
                                    </div>
                                </div>

                                <div class="">
                                    <div class="group">
                                        <h3 class="session-markdown custom-accordion">Sessions</h3>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="group">
                                        <h3 class="travel-markdown custom-accordion">Travels</h3>
                                    </div>


                                </div>
                                <div class="">
                                    <div class="group">
                                        <h3 class="hotel-markdown custom-accordion">Hotels</h3>
                                    </div>


                                </div>
                                <div class="">
                                    <div class="group">
                                        <h3 class="photo-markdown custom-accordion">Photos</h3>
                                    </div>


                                </div>
                                <div class="">
                                    <div class="group">
                                        <h3 class="base-url-markdown custom-accordion">Base URL</h3>
                                    </div>


                                </div>
                                <div class="panel-heading">
                                    <a class="accordion-toggle note note-info" data-toggle="collapse"
                                       data-parent="#accordion-example"
                                       href="#collapseOne">
                                        General Questions
                                    </a>
                                </div>
                                <div id="collapseOne" class="panel-collapse">
                                    <div class="panel-body">
                                        <div class="ui-accordion">
                                            {% for group in questionGroup %}
                                                <div class="group">
                                                    <h3>{{ group.name|safe }}</h3>
                                                    <div>
                                                        <ul>
                                                            {% for question in group.questions %}
                                                                <li data-id="{{ question.id }}"
                                                                    class="general-question-markdown">{{ question.title }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="panel-heading">
                                    <a class="accordion-toggle note note-info template-images" data-toggle="collapse"
                                       data-parent="#accordion-example"
                                       href="#collapseImage">
                                        Images
                                    </a>
                                </div>
                                <div id="collapseImage" class="panel-collapse">
                                    <div class="panel-body">
                                        <div class="ui-accordion">

                                            <div class="group">

                                                <div>
                                                    <section class="module-content1">
                                                        <form method="post" action="/kendo-ui/upload/submit">
                                                            <div class="demo-section k-content">
                                                                <input name="files" id="files" type="file"/>

                                                                <p style="padding-top: 1em; text-align: right">
                                                                    <input type="submit" value="Submit"
                                                                           class="k-button k-primary"/>
                                                                </p>
                                                            </div>
                                                        </form>
                                                    </section>
                                                    <div id="email-content-uploaded-image"></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img src="{% static 'public/images/712.GIF' %}" id="loader" alt=""/>
    <style>
        #loader {
            display: none;
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        .uploaded_image {
            width: 100px;
            height: auto;
        }
    </style>
    <script src="{% static 'assets/javascripts/message.js' %}"></script>
    <script src="{% static 'assets/javascripts/message/email_content.js' %}"></script>
{% endblock %}