{% load staticfiles %}
{#kendo scheduler#}
<script>kendo_load_status = true;</script>
<script src="https://kendo.cdn.telerik.com/2017.1.223/js/kendo.all.min.js"></script>
<link href="{% static 'assets/stylesheets/kendo.common-office365.min.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/stylesheets/kendo.office365.min.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/stylesheets/kendo.office365.mobile.min.css' %}" rel="stylesheet"/>
<script src="{% static 'public/js/kendo/kendo.timezones.min.js' %}"></script>
<script src="{% static 'public/js/session_scheduler.js' %}"></script>

<script src="{% static 'public/js/kendo.culture.sv-SE.js' %}"></script>
