{% load staticfiles %}
<link rel="stylesheet" href="{% static 'assets/stylesheets/codemirror/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'assets/stylesheets/codemirror/dialog.css' %}">
<link rel="stylesheet" href="{% static 'assets/stylesheets/codemirror/matchesonscrollbar.css' %}">

<script src="{% static 'assets/javascripts/codemirror/codemirror.js' %}"></script>
<script src="{% static 'assets/javascripts/codemirror/active-line.js' %}"></script>
<script src="{% static 'assets/javascripts/codemirror/dialog.js' %}"></script>
<script src="{% static 'assets/javascripts/codemirror/searchcursor.js' %}"></script>
<script src="{% static 'assets/javascripts/codemirror/search.js' %}"></script>
<script src="{% static 'assets/javascripts/codemirror/annotatescrollbar.js' %}"></script>
<script src="{% static 'assets/javascripts/codemirror/matchesonscrollbar.js' %}"></script>
<script src="{% static 'assets/javascripts/codemirror/jump-to-line.js' %}"></script>
<script src="{% static 'assets/javascripts/codemirror/matchbrackets.js' %}"></script>

<link href="{% static 'assets/stylesheets/froala_editor_2.8.1/froala_editor.pkgd.min.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/stylesheets/froala_editor_2.8.1/froala_style.min.css' %}" rel="stylesheet" type="text/css"/>
{#<style>#}
{#    iframe.fr-iframe{#}
{#        height: 100% !important;#}
{#    }#}
{#</style>#}