{% extends "layout/main.html" %}
{% block content %}
    {% load staticfiles %}
    <div id="content-wrapper">
        {% csrf_token %}
        <div class="panel colourable">
            <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-lg fa-filter"></i></i>
                &nbsp;&nbsp;&nbsp;<strong>Filters</strong></span>
                <span style="float:right"><img style="display:none" height="25px"
                                               src="{% static 'public/images/712.GIF' %}" id="loader" alt=""/>
                    <input type="text" name="search_key_filter"
                           id="search_key_filter"/></span>
            </div>
            <!-- / .panel-heading -->
            <div class="panel-body tab-content">
                <div class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-sm-6">
                            {% if request.session.admin_permission.content_permission.filter_permission and request.session.admin_permission.content_permission.filter_permission.access_level == 'write' or request.session.event_auth_user.type == 'super_admin' %}
                                <button type="button" id="btn-add-filter" class="btn btn-primary btn-lg"
                                        data-toggle="modal"
                                        data-target=""><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Add a Filter
                                </button>
                            {% endif %}
                        </div>
                    </div>
                    <br>

                    <div id="filters">
                        <div class="table-light">
                            {% for group in filterGroup %}
                                <div class="table-header" id="filter_group_{{ group.id }}">
                                    <div class="table-caption">
                                        {{ group.name|safe }}
                                    </div>
                                </div>
                                <table class="table table-bordered sortable data-table-filter">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Edit</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for filter in group.filters %}
                                        <tr>
                                            <td>{{ filter.id }}</td>
                                            <td>{{ filter.name }}</td>
                                            {% if request.session.admin_permission.content_permission.filter_permission and request.session.admin_permission.content_permission.filter_permission.access_level == 'write' or request.session.event_auth_user.type == 'super_admin' %}
                                                <td>
                                                    <button class="btn btn-xs btn-edit-filter" data-id="{{ filter.id }}"
                                                            data-toggle="tooltip"
                                                            data-placement="top" title=""
                                                            data-original-title="Edit"><i
                                                            class="dropdown-icon fa fa-cog"></i></button>
                                                    <button class="btn btn-xs btn-duplicate-filter"
                                                            data-id="{{ filter.id }}"
                                                            data-toggle="tooltip" data-placement="top" title=""
                                                            data-original-title="Duplicate"><i
                                                            class="dropdown-icon fa fa-files-o"></i>
                                                    </button>
                                                    <button class="btn btn-xs btn-danger btn-delete-filter"
                                                            data-id="{{ filter.id }}" data-toggle="tooltip"
                                                            data-placement="top"
                                                            title="" data-original-title="Delete"><i
                                                            class="dropdown-icon fa fa-times-circle"></i></button>
                                                </td>
                                            {% else %}
                                                <td style="text-align: center;">
                                                    <button class="btn btn-xs btn-view-filter" data-id="{{ filter.id }}"
                                                            data-toggle="tooltip"
                                                            data-placement="top" title=""
                                                            data-original-title="View"><i
                                                            class="dropdown-icon fa fa-search-plus"></i></button>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <!-- / .modal -->
        <!-- / Large modal -->
    </div>
    </div>
    <!-- / #content-wrapper -->
{% endblock %}