{% load i18n %}
<div class="section">
    <div class="form-plugin element form-plugin-messages">
        <div class="form-plugin-intro">
            {{ language.langkey.archive_message_txt_intro|safe }}
        </div>
        <div class="form-plugin-list">
            {% if archived_messages %}
                {% for notification in archived_messages %}
                    <div class="form-plugin-item">
                        {% if notification.type == "attendee" %}
                            <div class="form-plugin-item-actions"></div>
                            <h3 class="form-plugin-title">{{ notification.sender_attendee.firstname }} {{ notification.sender_attendee.lastname }}</h3>
                            <span class="form-plugin-title-date">{% language language.lang_preset.language_code %}{{ notification.created_at|date:language.lang_preset.datetime_format }}{% endlanguage %}</span>
                            <p>{{ notification.message | safe | linebreaks }}</p>
                        {% else %}
                            <div class="form-plugin-item-actions"></div>
                            <h3 class="form-plugin-title">{{ language.langkey.archive_message_txt_organizer }}</h3>
                            <span class="form-plugin-title-date">{% language language.lang_preset.language_code %}{{ notification.created_at|date:language.lang_preset.datetime_format }}{% endlanguage %}</span>
                            <p>{{ notification.message | safe | linebreaks }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="placeholder empty">{{ language.langkey.archive_message_txt_empty }}</div>
            {% endif %}
        </div>
    </div>
</div>