{% extends "public/layout/layout.html" %}
{% block content %}
    {% load staticfiles %}
    <div class="wrapper">
        <div class="container padding mainContent">
            <div class="row gutters">
                <div class="col span_12 bioHeadline">
                    {% if attendee.avatar == '' %}
                        <img id=""
                             src="{% static 'public/images/user_no_image.png' %}"/>
                    {% else %}
                        <img id=""
                             src="{% static attendee.avatar %}"/>
                    {% endif %}

                    <h1>{{ attendee.firstname }} {{ attendee.lastname }}</h1>
                </div>
            </div>
            <div class="row gutters">
                <div class="col span_6">
                    <h2 class="color3">Bio</h2>
                    <p>{{ attendee.bio|safe }}</p>
                </div>
            </div>
            <!-- mainContent -->
        </div>
    </div>
    <!--wrapper-->
{% endblock %}