{#{% extends "public/layout/layout.html" %}#}
{#{% block content %}#}
{#    <div class="wrapper">#}
{#        {% csrf_token %}#}
{#        <div class="container padding mainContent">#}
{#            <h1>Login!</h1>#}
{#            <form>#}
{##}
{#                <div class="row gutters">#}
{#                    <div class="col span_6 formQuestion default" id="attendee4" data-not-attending="yes"#}
{#                         data-id="{{ questions.email }}"#}
{#                         data-req="1">#}
{#                        <label for="default-king-email">King email<span>@king.com</span></label>#}
{#                        <input type="text" id="default-king-email" class="given-answer" value="">#}
{#                        <div class="errorValidating">Please enter your King email address</div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="row gutters">#}
{#                    <div class="col span_6 formQuestion default" id="attendee5" data-not-attending="yes"#}
{#                         data-id="{{ questions.password }}"#}
{#                         data-req="1">#}
{#                        <label for="default-king-password">Password</label>#}
{#                        <input type="password" id="default-king-password" class="given-answer">#}
{#                        <div class="errorValidating">Please enter your King password</div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="row gutters">#}
{#                    <div class="col span_12" id="login_button">#}
{##}
{#                        <button class="button round color2" id="btn-login-attendee">Login</button>#}
{##}
{#                    </div>#}
{#                </div>#}
{##}
{#            </form>#}
{##}
{#            <!-- PAGE SPECIFIC SCRIPTS -->#}
{##}
{#        </div>#}
{#    </div>#}
{##}
{#    <script>#}
{##}
{#        $(document).ready(function () {#}
{##}
{#            $("#btn-login-attendee").click(function () {#}
{#                var data = {#}
{#                    email: $('#default-king-email').val(),#}
{#                    password: $('#default-king-password').val(),#}
{#                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()#}
{#                };#}
{##}
{#                if (!(data.email.trim().length > 0 && data.password.trim().length > 0)) {#}
{#                    $.growl.error({message: "Fields are not filled."});#}
{#                    return false;#}
{#                }#}
{#                $('#registration-loader').show();#}
{#                $.ajax({#}
{#                    url: base_url + '/login/',#}
{#                    type: "POST",#}
{#                    data: data,#}
{#                    success: function (result) {#}
{#                        $('#registration-loader').hide();#}
{#                        if (typeof result.key == 'undefined')#}
{#                            $.growl.error({message: result.error});#}
{#                        else {#}
{#                            window.location.href = base_url;#}
{#                        }#}
{#                    }#}
{#                });#}
{#                return false;#}
{#            });#}
{#        });#}
{##}
{#    </script>#}
{##}
{##}
{#    {% load staticfiles %}#}
{#    <img src="{% static 'public/images/712.GIF' %}" id="registration-loader" class='loader' alt=""/>#}
{#    <script src="{% static 'public/js/moment.min.js' %}"></script>#}
{#    <script src="{% static 'public/js/moment-with-locales.js' %}"></script>#}
{#    <script src="{% static 'public/js/moment-timezone-with-data-2010-2020.js' %}"></script>#}
{#{% endblock %}#}


{{ content|safe }}