<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h4 class="modal-title">Pending</h4>
        </div>
        <div class="modal-body" style="overflow-x: auto;">
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-light">
                        <div class="table-header">
                            <div class="table-caption">
                                {{ session.name }}
                            </div>
                        </div>
                        <table class="table table-bordered sortable ui-sortable" id="edit-session-deciding"
                               data-id="{{ session.id }}">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Started Deciding</th>
                                {% for column in visible_columns_info %}
                                    <th>{{ column }}</th>
                                {% endfor %}
                                <th>Time left to decide</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for seminar_user in attendee_deciding %}
                                <tr class="userInfo" data-id="{{ seminar_user.attendee_id }}">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{% if seminar_user.created %}
                                        {{ seminar_user.created|date:'H:i d-m-Y' }}{% endif %}</td>
                                    {% for answer in seminar_user.question_answers %}
                                        <td>{{ answer.answer }}</td>

                                    {% endfor %}
                                    <td>{{ seminar_user.hours }} Hours, {{ seminar_user.minutes }} Min</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- / .modal-content -->
    </div>
    <!-- / .modal-dialog -->
</div>
<!-- / .modal -->
<!-- / Large modal -->