{% load staticfiles %}
{% csrf_token %}
{% if request.session.event_auth_user.event_id == 10 %}
    <link href="{% static 'assets/stylesheets/elements_style.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/stylesheets/page_gt_style.css' %}" rel="stylesheet" type="text/css"/>
{% else %}
    {#<link href="{% static 'assets/stylesheets/elements_style.css' %}" rel="stylesheet" type="text/css"/>#}
    <link href="{% static 'assets/stylesheets/page_style.css' %}" rel="stylesheet" type="text/css"/>
{% endif %}
<link href="{% static 'assets/stylesheets/elements_style2.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/stylesheets/page_edit.css' %}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{#<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet"/>#}
<link href="{% static 'assets/stylesheets/pixel-admin.min.css' %}" rel="stylesheet" type="text/css">
{#<link href="{% static 'assets/stylesheets/select2.min.css' %}" rel="stylesheet" type="text/css">#}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
{#<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>#}
<script type="text/javascript" src="//code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
<script src="{% static 'assets/markdown/markdown-it.js' %}"></script>
<script src="{% static 'assets/markdown/to-markdown.js' %}"></script>
<script src="{% static 'assets/markdown/markdown-it-footnote.js' %}"></script>
<script src="{% static 'assets/markdown/highlight.pack.js' %}"></script>
<script src="{% static 'assets/markdown/emojify.js' %}"></script>
<script src="{% static 'assets/markdown/codemirror/lib/codemirror.js' %}"></script>
<script src="{% static 'assets/markdown/codemirror/overlay.js' %}"></script>
<script src="{% static 'assets/markdown/codemirror/xml/xml.js' %}"></script>
<script src="{% static 'assets/markdown/codemirror/markdown/markdown.js' %}"></script>
<script src="{% static 'assets/markdown/codemirror/gfm/gfm.js' %}"></script>
<script src="{% static 'assets/markdown/codemirror/javascript/javascript.js' %}"></script>
<script src="{% static 'assets/markdown/codemirror/css/css.js' %}"></script>
<script src="{% static 'assets/markdown/codemirror/htmlmixed/htmlmixed.js' %}"></script>
<script src="{% static 'assets/markdown/codemirror/lib/util/continuelist.js' %}"></script>
<script src="{% static 'assets/markdown/rawinflate.js' %}"></script>
<script src="{% static 'assets/markdown/rawdeflate.js' %}"></script>
<script src="{% static 'assets/javascripts/jquery.growl.js' %}"></script>

<link href="{% static 'assets/markdown/base16-light.css' %}" media="all" rel="stylesheet">
<link href="{% static 'assets/stylesheets/jquery.growl.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/markdown/codemirror/lib/codemirror.css' %}" media="all" rel="stylesheet">
<link href="{% static 'assets/markdown/default.css' %}" media="all" rel="stylesheet">


<script src="{% static 'assets/javascripts/respond.min.js' %}"></script>
<script src="{% static 'assets/javascripts/content.js' %}"></script>
{#<script src="{% static 'assets/javascripts/bootstrap.min.js' %}"></script>#}
<script src="{% static 'assets/javascripts/pixel-admin-select2.js' %}"></script>
{#<script src="{% static 'assets/javascripts/bootstrap-select.min.js' %}"></script>#}
{#<script src="{% static 'assets/javascripts/select2.min.js' %}"></script>#}
{#<script src="{% static 'assets/javascripts/ghostdown.js' %}"></script>#}
{#<link href="{% static 'assets/stylesheets/ghostdown.css' %}" media="all" rel="stylesheet">#}

{#kendo ui#}

<link href="{% static 'assets/stylesheets/kendo/kendo.common.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/stylesheets/kendo/kendo.default.min.css' %}" rel="stylesheet" type="text/css"/>

<script src="{% static 'assets/javascripts/kendo/kendo.all.min.js' %}"></script>

{#kendo ui end#}


<style>

    .width-sorter {
        width: 6.333333% !important;
    }

    .ui-accordion-header, .ui-accordion-header > span {
        color: #FF6A00;
    }

    .CodeMirror {
        border: 1px solid #ddd;
        font-size: 12px;
        height: 100px
    }

    .CodeMirror-scroll {
        height: 20% !important;
        width: 100% !important;
    }

    .select2-results .select2-highlighted {
        background: #1d89cf;
    }


</style>
<input type="hidden" id="fliter-data" value="{{ static_page.filter }}">

<div id="hidden_question_item" style="display: none;">
    <div class="form-group prerequisite-item">
        <div class="col-sm-12 form-inline">
            <button type="button" class="btn btn-add-pre-filter"><span
                    class="icon fa fa-plus"></span></button>
            <button type="button" class="btn btn-delete-pre-filter"><span
                    class="icon fa fa-minus"></span></button>
            <select class="form-control prerequisite-question">

            </select>
            is
            <select class="form-control prerequisite-option">
            </select>
        </div>
    </div>
</div>
<section id="admin">
    {#<div class="floatingToolBox" id="prerequisite-popup"#}
    <div class="left-menu" id="prerequisite-popup"
         style="overflow-y: auto;z-index: 9999">
        <div class="close-button"></div>
        {#        <div class="floatingToolBoxTitleRow">Add Prerequisite Filter#}
        {#            <div class="floatingToolBoxClose"><i class="fa fa-times-circle"></i></div>#}
        {#        </div>#}
        <legend>Add Prerequisite Filter</legend>
        <div class="toolBoxContent">
            <section class="editor" style="border: 1px solid #00b67d;">
                <div class="form-group filter-nested-rule-form-group">
                    <select class="form-control prerequisite-status">#}
                        <option value="1">Show</option>
                        <option value="0">Hide</option>
                    </select>
                    this Question when
                    <select class="form-control any-or-all">
                        <option value="1">Any</option>
                        <option value="2">All</option>
                    </select>
                    of the following rules are true
                    <button style="float: right;" class="btn float-right btn-add-nested-rule" data-toggle="tooltip"
                            data-placement="bottom" title=""
                            data-original-title="Rules can be nested inside other rules to convey a more complex logical structure">
                        <span class="icon fa fa-plus"></span> &nbsp;Add
                    </button>
                </div>

                <div class="outer">
                </div>
                <button id="btn-prerequisite-filter">Save</button>
            </section>
        </div>
    </div>

    <div class="floatingToolBox" id="addContent">
        {#    <div class="left-menu" id="addContent" style="z-index: 9999">#}
        <div class="floatingToolBoxTitleRow">Add Content
            <div class="floatingToolBoxClose"><i class="fa fa-times-circle"></i></div>
        </div>

        <div class="toolBoxContent">
            <section class="editor">
                <div class="outer">
                    <div class="editorwrap">
                        {% include 'page/markdown.html' %}
                    </div>
                </div>
            </section>
        </div>
    </div>

    {#    <div class="floatingToolBox" id="addQuestion" style="max-height: 500px !important;overflow-y: auto;max-width:400px;">#}
    <div class="left-menu" id="addQuestion"
         style="max-height: 500px !important;overflow-y: auto;max-width:400px;z-index: 9999">
        <div class="close-button"></div>
        {#        <div class="floatingToolBoxTitleRow">Add Question#}
        {#            <div class="floatingToolBoxClose"><i class="fa fa-times-circle"></i></div>#}
        {#        </div>#}
        <legend>Add Question</legend>

        <div class="toolBoxContent">
            <section class="editor">
                <div class="outer">
                    <div class="editorwrap">
                        <section class="question-content">

                            <div id="ui-accordion">
                                <div class="group">
                                    <h3>General</h3>

                                    <div>
                                        <ul>
                                            <li data-id="uid_link" class="general-markdown">UID Link</li>
                                            <li data-id="first_name" class="general-markdown">First Name</li>
                                            <li data-id="last_name" class="general-markdown">Last Name</li>
                                            <li data-id="email_address" class="general-markdown">Email Address</li>
                                            <li data-id="registration_date" class="general-markdown">Registration Date
                                            </li>
                                            <li data-id="updated_date" class="general-markdown">Last Updated Date</li>
                                            <li data-id="attendee_groups" class="general-markdown">Attendee Groups</li>
                                            <li data-id="tags" class="general-markdown">Tags</li>
                                            <li data-id="secret_key" class="general-markdown">Secret key</li>
                                            <li data-id="calendar" class="general-markdown">Calendar</li>
                                        </ul>
                                    </div>
                                </div>
                                {% for group in questionGroup %}
                                    <div class="group">
                                        <h3>{{ group.name|safe }}</h3>

                                        <div>
                                            <ul>
                                                {% for question in group.questions %}
                                                    <li data-id="{{ question.id }}"
                                                        class="question-markdown">{{ question.title }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div> <!-- / .group -->
                                {% endfor %}
                                {#                            <ul>#}
                                {#                                <li class="general-markdown">Calendar</li>#}
                                {#                            </ul>#}

                            </div>
                            <!-- / #ui-accordion -->

                        </section>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- Module pop up Start -->
    {#    <div class="floatingToolBox" id="addModuleComponent" style="max-height: 500px !important;overflow-y: auto;max-width:400px;">#}
    <div class="left-menu" id="addModuleComponent"
         style="max-height: 500px !important;overflow-y: auto;max-width:400px;z-index: 9999;">
        {#        <div class="floatingToolBoxTitleRow">Add Module#}
        {#            <div class="floatingToolBoxClose"><i class="fa fa-times-circle"></i></div>#}
        {#        </div>#}
        <div class="close-button"></div>
        <legend>Add Module</legend>

        <div class="toolBoxContent">
            <section class="editor">
                <div class="outer">
                    <div class="editorwrap">
                        <section class="module-content">
                            <ul>
                                {% for module in modules %}
                                    <li data-id="{{ module.id }}" class="module-markdown">{{ module.name|title }}</li>
                                {% endfor %}
                            </ul>
                        </section>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Module pop up End -->

    <!-- Module pop up upload -->
    {#    <div class="floatingToolBox" id="upload-pop-up" style="max-height: 500px !important;overflow-y: auto;max-width:400px;">#}
    <div class="left-menu" id="upload-pop-up"
         style="max-height: 500px !important;overflow-y: auto;max-width:400px;z-index: 9999">
        {#        <div class="floatingToolBoxTitleRow">Upload Picture(s)#}
        {#            <div class="floatingToolBoxClose"><i class="fa fa-times-circle"></i></div>#}
        {#        </div>#}
        <div class="close-button"></div>
        <legend>Upload Picture(s)</legend>
        <div class="toolBoxContent">
            <section class="editor">
                <div class="outer">
                    <div class="editorwrap">
                        <section class="module-content1">
                            <form method="post" action="/kendo-ui/upload/submit">
                                <div class="demo-section k-content">
                                    <input name="files" id="files" type="file"/>
                                    <p style="padding-top: 1em; text-align: right">
                                        <input type="submit" value="Submit" class="k-button k-primary"/>
                                    </p>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
            </section>
        </div>
    </div>


    <!-- Module images -->
    {#    <div class="floatingToolBox" id="image-pop-up" style="max-height: 500px !important;overflow-y: auto;max-width:600px;min-height: 200px;">#}
    <div class="left-menu" id="image-pop-up"
         style="max-height: 500px !important;overflow-y: auto;max-width:600px;min-height: 200px;z-index: 9999">
        {#        <div class="floatingToolBoxTitleRow">Uploaded Pictures#}
        {#            <div class="floatingToolBoxClose"><i class="fa fa-times-circle"></i></div>#}
        {#        </div>#}
        <div class="close-button"></div>
        <legend>Uploaded Pictures</legend>
        <div class="toolBoxContent">
            <section class="editor">
                <div class="outer">
                    <div class="editorwrap">
                        <section class="module-content2" id="uploaded-image-container">

                        </section>
                    </div>
                </div>
            </section>
        </div>
    </div>
    {#<div class="floatingToolBox" id="addColumns">#}
    <div class="left-menu" id="addColumns" style="z-index: 9999;">
        {#    <div class="floatingToolBoxTitleRow">Add Columns#}
        {#        <div class="floatingToolBoxClose"><i class="fa fa-times-circle"></i></div>#}
        {#    </div>#}
        <div class="close-button"></div>
        <legend>Add Columns</legend>
        <div class="toolBoxContent">
            <label>Predefined:</label>
            <img class="addColPreDefined" alt="12" data-cols="12"
                 src="{% static 'assets/images/editPage/admin/col12.svg' %}">
            <img class="addColPreDefined" alt="6 + 6" data-cols="6+6"
                 src="{% static 'assets/images/editPage/admin/col6-6.svg' %}">
            <img class="addColPreDefined" alt="4 + 4 + 4" data-cols="4+4+4"
                 src="{% static 'assets/images/editPage/admin/col4-4-4.svg' %}">
            <img class="addColPreDefined" alt="3 + 3 + 3 + 3" data-cols="3+3+3+3"
                 src="{% static 'assets/images/editPage/admin/col3-3-3-3.svg' %}">
            <img class="addColPreDefined" alt="5 + 7" data-cols="5+7"
                 src="{% static 'assets/images/editPage/admin/col5-7.svg' %}">
            <img class="addColPreDefined" alt="7 + 5" data-cols="7+5"
                 src="{% static 'assets/images/editPage/admin/col7-5.svg' %}">
            <img class="addColPreDefined" alt="4 + 8" data-cols="4+8"
                 src="{% static 'assets/images/editPage/admin/col4-8.svg' %}">
            <img class="addColPreDefined" alt="8 + 4" data-cols="8+4"
                 src="{% static 'assets/images/editPage/admin/col8-4.svg' %}">
            <label>Custom:</label>

            <div id="toolBoxCol">
                Add
                <select id="addColValue">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                column(s) to row
                <input type="button" id="addCol" value="Add"/><br/>
                <label>Result:</label>
            </div>
            <div id="currentCol">
                <div class="addCol" data-colWidth="6">6<i class="delete fa fa-trash"></i>
                </div>
                <div class="addCol" data-colWidth="6">6<i class="delete fa fa-trash"></i>
                </div>
            </div>
            <div class="clear"></div>
            <label>Options:</label>
            Row
            <select id="rowHasGutters">
                <option value="gutter">has</option>
                <option value="">has no</option>
            </select>
            gutters
            <input type="button" id="addColToPage" value="Add to page"/>
        </div>

    </div>
    {#<div class="floatingToolBox" id="element-setting-toolbox" style="overflow-y: auto;max-width:400px;max-height: 500px">#}
    <div class="left-menu" id="element-setting-toolbox"
         style="overflow-y: auto;max-width:400px;max-height: 500px;z-index: 9999;">
        {#        <div class="floatingToolBoxTitleRow">Elements Settings#}
        {#            <div class="floatingToolBoxClose"><i class="fa fa-times-circle"></i></div>#}
        {#        </div>#}
        <div class="close-button"></div>
        <legend>Elements Settings</legend>
        <div class="toolBoxContent">
        </div>
        <button class="save-element-settings">Save</button>
    </div>
    <div class="left-menu" id="custom-class"
         style="overflow-y: auto;z-index: 9999">
        <div class="close-button"></div>
        {#        <div class="floatingToolBoxTitleRow">Add Prerequisite Filter#}
        {#            <div class="floatingToolBoxClose"><i class="fa fa-times-circle"></i></div>#}
        {#        </div>#}
        <legend>Custom Classes:</legend>
        <div class="toolBoxContent">
            <section class="editor" style="border: 1px solid #00b67d;">
                <div class="form-group">
                    <a href="#" class="add-cms-custom-class" data-type="select2"
                       data-pk="1"
                       data-title="Enter tags"></a>
                    {#                    <select class="add-cms-custom-class" multiple="multiple">#}
                    {#                        </select>#}
                </div>
                <button id="add-custom-class">Add</button>
            </section>
        </div>
    </div>
</section>

<div id="filter-nested-html" style="display: none;">
    <div class="questions-list">
        <div class="form-group filter-nested-rule-form-group">
            <select class="form-control any-or-all">
                <option value="1">Any</option>
                <option value="2">All</option>
            </select>
            of the following are true
        </div>
        <div class="outer">

        </div>
    </div>
</div>


<div id="updated-filter" style="display: none;"></div>

<div class="wrapper">
    <div class="container padding mainContent" id="mainContent">
        {#        dynamic contents goes here#}
    </div>
    <div id="hidden-content" style="display: none;" {% if content %} data-content="update" {% endif %}>
        {% if content %}
            {{ content|safe }}
        {% endif %}
    </div>
    <!-- mainContent -->

</div><!--wrapper-->

<div class="wrapper footer">
    <div class="wrapper">
        <div class="container">
            {% if request.session.event_auth_user.event_id == 11 %}
                <div class="row gutters half">
                    <div class="col span_6">
                        &nbsp;
                    </div>
                    <!--col-->
                    <div class="col span_6" style="text-align: right;">
                        <img src="{% static 'assets/images/editPage/seriously_playful.png' %}"
                             style="max-width:20em!important;">
                    </div>
                    <!--col-->
                </div>
            {% endif %}
            <!--row-->
        </div>
    </div>
</div>


{#<div class="wrapper footer">#}
{#    <div class="wrapper">#}
{#        <div class="container">#}
{#            {% if request.session.event_auth_user.event_id == 11 %}#}
{#                <div class="row gutters half">#}
{#                    <div class="col span_6">#}
{#                        &nbsp;#}
{#                    </div>#}
{#                    <!--col-->#}
{#                    <div class="col span_6" style="text-align: right;">#}
{#                        <img src="{% static 'assets/images/editPage/seriously_playful.png' %}"#}
{#                             style="max-width:20em!important;">#}
{#                    </div>#}
{#                    <!--col-->#}
{#                </div>#}
{#            {% endif %}#}
{#            <!--row-->#}
{#        </div>#}
{#    </div>#}
{#</div>#}


<!-- Module pop up upload end -->
<div class="floatingToolBox" id="tools">
    <div class="floatingToolBoxTitleRow">ToolBox</div>
    <div class="toolBoxContent">
        <ul class="toolBoxButtons">
            <li id="editForm" class="active"><i class="fa fa-pencil fa-2x"></i></li>
        </ul>
        <ul class="toolBoxButtons tools">
            <li class="" id="addColumnsButton"><i class="fa fa-columns fa-lg"></i></li>
            <li class="" id="addContentButton"><i class="fa fa-font fa-lg"></i></li>
            <li class="" id="addQuestionButton"><i class="fa fa-question-circle fa-lg"></i></li>
            <li class="" id="addModuleButton"><i class="fa fa-cog fa-lg"></i></li>
            <li class="" id="btn-show-upload"><i class="fa fa-upload fa-lg"></i></li>
            <li class="" id="btn-show-images"><i class="fa fa-picture-o fa-lg"></i></li>
        </ul>
    </div>
</div>

{% include 'page/plugins.html' %}
<!-- SITE SPECIFIC SCRIPTS -->
<script src="{% static 'assets/javascripts/jPushMenu.js' %}"></script>
<script src="//cdn.jsdelivr.net/clipboard.js/1.5.8/clipboard.min.js"></script>
<script src="{% static 'assets/javascripts/cms.js' %}"></script>
<script type="text/javascript">
    var URL = window.URL || window.webkitURL || window.mozURL || window.msURL;
    navigator.saveBlob = navigator.saveBlob || navigator.msSaveBlob || navigator.mozSaveBlob || navigator.webkitSaveBlob;
    window.saveAs = window.saveAs || window.webkitSaveAs || window.mozSaveAs || window.msSaveAs;

    // Because highlight.js is a bit awkward at times
    var languageOverrides = {
        js: 'javascript',
        html: 'xml'
    };

    emojify.setConfig({img_dir: 'emoji'});

    var md = markdownit({
        html: true,
        highlight: function (code, lang) {
            if (languageOverrides[lang]) lang = languageOverrides[lang];
            if (lang && hljs.getLanguage(lang)) {
                try {
                    return hljs.highlight(lang, code).value;
                } catch (e) {
                }
            }
            return '';
        }
    })
            .use(markdownitFootnote);


    var hashto;

    function update(e) {
        setOutput(e.getValue());

        clearTimeout(hashto);
        hashto = setTimeout(updateHash, 1000);
    }

    function setOutput(val) {
        val = val.replace(/<equation>((.*?\n)*?.*?)<\/equation>/ig, function (a, b) {
            return '<img src="http://latex.codecogs.com/png.latex?' + encodeURIComponent(b) + '" />';
        });

        var out = document.getElementById('out');
        var old = out.cloneNode(true);
        out.innerHTML = md.render(val);
        emojify.run(out);

        var allold = old.getElementsByTagName("*");
        if (allold === undefined) return;

        var allnew = out.getElementsByTagName("*");
        if (allnew === undefined) return;

        for (var i = 0, max = Math.min(allold.length, allnew.length); i < max; i++) {
            if (!allold[i].isEqualNode(allnew[i])) {
                out.scrollTop = allnew[i].offsetTop;
                return;
            }
        }
    }

    var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
        mode: 'gfm',
        lineNumbers: false,
        matchBrackets: true,
        lineWrapping: true,
        theme: 'base16-light',
        extraKeys: {"Enter": "newlineAndIndentContinueMarkdownList"}
    });

    editor.on('change', update);


    document.addEventListener('drop', function (e) {
        e.preventDefault();
        e.stopPropagation();

        var reader = new FileReader();
        reader.onload = function (e) {
            editor.setValue(e.target.result);
        };

        reader.readAsText(e.dataTransfer.files[0]);
    }, false);


    function saveAsMarkdown() {
        save(editor.getValue(), "untitled.md");
    }

    function saveAsHtml() {
        save(document.getElementById('out').innerHTML, "untitled.html");
    }

    document.getElementById('saveas-markdown').addEventListener('click', function () {
        saveAsMarkdown();
        hideMenu();
    });

    document.getElementById('saveas-html').addEventListener('click', function () {
        saveAsHtml();
        hideMenu();
    });

    function save(code, name) {
        var blob = new Blob([code], {type: 'text/plain'});
        if (window.saveAs) {
            window.saveAs(blob, name);
        } else if (navigator.saveBlob) {
            navigator.saveBlob(blob, name);
        } else {
            url = URL.createObjectURL(blob);
            var link = document.createElement("a");
            link.setAttribute("href", url);
            link.setAttribute("download", name);
            var event = document.createEvent('MouseEvents');
            event.initMouseEvent('click', true, true, window, 1, 0, 0, 0, 0, false, false, false, false, 0, null);
            link.dispatchEvent(event);
        }
    }


    var menuVisible = false;
    var menu = document.getElementById('menu');

    function showMenu() {
        menuVisible = true;
        menu.style.display = 'block';
    }

    function hideMenu() {
        menuVisible = false;
        menu.style.display = 'none';
    }

    document.getElementById('close-menu').addEventListener('click', function () {
        hideMenu();
    });


    document.addEventListener('keydown', function (e) {
        if (e.keyCode == 83 && (e.ctrlKey || e.metaKey)) {
            e.shiftKey ? showMenu() : saveAsMarkdown();

            e.preventDefault();
            return false;
        }

        if (e.keyCode === 27 && menuVisible) {
            hideMenu();

            e.preventDefault();
            return false;
        }
    });


    function updateHash() {
        {#        console.log(editor.getValue());#}
        {#              window.location.hash = btoa( // base64 so url-safe#}
        {#                RawDeflate.deflate( // gzip#}
        {#                  unescape(encodeURIComponent( // convert to utf8#}
        {#                    editor.getValue()#}
        {#                  ))#}
        {#                )#}
        {#              );#}
    }

    if (window.location.hash) {
        var h = window.location.hash.replace(/^#/, '');
        if (h.slice(0, 5) == 'view:') {
            setOutput(decodeURIComponent(escape(RawDeflate.inflate(atob(h.slice(5))))));
            document.body.className = 'view';
        } else {
            editor.setValue(
                    decodeURIComponent(escape(
                            RawDeflate.inflate(
                                    atob(
                                            h
                                    )
                            )
                    ))
            );
            update(editor);
            editor.focus();
        }
    } else {
        update(editor);
        editor.focus();
    }


</script>


<style>
    .uploaded_image {
        width: 100px;
        height: auto;
    }
</style>

