{% include 'page/cms_page_head.html' %}
<div id="hidden-content" style="display: none;" {% if content %} data-content="update" {% endif %}>
    {% if content %}
        {{ content|safe }}
    {% endif %}
</div>
<div id="content_data" class="ui-sortable">

</div>
<input type="hidden" id="current-editor-box" value="">
<input type="hidden" id="question-tree" value="{{ question_groups_json }}">
<input type="hidden" id="plugin-tree" value="{{ plugins }}">
<input type="hidden" id="filter-tree" value="{{ filter_groups }}">
<input type="hidden" id="fliter-data" value="{{ static_page.filter }}">
<input type="hidden" id="element-settings-data" value="{{ element_settings }}">
<input type="hidden" id="page-class-list" value="{{ class_list }}">
<input type="hidden" id="static-url" value="{{ static_url }}">
<div id="file-tree" hidden>{{ filelist }}</div>

{% include 'page/cms_admin_menu.html' %}
{% include 'page/plugins_settings.html' %}
<div id="all-plugins">
    {% include 'page/plugins.html' %}
</div>

<!-- JSCRIPTS BELOW -->
<script type="text/javascript">
    var URL = window.URL || window.webkitURL || window.mozURL || window.msURL;
    navigator.saveBlob = navigator.saveBlob || navigator.msSaveBlob || navigator.mozSaveBlob || navigator.webkitSaveBlob;
    window.saveAs = window.saveAs || window.webkitSaveAs || window.mozSaveAs || window.msSaveAs;

    // Because highlight.js is a bit awkward at times
    var languageOverrides = {
        js: 'javascript',
        html: 'xml'
    };

    emojify.setConfig({img_dir: 'emoji'});

    var md = markdownit({
        html: true,
        highlight: function (code, lang) {
            if (languageOverrides[lang]) lang = languageOverrides[lang];
            if (lang && hljs.getLanguage(lang)) {
                try {
                    return hljs.highlight(lang, code).value;
                } catch (e) {
                }
            }
            return '';
        }
    })
            .use(markdownitFootnote);


    var hashto;

    function update(e) {
        setOutput(e.getValue());

        clearTimeout(hashto);
        hashto = setTimeout(updateHash, 1000);
    }

    function setOutput(val) {
        val = val.replace(/<equation>((.*?\n)*?.*?)<\/equation>/ig, function (a, b) {
            return '<img src="http://latex.codecogs.com/png.latex?' + encodeURIComponent(b) + '" />';
        });

        var out = document.getElementById('out');
        var old = out.cloneNode(true);
        out.innerHTML = md.render(val);
        emojify.run(out);

        var allold = old.getElementsByTagName("*");
        if (allold === undefined) return;

        var allnew = out.getElementsByTagName("*");
        if (allnew === undefined) return;

        for (var i = 0, max = Math.min(allold.length, allnew.length); i < max; i++) {
            if (!allold[i].isEqualNode(allnew[i])) {
                out.scrollTop = allnew[i].offsetTop;
                return;
            }
        }
    }

    var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
        mode: 'gfm',
        lineNumbers: false,
        matchBrackets: true,
        lineWrapping: true,
        theme: 'base16-light',
        extraKeys: {"Enter": "newlineAndIndentContinueMarkdownList"}
    });
    {#    editor.display.wrapper.style.fontSize = "1.2em";#}

    editor.on('change', function () {
        update(editor);
        updateData(editor);
    });
    function updateData() {
        clog("ok");
        var editor_box = $('#current-editor-box').val();
        if ($.trim(editor_box) != "") {
            clog(editor_box);
            clog($('#content_data').find('#' + editor_box).html());
            $('#content_data').find('#' + editor_box).html(element_toolbox + $('#out').html());
            clog(element_toolbox + $('#out').html());
            {#            $('#' + editor_box).html(element_toolbox + editor.getValue());#}
        }
    }


    {#    document.addEventListener('drop', function (e) {#}
    {#        e.preventDefault();#}
    {#        e.stopPropagation();#}
    {##}
    {#        var reader = new FileReader();#}
    {#        reader.onload = function (e) {#}
    {#            editor.setValue(e.target.result);#}
    {#        };#}
    {##}
    {#        reader.readAsText(e.dataTransfer.files[0]);#}
    {#    }, false);#}


    function saveAsMarkdown() {
        save(editor.getValue(), "untitled.md");
    }

    function saveAsHtml() {
        save(document.getElementById('out').innerHTML, "untitled.html");
    }

    {#    document.getElementById('saveas-markdown').addEventListener('click', function () {#}
    {#        saveAsMarkdown();#}
    {#        hideMenu();#}
    {#    });#}
    {##}
    {#    document.getElementById('saveas-html').addEventListener('click', function () {#}
    {#        saveAsHtml();#}
    {#        hideMenu();#}
    {#    });#}

    function save(code, name) {
        var blob = new Blob([code], {type: 'text/plain'});
        if (window.saveAs) {
            window.saveAs(blob, name);
        } else if (navigator.saveBlob) {
            navigator.saveBlob(blob, name);
        } else {
            url = URL.createObjectURL(blob);
            var link = document.createElement("a");
            link.setAttribute("href", url);
            link.setAttribute("download", name);
            var event = document.createEvent('MouseEvents');
            event.initMouseEvent('click', true, true, window, 1, 0, 0, 0, 0, false, false, false, false, 0, null);
            link.dispatchEvent(event);
        }
    }


    var menuVisible = false;
    var menu = document.getElementById('menu');

    function showMenu() {
        menuVisible = true;
        menu.style.display = 'block';
    }

    function hideMenu() {
        menuVisible = false;
        menu.style.display = 'none';
    }

    {#    document.getElementById('close-menu').addEventListener('click', function () {#}
    {#        hideMenu();#}
    {#    });#}


    document.addEventListener('keydown', function (e) {
        if (e.keyCode == 83 && (e.ctrlKey || e.metaKey)) {
            {#            e.shiftKey ? showMenu() : saveAsMarkdown();#}
            saveOrUpdate();

            e.preventDefault();
            return false;
        }

        {#        if (e.keyCode === 27 && menuVisible) {#}
        {#            hideMenu();#}
        {##}
        {#            e.preventDefault();#}
        {#            return false;#}
        {#        }#}
    });


    function updateHash() {
        {#        clog(editor.getValue());#}
        {#        window.location.hash = btoa( // base64 so url-safe#}
        {#                RawDeflate.deflate( // gzip#}
        {#                        unescape(encodeURIComponent( // convert to utf8#}
        {#                                editor.getValue()#}
        {#                        ))#}
        {#                )#}
        {#        );#}
    }

    if (window.location.hash) {
        var h = window.location.hash.replace(/^#/, '');
        if (h.slice(0, 5) == 'view:') {
            setOutput(decodeURIComponent(escape(RawDeflate.inflate(atob(h.slice(5))))));
            document.body.className = 'view';
        } else {
            editor.setValue(
                    decodeURIComponent(escape(
                            RawDeflate.inflate(
                                    atob(
                                            h
                                    )
                            )
                    ))
            );
            update(editor);
            updateData(editor);
            editor.focus();
        }
    } else {
        update(editor);
        updateData(editor);
        editor.focus();
    }


</script>

<script id="confirmationTemplate" type="text/x-kendo-template">
    <div class="popupMessage"></div>
    </br>
    <div class="dialog_buttons">
        <input type="button" class="confirm_yes k-button" value="Yes" style="width: 70px"/>
    </div>
</script>
<script>
    function showConfirmationWindow(message) {
        return showWindow('#confirmationTemplate', message)
    }

    function showWindow(template, message) {
        var dfd = new jQuery.Deferred();
        var result = false;
        $("<div id='popupWindow'></div>")
                .appendTo("body")
                .kendoWindow({
                    {#                    width: "200px",#}
                    modal: true,
                    title: "",
                    modal: true,
                    visible: false,
                    close: function (e) {
                        this.destroy();
                        dfd.resolve(result);
                        window.location.reload();
                    }
                }).data('kendoWindow').content($(template).html()).center().open();
        $('.popupMessage').html(message);
        $('#popupWindow .confirm_yes').val('OK');
        {#        $('#popupWindow .confirm_no').val('Cancel');#}
        {#        $('#popupWindow .confirm_no').click(function () {#}
        {#            $('#popupWindow').data('kendoWindow').close();#}
        {#        });#}
        $('#popupWindow .confirm_yes').click(function () {
            result = true;
            $('#popupWindow').data('kendoWindow').close();
        });
        return dfd.promise();
    }
</script>

{# event change function #}
<script>
    $(function () {

        $(window).load(function () {
            $('body').css('margin-bottom', window.innerHeight / 2);
        });
        $(window).resize(function () {
            $('body').css('margin-bottom', window.innerHeight / 2);
        });
        window.addEventListener('focus', function () {
            var event_id = {{ request.session.event_auth_user.event_id }};
            $.ajax({
                url: base_url + '/admin/check-current-event/',
                type: "GET",
                data: {
                    'event_id': event_id
                },
                success: function (result) {
                    if (result.change_event) {
                        $.when(showConfirmationWindow("You have chenge the event. you need to reload!")).then(function (confirmed) {
                            if (confirmed) {
                                window.location.reload();
                            }
                        });
                    }
                }
            });
        });
    });

</script>





