<table class="confirmation-table confirmation-table-hotels">
	<thead>
		<tr>
			<th class="column-name">
				Hotel name
			</th>
			<th class="column-beds">
				# Beds
			</th>
			<th class="column-check-out">
				Check-out
			</th>
			<th class="column-check-in">
				Check-in
			</th>
			<th class="column-room-buddy-requested">
				Requested room buddy
			</th>
			<th class="column-room-buddy-actual">
				Actual room buddy
			</th>
			<th class="column-location">
				Location
			</th>
			<th class="column-"tags>
				Tags
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="column-name">
				Hotel name
			</td>
			<td class="column-beds">
				2
			</td>
			<td class="column-check-out">
				2016-10-22
			</td>
			<td class="column-check-in">
				2016-10-23
			</td>
			<td class="column-room-buddy-requested">
				Their request text, preferably email
			</td>
			<td class="column-room-buddy-actual">
				Firstname1 Lastname1 &lt;firstname1@domain.com&gt;, Firstname2 Lastname2 &lt;firstname2@domain.com&gt;

			</td>
			<td class="column-location">
				Some Location
			</td>
			<td class="column-tags">
				Tag1, Tag2, Tag3
			</td>
		</tr>
	</tbody>
</table>