<table class="confirmation-table confirmation-table-sessions">
	<thead>
		<tr>
			<th class="column-session">
				Session
			</th>
			<th class="column-group">
				Group
			</th>
			<th class="column-description">
				Description
			</th>
			<th class="column-start">
				Start
			</th>
			<th class="column-ends">
				End
			</th>
			<th class="column-location">
				Location
			</th>
			<th class="column-speakers">
				Speakers
			</th>
			<th class="column-tags">
				Tags
			</th>
			<th class="column-status">
				Status
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="column-session">
				Session name
			</td>
			<td class="column-group">
				Session group 1
			</td>
			<td class="column-description">
				Session description (rendered markdown)
			</td>
			<td class="column-start">
				2016-10-04 10:00
			</td>
			<td class="column-end">
				2016-10-04 10:00
			</td>
			<td class="column-location">
				Session Location
			</td>
			<td class="column-speakers">
				Speaker 1, Speaker 2, Speaker 3
			</td>
			<td class="column-tags">
				Tag1, Tag 2, Tag 3
			</td>
			<td class="column-status">
				Attending
			</td>
		</tr>
	</tbody>
</table>