<table class="confirmation-table confirmation-table-travels">
	<thead>
		<tr>
			<th class="column-name">
				Travel name
			</th>
			<th class="column-group">
				Group
			</th>
			<th class="column-departure-city">
				Departure city
			</th>
			<th class="column-arrival-city">
				Arrival city
			</th>
			<th class="column-departure-time-date">
				Departure time & date
			</th>
			<th class="column-arrival-time-date">
				Arrival time & date
			</th>
			<th class="column-location">
				Location
			</th>
			<th class="column-description">
				Description
			</th>
			<th class="column-tags">
				Tags
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="column-name">
				Travel home
			</td>
			<td class="column-group">
				Travel group 1
			</td>
			<td class="column-departure-city">
				Stockholm, ARL
			</td>
			<td class="column-arrival-city">
				Berlin, TXL
			</td>
			<td class="column-departure-time-date">
				2016-11-01 16:00
			</td>
			<td class="column-arrival-time-date">
				2016-11-03 16:00
			</td>
			<td class="column-location">
				Stockholm
			</td>
			<td class="column-description">
				Rendered markdown
			</td>
			<td class="column-tags">
				Tag1, Tag 2, Tag 3
			</td>
		</tr>
	</tbody>
</table>