{% load staticfiles %}
<div class="wrapper footer">
    <div class="wrapper">
        <div class="container">
            <div class="row gutters half">
                <div class="col span_6">
                    <img src="{% static 'public/images/kingfomarket_logo_footer.png' %}" class="onlyMobile"
                         style="max-width:8em!important;">&nbsp;
                </div>
                <!--col-->
                <div class="col span_6" style="text-align: right;">
                    <img src="{% static 'public/images/king_logo.png' %}" style="max-width:8em!important;">
                </div>
                <!--col-->
            </div>
            <!--row-->
        </div>
    </div>
</div>
{% if 'is_user_login' in request.session %}
    {% if request.session.event_user.attending == "Yes" %}
        <input type="hidden" id="hidden_secret" value="{{ request.session.event_user.secret_key }}">
        <input type="hidden" id="new_notification_count" value="{{ request.session.event_user.last_noty }}"/>
        <script>

            {#            var ws = new WebSocket("ws://0.0.0.0:5678/{{ request.session.event_user.secret_key }}");#}
            var ws = new WebSocket("{{ request.session.socket_url }}:5678/{{ request.session.event_user.secret_key }}");
            ws.onopen = function () {
                console.log("Socket Connected successfully");
            };
            ws.onmessage = function (event) {
                var content = event.data;
                console.log(content);
                var socket_data = JSON.parse(content)
                if (socket_data.nextup_data) {
                    for (i = 0; i < socket_data.nextup_data.length; i++) {
                        $.growl.notify({message: socket_data.nextup_data[i]})
                    }
                }
                if (socket_data.evaluation_data) {
                    for (i = 0; i < socket_data.evaluation_data.length; i++) {
                        $.growl.notify({message: socket_data.evaluation_data[i]})
                    }
                }
                for (i = 0; i < socket_data.message_data.length; i++) {
                    $.growl.notify({message: socket_data.message_data[i]})
                }


            };
        </script>

        <script type="application/javascript">
            jQuery(document).ready(function ($) {
                if (readCookie("hitcount")) {
                    console.log(readCookie("hitcount"))
                } else {
                    console.log("creating new cookie")
                    createCookie("hitcount", generateUUID(), 7)
                }


            });

            function generateUUID() {
                var d = new Date().getTime();
                if (window.performance && typeof window.performance.now === "function") {
                    d += performance.now(); //use high-precision timer if available
                }
                var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                    var r = (d + Math.random() * 16) % 16 | 0;
                    d = Math.floor(d / 16);
                    return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
                });
                return uuid;
            }

            function createCookie(name, value, days) {
                var expires;

                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                    expires = "; expires=" + date.toGMTString();
                } else {
                    expires = "";
                }
                document.cookie = encodeURIComponent(name) + "=" + encodeURIComponent(value) + expires + "; path=/";
            }

            function readCookie(name) {
                var nameEQ = encodeURIComponent(name) + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) === ' ') c = c.substring(1, c.length);
                    if (c.indexOf(nameEQ) === 0) return decodeURIComponent(c.substring(nameEQ.length, c.length));
                }
                return null;
            }

            function eraseCookie(name) {
                createCookie(name, "", -1);
            }
        </script>
    {% endif %}
{% endif %}


