{% extends "gt/layout/layout.html" %}
{% block content %}
    {% csrf_token %}
    <div class="wrapper headline color8" style="padding: 0; z-index: 2;">
        <div id="bg1"></div>
        <div class="wrapper" style="z-index: 2; overflow-x: visible;">

            <h1 class="color1">Sen anmälan</h1>
        </div>
    </div>


    <div class="wrapper">
        <div class="container padding mainContent">
            <p>&nbsp;</p>
            <p>Börja din anmälan med att fylla i dina personliga uppgifter.</p>

            <form id="initalForm">
                <h2>Registrering</h2>

                <div class="row gutters">
                    <div class="col span_6 formQuestion attendee" id="attendee1" data-id="134" data-req="1">
                        <label for="attendee-fornamn">Förnamn</label>
                        <input type="text" id="attendee-fornamn" class="given-answer"/>
                        <div class="errorValidating">
                            Fyll i ditt förnamn
                        </div>
                    </div>

                    <div class="col span_6 formQuestion attendee " id="attendee2" data-id="135" data-req="1">
                        <label for="attendee-efternamn">Efternamn</label>
                        <input type="text" id="attendee-efternamn" class="given-answer"/>

                        <div class="errorValidating">
                            Fyll i ditt efternamn
                        </div>
                    </div>
                </div>

                <div class="row gutters">
                    <div class="col span_6 formQuestion attendee " id="attendee3" data-id="136" data-req="1">
                        <label for="attendee-email">E-postadress</label>
                        <input type="text" id="attendee-email" class="given-answer"/>

                        <div class="errorValidating">
                            Fyll i din @se.gt.com e-postadress
                        </div>
                    </div>

                    <div class="col span_6 formQuestion attendee " id="attendee4" data-id="137" data-req="1">
                        <label for="attendee-mobiltelefon">Mobiltelefon</label>
                        <input type="text" id="attendee-mobiltelefon" class="given-answer"/>

                        <div class="errorValidating">
                            Fyll i ditt mobiltelefonnummer
                        </div>
                    </div>
                </div>

                <div class="row gutters">
                    <div class="col span_6 formQuestion attendee " id="attendee5" data-id="138" data-req="1">
                        <label for="attendee-anstallningsnummer">Anställningsnummer</label>
                        <input type="text" id="attendee-anstallningsnummer" class="given-answer"/>

                        <div class="errorValidating">
                            Fyll ditt anställningsnummer
                        </div>
                    </div>

                    <div class="col span_6 formQuestion attendee " id="attendee6" data-id="139" data-req="1">

                        <label for="attendee-kostnadsstalle">Kostnadsställe</label>
                        <div class="validationBorder">
                            <select class="custom-select given-answer" id="attendee-kostnadsstalle">
                                <option value="">
                                    - Välj -
                                </option>

                                <option value="100 Stockholm Admin">
                                    100 Stockholm Admin
                                </option>

                                <option value="101 Stockholm grupp 1">
                                    101 Stockholm grupp 1
                                </option>

                                <option value="102 Stockholm grupp 2">
                                    102 Stockholm grupp 2
                                </option>

                                <option value="103 Stockholm grupp 3">
                                    103 Stockholm grupp 3
                                </option>

                                <option value="104 Stockholm grupp 4">
                                    104 Stockholm grupp 4
                                </option>

                                <option value="105 Stockholm grupp 5">
                                    105 Stockholm grupp 5
                                </option>

                                <option value="106 Stockholm grupp 6">
                                    106 Stockholm grupp 6
                                </option>

                                <option value="111 Sthlm Business Risk Servi">
                                    111 Sthlm Business Risk Servi
                                </option>

                                <option value="120 Ekonomiservice">
                                    120 Ekonomiservice
                                </option>

                                <option value="121 Ekonomiservice">
                                    121 Ekonomiservice
                                </option>

                                <option value="125 Ekonomiservice">
                                    125 Ekonomiservice
                                </option>

                                <option value="150 MOC Stockholm">
                                    150 MOC Stockholm
                                </option>

                                <option value="151 Stockholm centralt">
                                    151 Stockholm centralt
                                </option>

                                <option value="180 Corporate Finance">
                                    180 Corporate Finance
                                </option>

                                <option value="181 Corporate Finance Göteborg">
                                    181 Corporate Finance Göteborg
                                </option>

                                <option value="190 Skatt Admin">
                                    190 Skatt Admin
                                </option>

                                <option value="191 Skatt Ägarledda ftg">
                                    191 Skatt Ägarledda ftg
                                </option>

                                <option value="192 Skatt Internationellt">
                                    192 Skatt Internationellt
                                </option>

                                <option value="193 Skatt Moms">
                                    193 Skatt Moms
                                </option>

                                <option value="194 Skatt Karlstad">
                                    194 Skatt Karlstad
                                </option>

                                <option value="195 Skatt Norrköping">
                                    195 Skatt Norrköping
                                </option>

                                <option value="196 Skatt Göteborg">
                                    196 Skatt Göteborg
                                </option>

                                <option value="197 Skatt Malmö">
                                    197 Skatt Malmö
                                </option>

                                <option value="198 Skatt Falun">
                                    198 Skatt Falun
                                </option>

                                <option value="199 Skatt Företagsbeskattning">
                                    199 Skatt Företagsbeskattning
                                </option>

                                <option value="200 Skatt Sundsvall">
                                    200 Skatt Sundsvall
                                </option>

                                <option value="201 Skatt Umeå">
                                    201 Skatt Umeå
                                </option>

                                <option value="202 Skatt Örebro">
                                    202 Skatt Örebro
                                </option>

                                <option value="203 Skatt Jönköping">
                                    203 Skatt Jönköping
                                </option>

                                <option value="204 Skatt Kristianstand">
                                    204 Skatt Kristianstand
                                </option>

                                <option value="205 Skatt Uppsala">
                                    205 Skatt Uppsala
                                </option>

                                <option value="210 Göteborg Admin">
                                    210 Göteborg Admin
                                </option>

                                <option value="210 Göteborg Admin">
                                    210 Göteborg Admin
                                </option>

                                <option value="211 ES Grupp">
                                    211 ES Grupp
                                </option>

                                <option value="212 Göteborg Redovisning">
                                    212 Göteborg Redovisning
                                </option>

                                <option value="212 ES Grupp">
                                    212 ES Grupp
                                </option>

                                <option value="213 Revision Grupp">
                                    213 Revision Grupp
                                </option>

                                <option value="214 Revision Grupp">
                                    214 Revision Grupp
                                </option>

                                <option value="214 Göteborg Rev grupp 4">
                                    214 Göteborg Rev grupp 4
                                </option>

                                <option value="310 Malmö">
                                    310 Malmö
                                </option>

                                <option value="320 Helsingborg">
                                    320 Helsingborg
                                </option>

                                <option value="330 Kristianstand">
                                    330 Kristianstand
                                </option>

                                <option value="410 Västerås">
                                    410 Västerås
                                </option>

                                <option value="420 Eskilstuna">
                                    420 Eskilstuna
                                </option>

                                <option value="430 Nyköping">
                                    430 Nyköping
                                </option>

                                <option value="440 Örebro">
                                    440 Örebro
                                </option>

                                <option value="450 Karlstad">
                                    450 Karlstad
                                </option>

                                <option value="470 Lindesberg">
                                    470 Lindesberg
                                </option>

                                <option value="510 Norrköping">
                                    510 Norrköping
                                </option>

                                <option value="520 Linköping">
                                    520 Linköping
                                </option>

                                <option value="530 Jönköping">
                                    530 Jönköping
                                </option>

                                <option value="540 Kalmar">
                                    540 Kalmar
                                </option>

                                <option value="550 Visby">
                                    550 Visby
                                </option>

                                <option value="610 Östersund">
                                    610 Östersund
                                </option>

                                <option value="620 Sundsvall">
                                    620 Sundsvall
                                </option>

                                <option value="630 Luleå">
                                    630 Luleå
                                </option>

                                <option value="640 Umeå">
                                    640 Umeå
                                </option>

                                <option value="710 Gävle">
                                    710 Gävle
                                </option>

                                <option value="720 Sandviken">
                                    720 Sandviken
                                </option>

                                <option value="730 Falun">
                                    730 Falun
                                </option>

                                <option value="750 Uppsala">
                                    750 Uppsala
                                </option>

                                <option value="901 Företagsledning">
                                    901 Företagsledning
                                </option>

                                <option value="902 Ekonomi">
                                    902 Ekonomi
                                </option>

                                <option value="903 Central funkt. Kval redovi">
                                    903 Central funkt. Kval redovi
                                </option>

                                <option value="904 Personal">
                                    904 Personal
                                </option>

                                <option value="905 IT-avdelningen">
                                    905 IT-avdelningen
                                </option>

                                <option value="906 Risk Management">
                                    906 Risk Management
                                </option>

                                <option value="907 Marknad">
                                    907 Marknad
                                </option>

                                <option value="908 Central funkt. Ekonomiserv">
                                    908 Central funkt. Ekonomiserv
                                </option>

                                <option value="909 Webbkontoret">
                                    909 Webbkontoret
                                </option>
                            </select>
                        </div>

                        <div class="errorValidating noMargin">
                            Välj ditt kostnadsställe
                        </div>
                    </div>
                </div>

            </form>

            <h2>Min medverkan</h2>
            <p>Här under min medverkan anger du dina önskemål för Kunskapsveckan och GetTogether. <br/>
                Medverkan på GetTogether är garanterad eftersom den är obligatorisk för alla medarbetare. Dina övriga
                önskemål såsom logi, kurser etc. kommer vi att tillgodose i mån av plats.</p>
            <p>Efter du har bekräftat dina val kommer vi så snart vi kan ge besked om din anmälan.</p>


            <form id="initalForm2">
                <h2>Logi</h2>
                <div class="row gutters">
                    <div class="col span_12 formQuestion attendee" id="attendee18" data-id="141" data-req="0">
                        <label>Logi sker i del i dubbelrum. Endast ett fåtal enkelrum finns att tillgå. Om du av
                            medicinska eller andra skäl önskar att bo i ett enkelrum, vänligen kryssa i rutan nedan och
                            motivera varför du önskar ett enkelrum.<span>Du förväntas fortfarande ange vem du önskar dela boende med i hotellbokningen nedan, om din önskan avslås.</span></label><br/>
                        <input type="checkbox" id="participants-enkelrum" value="Jag önskar att sova i ett enkelrum"
                               class="given-answer"/><label for="participants-enkelrum">Jag önskar
                        att sova i ett enkelrum</label>

                    </div>
                </div>

                <div class="row gutters">
                    <div class="col span_12 formQuestion attendee" id="attendee19" data-id="149" data-req="0">
                        <label for="participants-enkelrum-motivering">Vänligen motivera varför du önskar bo i ett
                            enkelrum</label>
                        <textarea id="participants-enkelrum-motivering" class="given-answer"></textarea>
                        <div class="errorValidating noMargin">
                            Motivera varför du önskar bo i ett enkelrum
                        </div>
                    </div>
                </div>

                <div class="row gutters">
                    <div class="col span_12 formQuestion attendee" id="attendee7" data-id="140" data-req="0">
                        <label for="attendee-ovrigt">Övrig information, t.ex. matavvikelser</label>
                        <textarea id="attendee-ovrigt" class="given-answer"></textarea>
                    </div>
                </div>

                <h2>Kunskapsveckan</h2>
                <div class="row gutters">
                    <div class="col span_6 formQuestion attendee" id="attendee11" data-id="142" data-req="1">
                        <label>Jag kommer att delta på Kunskapsveckan</label><br/>
                        <input type="radio" name="participants-" id="participants-kunskapsveckan-ja" value="Ja"
                               class="given-answer"><label
                            for="participants-kunskapsveckan-ja">Ja</label>
                        <input type="radio" name="participants-" id="participants-kunskapsveckan-nej" value="Nej"
                               class="given-answer"><label
                            for="participants-kunskapsveckan-nej">Nej</label>
                    </div>
                    <div class="col span_6 attendee" id="attendee16">
                        <div class="well color1">
                            <div class="content">
                                <h3>Information</h3>
                                <p class="fontSmall">Efter att du har bekräftat registreringen nedan har du möjlighet
                                    att göra dina kurs- och seminarieval. Du kan när som helst innan den 6 maj återvända
                                    till denna sida och anpassa dina logi- och middagsval till dina kurs- och
                                    seminarieval under Kunskapsveckan.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row gutters">
                    <div class="col span_12 attendee registration-item" id="attendee15">
                        <label>Jag vill ha middag följande dagar <span>Middag fredag 9 september och lördag 10 september inkluderas om du väljer att delta i GetTogether.</span></label><br/>
                        <input type="checkbox" name="participants-" id="dinner-kunskapsveckan-sondag"
                               value="145" class="gt-session"><label
                            for="dinner-kunskapsveckan-sondag">Middag söndagen den 4 september</label><br/>
                        <input type="checkbox" name="participants-" id="dinner-kunskapsveckan-mandag"
                               value="146" class="gt-session"><label
                            for="dinner-kunskapsveckan-mandag">Middag måndagen den 5 september</label><br/>
                        <input type="checkbox" name="participants-" id="dinner-kunskapsveckan-tisdag"
                               value="147" class="gt-session"><label
                            for="dinner-kunskapsveckan-tisdag">Middag tisdagen den 6 september</label><br/>
                        <input type="checkbox" name="participants-" id="dinner-kunskapsveckan-onsdag"
                               value="148" class="gt-session"><label
                            for="dinner-kunskapsveckan-onsdag">Middag onsdagen den 7 september</label><br/>
                        <input type="checkbox" name="participants-" id="dinner-kunskapsveckan-torsdag"
                               value="149" class="gt-session"><label
                            for="dinner-kunskapsveckan-torsdag">Middag torsdagen den 8 september</label><br/>
                    </div>
                </div>

                <div class="row gutters">
                    <div class="col span_6 formQuestion attendee" id="attendee12" data-id="144" data-req="1">
                        <label>Jag önskar logi under Kunskapsveckan <span>Logival för GetTogether sker under dess rubrik nedan.</span></label><br/>
                        <input type="radio" name="participants-kunskapsveckan-hotell"
                               id="participants-kunskapsveckan-hotell-ja" value="Ja" class="given-answer"/><label
                            for="participants-kunskapsveckan-hotell-ja">Ja</label>
                        <input type="radio" name="participants-kunskapsveckan-hotell"
                               id="participants-kunskapsveckan-hotell-nej" value="Nej" class="given-answer"><label
                            for="participants-kunskapsveckan-hotell-nej">Nej</label>
                    </div>

                    <div class="col span_6 registration-item attendee white gt-hotel" data-room="6" id="attendee13"
                         style="padding: 1em;">
                        <h3 class="color1">Hotell under Kunskapsveckan</h3>
                        <p>Välj de in- och utcheckningsdatum som passar dina kurs- och seminarieval.</p>
                        <p>Du kan när som helst återvända och anpassa dina logival till dina kurs- och seminarieval.</p>

                        <label for="kunskapsveckan-hotell">Datum <span>In- och utcheckningsdatum</span></label>
                        <div id="kunskapsveckan-hotell-wrapper">
                            <input type="text" id="kunskapsveckan-hotell">
                            <div class="errorValidating noMargin">
                                Ange ditt in- och utcheckningsdatum
                            </div>
                        </div>
                        <div>
                            <label for="kunskapsveckan-hotell-dela-rum-med">Jag önskar dela rum med<span>Ange personens e-postadress (@se.gt.com). Glöm inte att meddela personen du önskar dela rum med.</span></label>
                            <input type="text" class="gt-buddy" id="kunskapsveckan-hotell-dela-rum-med"/>
                            <div class="errorValidating noMargin">
                                Ange e-postadressen till den person du önskar dela rum med
                            </div>
                        </div>
                    </div>
                </div>

                <h2>GetTogether</h2>

                <div class="row gutters">
                    <div class="col span_6 formQuestion attendee" id="attendee8" data-id="147" data-req="1">
                        <label>Jag kommer att delta på GetTogether</label><br/>
                        <input type="radio" name="participants-get-together" id="participants-get-together-ja"
                               value="Ja" class="given-answer"/><label
                            for="participants-get-together-ja">Ja</label>
                        <input type="radio" name="participants-get-together" id="participants-get-together-nej"
                               value="Nej" class="given-answer"><label
                            for="participants-get-together-nej">Nej</label>
                    </div>
                    <div class="col span_6 formInfo attendee" id="attendee17">
                        <div class="well color1">
                            <div class="content">
                                <h3>Information</h3>
                                <p class="fontSmall">För dig som deltar på GetTogether ingår middag fredag 9 september
                                    och lördag 10 september.</p>
                                <p class="fontSmall">Önskar du ändra login under GetTogether, vänligen kontakta <a
                                        href="mailto:my.nyander@springconf.com" style="color: white;">my.nyander@springconf.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row gutters">
                    <div class="col span_6 formQuestion attendee" id="attendee9" data-id="148" data-req="1">
                        <label>Jag önskar logi under GetTogether</label><br/>
                        <input type="radio" name="participants-get-together-hotell"
                               id="participants-get-together-hotell-ja" value="Ja" class="given-answer"/><label
                            for="participants-get-together-hotell-ja">Ja</label>
                        <input type="radio" name="participants-get-together-hotell"
                               id="participants-get-together-hotell-nej" value="Nej" class="given-answer"><label
                            for="participants-get-together-hotell-nej">Nej</label>
                    </div>

                    <div class="col span_6 registration-item attendee white gt-hotel" data-room="7" id="attendee10"
                         style="padding: 1em;">
                        <h3 class="color1">Hotell under GetTogether</h3>
                        <p>Du har tilldelats en del i dubbelrum med incheckning fredag 9 september och utcheckning
                            söndag 11 september. Önskar du ändra login under GetTogether, vänligen kontakta
                            <a href="mailto:my.nyander@springconf.com">my.nyander@springconf.com</a></p>
                        <label for="get-together-hotell">Datum <span>In- och utcheckningsdatum</span></label>
                        <div id="get-together-hotell-wrapper">
                            <input type="text" id="get-together-hotell" value="2016-09-09 till 2016-09-11" disabled>
                            <div class="errorValidating noMargin">
                                Ange ditt in- och utcheckningsdatum
                            </div>
                        </div>
                        <div>
                            <label for="get-together-hotell-dela-rum-med">Jag önskar dela rum med<span>Ange personens e-postadress (@se.gt.com). Glöm inte att meddela personen du önskar dela rum med.</span></label>
                            <input type="text" class="gt-buddy" id="get-together-hotell-dela-rum-med"/>
                            <div class="errorValidating noMargin">
                                Ange e-postadressen till den person du önskar dela rum med
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row gutters">
                <div class="col span_12 attendee" id="attendee14" style="text-align: right;">
                    <input type="button" class="button color2 rounded" id="btn-sen-register-attendee"
                           value="Bekräfta"/>
                </div>
            </div>
        </div><!-- mainContent -->

    </div><!--wrapper-->
    {% load staticfiles %}
    <img src="{% static 'gt/images/712.GIF' %}" class="loader" alt="" id="registration-loader"/>
    <script src="{% static 'gt/js/sen_registration.js' %}" type="text/javascript"></script>
{% endblock %}