{% extends "layout/login.html" %}
{% block title %}Event Manager :: Reset Password{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h1 class="text-center login-title">EventDobby Admin</h1>
                <div class="account-wall">
                    <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                        alt="">
                    {% if msg %}
                        <p class="alert alert-danger">{{ msg }}</p>
                    {% endif %}
                    <div class="form-signin">
                        {% csrf_token %}
                        <input type="text" class="form-control" id="txt-email" name="email" placeholder="Email" autofocus style="margin-bottom: 10px;">
                        <button class="btn btn-lg btn-primary btn-block" id="btn-reset-password">
                            Reset Password</button>
                        <a href="{% url 'login' %}" class="pull-right need-help">Login</a><span class="clearfix"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $body = $('body');
            var csrf_token = $('input[name=csrfmiddlewaretoken]').val();
            var base_url = window.location.origin;
            $body.on('click', '#btn-reset-password', request_password_reset);
            function request_password_reset(e) {
                var email = $('#txt-email').val();
                if(!validEmail(email)){
                    $.growl.error({'message': 'Email is not valid'});
                    return;
                }
                $.ajax({
                    url: base_url + '/admin/reset-your-password/',
                    type: "POST",
                    data: {
                        email: email,
                        csrfmiddlewaretoken: csrf_token
                    },
                    success: function (response) {
                        if(response.success){
                            $.growl.notice({'message': response.messages[0]});
                        }
                        else{
                            $.growl.error({'message': response.errors[0]});
                        }
                    }
                });
            }
        });

        function validEmail(email) {
            var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
            return re.test(email);
        }

    </script>

{% endblock %}
