{% extends "layout/login.html" %}
{% block title %}Wsit Eventr :: Change Password{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h1 class="text-center login-title">Wsit Event Admin</h1>
                <div class="account-wall">
                    <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                        alt="">
                    {% if message %}
                        <p class="alert alert-danger">{{ message }}</p>
                    {% else %}
                        <form class="form-signin" action="{% url 'reset-password' %}" method="post" onsubmit="return validate()">
                            {% csrf_token %}
                            <input type="hidden" value="{{ hash_code }}" name="key">
                            <input type="hidden" value="{{ user_id }}" name="uid">
                            <input type="password" class="form-control"  name="password" placeholder="Password" autofocus>
                            <input type="password" class="form-control"  name="confirm_password"
                                   placeholder="Confirm Password" style="margin-bottom: 10px;">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script>

        function validate() {
               var password = $('input[name="password"]').val();
                clog(password);
               var confirmPassword = $('input[name="confirm_password"]').val();

               if(password.length < 6){
                   showValidattionMessage("Password length should be greater than 6.");
                   return false;
               }
               else if (password != confirmPassword){
                   showValidattionMessage("Passwords do not match.");
                   return false;
               }
            }

            function showValidattionMessage(msg) {
                $.growl.error({'message': msg});
            }

    </script>
{% endblock %}